Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

refactor(US-160): remove asyncio.run from services; purge 'domein' base_context; decouple config/verboden_woorden from Streamlit
  docs/portal/index.html
  docs/portal/portal-index.json
  src/config/verboden_woorden.py
  src/services/definition_edit_service.py
  src/services/definition_generator_context.py
  src/services/export_service.py
  src/services/prompts/prompt_service_v2.py
  src/services/service_factory.py
Due: no-todo-markers

feat(portal/ux): compact meta badges (sprint/SP/release) + titles; docs reflect badge usage across views
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
Due: none

refactor(UI): drop legacy best_iteration prompt path; V2-only prompt debug with saved_record fallback
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

refactor(UI): legacy best_iteration removed from orchestration tab; V2-style summary only
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/orchestration_tab.py
Due: no-todo-markers

refactor(UI): orchestration tab returns strict V2 UIResponseDict; display logic updated to V2 fields
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/orchestration_tab.py
Due: no-todo-markers

chore(UI): clean up legacy comments in tabbed_interface; clarify V2-only validation path
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/tabbed_interface.py
Due: no-todo-markers

docs(portal): update US-097 (planning polish), US-100 (tabs/views), EPIC-013 AC; README aligned with new features
  docs/backlog/EPIC-013/EPIC-013.md
  docs/backlog/EPIC-013/US-097/US-097.md
  docs/backlog/EPIC-013/US-100/US-100.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs(backlog): add US-170 to connect Orchestration tab to V2 orchestrator (UI wiring, gate, async-bridge)
  docs/backlog/EPIC-012/EPIC-012.md
  docs/backlog/EPIC-012/US-170/US-170.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs(requirements): add REQ-097 Iteratieve Verbetering van Definities (V2 Orchestrator) with SMART criteria and BDD
  docs/backlog/requirements/REQ-097.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change
