Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(portal): Planning/Requirements tabs + CI + pre-commit hooks
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

docs: restore CLAUDE.md to canonical guidance
  CLAUDE.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

chore(backlog): fix stray US-061 under EPIC-013
  docs/INDEX.md
  docs/backlog/EPIC-003/US-061/BUSINESS_KNOWLEDGE_EXTRACTION.md
  docs/backlog/EPIC-012/EPIC-012.md
  docs/backlog/EPIC-012/US-061/US-061.md
  docs/backlog/EPIC-014/EPIC-014.md
  docs/backlog/EPIC-014/US-107/US-107.md
  docs/backlog/EPIC-014/US-108/US-108.md
  docs/backlog/EPIC-014/US-109/US-109.md
  docs/backlog/EPIC-014/US-110/US-110.md
  docs/backlog/EPIC-014/US-111/US-111.md
  docs/backlog/EPIC-014/US-112/US-112.md
  docs/backlog/EPIC-014/US-113/US-113.md
  docs/backlog/EPIC-014/US-114/US-114.md
  docs/backlog/EPIC-014/US-115/US-115.md
  docs/backlog/EPIC-014/US-116/US-116.md
  docs/backlog/EPIC-014/US-117/US-117.md
  docs/backlog/EPIC-014/US-118/US-118.md
  docs/backlog/EPIC-014/US-119/US-119.md
  docs/backlog/EPIC-014/US-120/US-120.md
  docs/backlog/EPIC-014/US-121/US-121.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

chore(backlog): place Business Knowledge Extraction under EPIC-012/US-061
  docs/backlog/EPIC-012/US-061/BUSINESS_KNOWLEDGE_EXTRACTION.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

chore(traceability): link EPIC-013 to US-061 (source of business knowledge)
  docs/backlog/EPIC-013/EPIC-013.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: generate-portal-on-docs-change

chore(backlog): renumber EPIC-003 Wiktionary story US-061 -> US-062
  docs/backlog/EPIC-003/EPIC-003.md
  docs/backlog/EPIC-003/US-061/BUSINESS_KNOWLEDGE_EXTRACTION.md
  docs/backlog/EPIC-003/US-062/US-062.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

chore(traceability): link EPIC-014 to US-061 (extraction source)
  docs/backlog/EPIC-014/EPIC-014.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: generate-portal-on-docs-change

docs: auto-fix broken links to canonical backlog structure
  docs/ARCHIEF/ARCHITECTURE_OVERVIEW.html
  docs/TRACEABILITY-MATRIX.md
  docs/architectuur/SOLUTION_ARCHITECTURE.md
  docs/architectuur/decisions/ADR-005-UNIFIED-STATE-MANAGEMENT.md
  docs/backlog/EPIC-005/US-027/US-027.md
  docs/backlog/EPIC-012/EPIC-012.md
  docs/backlog/dashboard/README.md
  docs/backlog/dashboard/epics/EPIC-001.html
  docs/backlog/dashboard/epics/EPIC-002.html
  docs/backlog/dashboard/epics/EPIC-003.html
  docs/backlog/dashboard/epics/EPIC-004.html
  docs/backlog/dashboard/epics/EPIC-005.html
  docs/backlog/dashboard/epics/EPIC-006.html
  docs/backlog/dashboard/epics/EPIC-007.html
  docs/backlog/dashboard/epics/EPIC-009.html
  docs/backlog/dashboard/epics/EPIC-010.html
  docs/backlog/dashboard/epics/EPIC-011.html
  docs/implementation/ANDERS-OPTION-IMPLEMENTATION-ROADMAP.md
  docs/implementation/EPIC-010-implementation-plan.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/testing/EPIC-010-test-strategy.md
  docs/testing/EPIC_010_TEST_SUITE_SUMMARY.md
  scripts/docs/fix_links.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(archief): fix archived dashboard cross-links to canonical architecture docs
  docs/ARCHIEF/ARCHITECTURE_OVERVIEW.html
  docs/ARCHIEF/ARCHITECTURE_VISUALIZATION_DETAILED.html
  docs/ARCHIEF/ENTERPRISE_ARCHITECTURE_DASHBOARD.html
  docs/ARCHIEF/SOLUTION_ARCHITECTURE_DASHBOARD.html
  docs/backlog/EPIC-012/US-062/US-062.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
