Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(claude): streamline CLAUDE.md v4.0 → v5.0 (58% smaller)
  CLAUDE.md
Due: none

fix(lint): resolve all 101 ruff errors (101 → 0)
  pyproject.toml
  scripts/backup_restore.py
  scripts/check_streamlit_patterns.py
  scripts/demo_term_classifier.py
  scripts/maintenance/fix_smart_compliance.py
  scripts/maintenance/web_lookup_debug.py
  scripts/recover_voorbeelden.py
  scripts/test_rechtspraak_scraping.py
  tests/integration/test_export_levels_comprehensive.py
  tests/manual_test_enhanced_ui_flow.py
  tests/performance/test_def110_regression.py
  tests/performance/test_rule_cache_performance.py
  tests/repositories/test_synonym_repository.py
  tests/security/test_async_security_comprehensive.py
  tests/services/test_ufo_classifier_service_comprehensive.py
  tests/test_def111_render_metric_fix.py
  tests/test_definition_save_integration.py
  tests/test_per007_astra_compliance_red.py
  tests/unit/test_classification_single_path.py
  tests/unit/web_lookup/test_modern_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs: update product-manager analysis with current backlog prioritization
  project-documentation/product-manager-output.md
  scripts/backup_restore.py
  scripts/check_streamlit_patterns.py
  tests/performance/test_rule_cache_performance.py
  tests/repositories/test_synonym_repository.py
  tests/services/test_ufo_classifier_service_comprehensive.py
  tests/test_per007_astra_compliance_red.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore: ignore AI tooling directories (.bmad, .codex, .cursor)
  .gitignore
Due: none

test: update instruction optimization tests for CLAUDE.md v5.0
  tests/integration/test_instruction_optimization.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

security: remove hardcoded OpenAI API key from config
  config/config.yaml
Due: none

DEF-186: Codebase cleanup - lint fixes, docs update, security fix (#68)
  .gitignore
  CLAUDE.md
  config/config.yaml
  project-documentation/product-manager-output.md
  pyproject.toml
  scripts/backup_restore.py
  scripts/check_streamlit_patterns.py
  scripts/demo_term_classifier.py
  scripts/maintenance/fix_smart_compliance.py
  scripts/maintenance/web_lookup_debug.py
  scripts/recover_voorbeelden.py
  scripts/test_rechtspraak_scraping.py
  tests/integration/test_export_levels_comprehensive.py
  tests/integration/test_instruction_optimization.py
  tests/manual_test_enhanced_ui_flow.py
  tests/performance/test_def110_regression.py
  tests/performance/test_rule_cache_performance.py
  tests/repositories/test_synonym_repository.py
  tests/security/test_async_security_comprehensive.py
  tests/services/test_ufo_classifier_service_comprehensive.py
  tests/test_def111_render_metric_fix.py
  tests/test_definition_save_integration.py
  tests/test_per007_astra_compliance_red.py
  tests/unit/test_classification_single_path.py
  tests/unit/web_lookup/test_modern_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(claude): add /analyze-issue slash command for Linear issue analysis
  .claude/commands
  .claude/commands/analyze-issue.md
Due: none

feat(prompt): DEF-188 - Add implicit context mechanisms (vocabulaire/scope/relaties)
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/prompt_orchestrator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(config): add load_dotenv() to main.py for .env file support
  src/main.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(cleanup): DEF-194 - Remove unused stub services
  src/services/alerts.py
  src/services/compliance.py
  src/services/monitoring.py
  src/services/storage.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(cleanup): DEF-196 - Remove dead code caching.py + resilience_summary.py
  src/utils/caching.py
  src/utils/resilience_summary.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(analysis): DEF-196 - Multi-agent codebase & backlog analysis reports
  docs/analysis/2025-11-27_backlog-cleanup-plan.md
  docs/analysis/2025-11-27_multi-agent-cleanup-analysis.md
  docs/analysis/2025-11-27_multi-agent-codebase-analysis.md
Due: none

refactor(cleanup): DEF-196 - Remove dead synonym_service code (-4,029 LOC)
  src/services/container.py
  src/services/web_lookup/synonym_service.py
  src/services/web_lookup/synonym_service_refactored.py
  tests/fixtures/web_lookup_fixtures.py
  tests/integration/test_improved_web_lookup.py
  tests/services/web_lookup/test_semantic_clusters.py
  tests/services/web_lookup/test_synonym_service.py
  tests/services/web_lookup/test_synonym_service_facade.py
  tests/services/web_lookup/test_weighted_synonyms.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(cleanup): DEF-197 - Remove optimized_resilience.py (-873 LOC)
  src/utils/optimized_resilience.py
  tests/performance/test_performance_comprehensive.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

ci(workflow): accept DEF-{number}/* branch naming pattern
  .github/workflows/quality-gates.yml
Due: none

ci(workflow): add timeout + continue-on-error to Codecov upload
  .github/workflows/test.yml
Due: none

DEF-196: Dead Code Removal (~5,500 LOC cleanup) (#70)
  .github/workflows/quality-gates.yml
  .github/workflows/test.yml
  docs/analysis/2025-11-27_backlog-cleanup-plan.md
  docs/analysis/2025-11-27_multi-agent-cleanup-analysis.md
  docs/analysis/2025-11-27_multi-agent-codebase-analysis.md
  src/services/container.py
  src/services/web_lookup/synonym_service.py
  src/services/web_lookup/synonym_service_refactored.py
  src/utils/caching.py
  src/utils/optimized_resilience.py
  src/utils/resilience_summary.py
  tests/fixtures/web_lookup_fixtures.py
  tests/integration/test_improved_web_lookup.py
  tests/performance/test_performance_comprehensive.py
  tests/services/web_lookup/test_semantic_clusters.py
  tests/services/web_lookup/test_synonym_service.py
  tests/services/web_lookup/test_synonym_service_facade.py
  tests/services/web_lookup/test_weighted_synonyms.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-198: Fix services→UI layer violation in progress_context
  .github/workflows/epic-010-gates.yml
  scripts/ci/check-forbidden-patterns.sh
  src/database/definitie_repository.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/progress_context.py
  src/services/service_factory.py
  src/ui/helpers/__init__.py
  src/ui/helpers/progress_context.py
  tests/unit/test_progress_context.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(config): add load_dotenv() to main.py for automatic .env loading
  src/main.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(env): ensure .env overrides shell environment variables
  src/main.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(arch): clean architecture fix - callback pattern for progress tracking
  .github/workflows/epic-010-gates.yml
  scripts/ci/check-forbidden-patterns.sh
  src/database/definitie_repository.py
  src/main.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/helpers/progress_context.py
  src/utils/progress_callback.py
  tests/unit/test_progress_callback.py
  tests/unit/test_progress_context.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-198: Fix services→UI layer violation with callback pattern
  .github/workflows/epic-010-gates.yml
  scripts/ci/check-forbidden-patterns.sh
  src/database/definitie_repository.py
  src/main.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/progress_context.py
  src/services/service_factory.py
  src/ui/helpers/__init__.py
  src/utils/progress_callback.py
  tests/unit/test_progress_callback.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(quick-wins): DEF-154, DEF-183, DEF-184, DEF-188 batch implementation
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/prompt_orchestrator.py
  src/services/web_lookup/synonym_service.py
  src/toetsregels/regels/DUP_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DUP_01): add 23 unit tests + fix import prefix (DEF-183, DEF-184)
  src/services/web_lookup/synonym_service.py
  src/toetsregels/regels/__init__.py
  tests/validation_rules/__init__.py
  tests/validation_rules/test_DUP_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DUP_01): add type annotations for repository attribute
  src/toetsregels/regels/DUP_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-154, DEF-183, DEF-184, DEF-188: Quick Wins Batch + Unit Tests (#72)
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/prompt_orchestrator.py
  src/services/web_lookup/synonym_service.py
  src/toetsregels/regels/DUP_01.py
  src/toetsregels/regels/__init__.py
  tests/validation_rules/__init__.py
  tests/validation_rules/test_DUP_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
