Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

test(orchestrator): add monitoring integration; expand PR profile; ci: raise services coverage advisory to 80%
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/run_tests.sh
  tests/services/orchestrators/test_definition_orchestrator_v2_monitoring.py
Due: no-todo-markers

test(mappers): add ensure_schema_compliance and degraded-result schema edge cases
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/services/test_validation_mappers_schema_compliance.py
Due: no-todo-markers

chore(validation): breid categorisatie uit (SAM=samenhang, ARAI/VER=taal, INT=structuur) en centraliseer additional_patterns voor V2
  CHANGELOG.md
  README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/modern_web_lookup_service.py
  src/services/validation/modular_validation_service.py
  src/services/web_lookup/sru_service.py
  src/validation/additional_patterns.py
Due: no-todo-markers

test(validation): add aggregation utils tests; pr profile includes; ci: make services coverage gate hard at 80%
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/run_tests.sh
  tests/services/test_validation_aggregation_utils.py
Due: no-todo-markers

feat(validation): tune scoring bands and internal rule passes to align with golden acceptability ranges (no saturation)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/validation/modular_validation_service.py
Due: no-todo-markers

docs(handover): verplaats handover naar EPIC-003 en maak zichtbaar in portal
  data/definities.db
  docs/backlog/EPIC-003/HANDOVER-2025-09-19-WEB-LOOKUP-IMPROVEMENTS.md
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/integration/test_golden_via_orchestrator.py
Due: no-todo-markers, generate-portal-on-docs-change

chore(portal): update generated portal after test changes
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

test(golden): mark as xfail post DI fix; acceptability tuning pending
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/integration/test_golden_via_orchestrator.py
Due: no-todo-markers

docs(plan): JSON-centrisch V2 validator verbeterplan (gates, categorie-scores, pariteit zonder legacy calls)
  docs/architectuur/v2_validator_enhancement_proposal.md
  docs/implementation/v2-validator-enhancement-plan.md
  docs/planning/V2_VALIDATOR_VOLLEDIG_IMPLEMENTATIEPLAN.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/architectuur/v2_validator_enhancement_proposal.html
  docs/portal/rendered/implementation/v2-validator-enhancement-plan.html
  src/services/web_lookup/sru_service.py
Due: no-todo-markers, generate-portal-on-docs-change

feat(validation): acceptance gates (critical/overall/category) + echte categorie-scores + severity_level voor JSON-regels
  CHANGELOG.md
  SIMPLIFICATION_SUMMARY.md
  docs/backlog/EPIC-002/US-193/US-193-fixes-STATUS.md
  docs/backlog/EPIC-002/US-193/US-193-fixes.md
  docs/backlog/EPIC-020-PHOENIX/US-201/US-201-IMPLEMENTATION-REPORT.md
  docs/planning/LEGACY_REMOVAL_PLAN.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/planning/V2_VALIDATOR_VOLLEDIG_IMPLEMENTATIEPLAN.html
  docs/reviews/TEST_FAILURE_ANALYSIS.md
  docs/reviews/TEST_SUITE_CODE_REVIEW.md
  src/services/container.py
  src/services/validation/modular_validation_service.py
  src/services/web_lookup/sru_service.py
  tests/integration/test_golden_via_orchestrator.py
  tests/services/test_web_lookup_wrapper_fallback.py
  tests/web_lookup/test_e2e_orchestrator_prompt.py
  tests/web_lookup/test_orchestrator_integration.py
Due: no-todo-markers, generate-portal-on-docs-change
