Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test(DEF-622): AppTest-ketenbewijs van de expertactie en de vijf CON-01-weergaven
  tests/apptest/def622_expert_app.py
  tests/apptest/run_def622_expert_apptest.py
  tests/unit/ui/test_def622_apptest_expert.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-622): Drie regressies bijgewerkt naar resultaatcontract 1.3.0
  tests/conftest.py
  tests/integration/functionality/test_final_functionality.py
  tests/integration/services/test_batch_validation.py
  tests/unit/conftest.py
  tests/unit/test_overall_score_fix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-622): Kwaliteitsratchets terug op baseline (mypy 0, complexiteit 197)
  src/database/definitie_crud.py
  src/domain/context/contract.py
  src/domain/context/normalisatie.py
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/services/service_factory.py
  src/services/validation/modular_validation_service.py
  src/ui/components/expert_review_tab.py
  src/ui/components/validation_view.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-622): Implementatievoortgang en reviewbare skillbronpatch (B-02)
  docs/analyses/DEF-622-implementatievoortgang-v1.md
  docs/analyses/DEF-622-skillpatch-v1.md
  docs/analyses/DEF-622-skillpatch-v1.patch
Due: none

docs(DEF-622): Leg onafhankelijke reviews en finale verificatie vast
  docs/analyses/DEF-622-contract-review-v1.md
  docs/analyses/DEF-622-contract-review-v2.md
  docs/analyses/DEF-622-duplicaat-review-v1.md
  docs/analyses/DEF-622-duplicaat-review-v2.md
  docs/analyses/DEF-622-eindpakket-review-v1.md
  docs/analyses/DEF-622-koppelingen-review-v1.md
  docs/analyses/DEF-622-koppelingen-review-v2.md
  docs/analyses/DEF-622-koppelingen-review-v3.md
  docs/analyses/DEF-622-oplevering-v1.md
  docs/analyses/DEF-622-transport-review-v1.md
  docs/analyses/DEF-622-vaststel-review-v1.md
  docs/analyses/DEF-622-vaststel-review-v2.md
  docs/analyses/DEF-622-vaststel-review-v3.md
  docs/analyses/DEF-622-vaststel-review-v4.md
  docs/plans/2026-09-14-DEF-622-contextcontract.md
  docs/plans/2026-09-14-DEF-622-uitvoeringsbesluiten.md
Due: none

chore(DEF-622): CI-baselines bijgewerkt op regelverschuiving en module-hash
  docs/testing/def563-timing-baseline.json
  scripts/maintenance/grep_gate_baseline.json
Due: none

docs(DEF-622): Leg CI-baselineverificatie vast
  docs/analyses/DEF-622-ci-aansluiting-v1.md
  docs/analyses/DEF-622-oplevering-v1.md
Due: none

fix(DEF-622): Een strikte versieconventie voor payload, gate en vaststelling (V2b)
  src/database/definitie_crud.py
  src/domain/context/contract.py
  src/ui/components/expert_review_tab.py
  tests/unit/services/test_def622_koppelingen_export_readback.py
  tests/unit/services/test_def622_readback_en_export.py
  tests/unit/services/test_def622_vaststelconflict.py
  tests/unit/ui/test_def622_expert_review_contextcontract.py
  tests/unit/ui/test_def622_koppelingen_ui.py
  tests/unit/validation/test_def622_context_contract.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-622): Generatiegrens, nul CON-01-herstel, kandidaatbinding en cleanerbescherming
  src/opschoning/opschoning.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/handlers/definition_generation_handler.py
  tests/unit/opschoning/test_def622_bovenbegrip_beschermd.py
  tests/unit/services/orchestrators/test_def622_generatiegrens.py
  tests/unit/ui/handlers/test_def622_context_voor_generatie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-622): Tekstvergelijking, kandidaatbewijs, eindprompt en casusregisterbewijs (batch 2)
  docs/analyses/DEF-622-casusregister-bewijs-v1.md
  scripts/maintenance/grep_gate_baseline.json
  src/services/definition_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/prompt_orchestrator.py
  src/services/service_factory.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/tekstwijziging.py
  tests/apptest/run_def622_apptest.py
  tests/apptest/run_def622_expert_apptest.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_enhancement_success.py
  tests/unit/services/orchestrators/test_def622_tekstwijziging_bewijs.py
  tests/unit/services/prompts/test_def622_eindprompt.py
  tests/unit/services/test_def622_casusregister.py
  tests/unit/ui/test_def622_apptest_expert.py
  tests/unit/ui/test_def622_apptest_keuzes.py
  tests/unit/ui/test_def622_expert_reader_kern_toelichting.py
  tests/unit/ui/test_def622_tekstwijziging.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-622): Reviewcorrecties op batch 2 (cleaner-koppelteken, editorbinding, toelichting bewerkbaar)
  src/opschoning/opschoning.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/expert_review_tab.py
  tests/apptest/run_def622_apptest.py
  tests/apptest/run_def622_expert_apptest.py
  tests/integration/functionality/test_deep_functionality.py
  tests/integration/functionality/test_final_functionality.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_failure.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_feedback.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_happy.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_monitoring.py
  tests/integration/services/web_lookup/test_e2e_orchestrator_prompt.py
  tests/integration/test_v2_orchestrator_integration.py
  tests/unit/opschoning/test_def622_koppelteken_samenstelling.py
  tests/unit/services/orchestrators/test_def622_koppelteken_generatie.py
  tests/unit/test_classification_single_path.py
  tests/unit/ui/test_def622_apptest_expert.py
  tests/unit/ui/test_def622_apptest_keuzes.py
  tests/unit/ui/test_def622_editor_tekstwijziging_actueel.py
  tests/unit/ui/test_def622_expert_reader_kern_toelichting.py
  tests/unit/ui/test_def622_expert_toelichting_bewerkbaar.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-622): Ververs de expertselectie na opslag uit echte readback (restpunt toelichting)
  src/ui/components/expert_review_tab.py
  tests/apptest/run_def622_expert_apptest.py
  tests/unit/ui/test_def622_apptest_expert.py
  tests/unit/ui/test_def622_expert_toelichting_bewerkbaar.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-622): Ververs de expertselectie direct na bevestigde veldopslag (exceptionpad)
  src/ui/components/expert_review_tab.py
  tests/unit/ui/test_def622_expert_toelichting_bewerkbaar.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-622): Leg vervolgcriteria, gesloten reviews en finale verificatie vast
  docs/analyses/DEF-622-oplevering-v2.md
  docs/analyses/DEF-622-versiebinding-hervat-review-v1.md
  docs/analyses/DEF-622-vervolgpakket-review-v1.md
  docs/analyses/DEF-622-vervolgpakket-review-v2.md
  docs/analyses/DEF-622-vervolgpakket-review-v3.md
  docs/analyses/DEF-622-vervolgpakket-review-v4.md
  docs/plans/2026-09-14-DEF-622-vervolgcriteria.md
Due: none

fix(DEF-622): Handel foutieve contextsignalen en zelfduplicaten correct af
  docs/analyses/DEF-622-oplevering-v3.md
  docs/plans/2026-09-15-DEF-622-naamsignaal-zelfduplicaat.md
  src/domain/context/contract.py
  src/services/validation/evaluators/context_metadata.py
  src/services/validation/evaluators/duplicate_detection.py
  src/ui/components/expert_review_tab.py
  tests/apptest/run_def622_expert_apptest.py
  tests/unit/ui/test_def622_apptest_expert.py
  tests/unit/ui/test_def622_apptest_keuzes.py
  tests/unit/ui/test_def622_expert_review_contextcontract.py
  tests/unit/validation/test_def622_geen_contextvermelding.py
  tests/unit/validation/test_def677_eigen_record_geen_duplicaat.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-464): faseer oude CON-01-validators uit
  docs/analyses/CON-01_VALIDATIE_TEST_RAPPORT.md
  docs/architectuur/ARCHITECTURE.md
  docs/technische-referentie/modules/TOETSREGELS_MODULE_GUIDE.md
  src/toetsregels/json_validator_loader.py
  src/toetsregels/regels/CON-01.py
  src/toetsregels/validators/CON_01.py
  tests/unit/validation/test_con01_duplicate_count.py
  tests/unit/validation/test_json_validator_loader_paths.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-743): Verduidelijk broncontract in toelichting
  src/services/validation/source_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-743): Herstel promptbudget en exportcontracttests
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/json_based_rules_module.py
  src/toetsregels/regels/CON-02.json
  tests/integration/test_export_levels_comprehensive.py
  tests/unit/services/prompts/test_def743_con02_promptnorm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-743): Vernieuw bronbinding van exporttestinventaris
  docs/testing/def563-timing-baseline.json
Due: none

feat(DEF-746): Harmoniseer ESS-01-instructies en zichtbare signalen
  docs/plans/2026-09-16-def746-technische-specificatie.md
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/json_based_rules_module.py
  src/services/prompts/modules/output_specification_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
  src/services/prompts/modules/template_module.py
  src/services/validation/evaluators/judgment_review.py
  src/toetsregels/regels/ESS-01.json
  src/ui/components/validation_view.py
  tests/fixtures/streamlit_mock.py
  tests/unit/services/prompts/test_def746_ess01_promptnorm.py
  tests/unit/validation/test_def746_ess01_signalen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-747): Behoud oorspronkelijke invoer bij uitsluitend toetsen
  docs/plans/2026-09-16-def747-faseoverdracht.md
  src/services/orchestrators/validation_orchestrator_v2.py
  tests/unit/services/orchestrators/test_def622_generatiegrens.py
  tests/unit/services/orchestrators/test_def747_ongewijzigde_toetsinvoer.py
  tests/unit/services/orchestrators/test_validation_orchestrator_v2.py
  tests/unit/test_story_2_4_unit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-746): Rapporteer promptlengte zonder harde 20k-grens
  tests/integration/test_modular_prompt_builder.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-746): Verwerk Claude CLI-review en timingregistratie
  docs/reviews/2026-09-16-def746-claude-cli-deltareview.md
  docs/reviews/2026-09-16-def746-claude-cli-review.md
  docs/testing/def563-timing-baseline.json
  src/services/orchestrators/definition_orchestrator_v2.py
  tests/unit/services/prompts/test_def746_ess01_promptnorm.py
  tests/unit/validation/test_def746_ess01_signalen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-751): Bewaar categoriekeuze verliesvrij in editor, generatie en CSV-import
  docs/plans/2026-09-16-def751-b1-categoriekeuze.md
  src/ui/components/definition_edit_tab.py
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/tabs/import_export_beheer/csv_importer.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/categorie_weergave.py
  tests/unit/test_csv_import_hardening.py
  tests/unit/test_import_export_repository_contract.py
  tests/unit/ui/handlers/test_def751_categorie_gate.py
  tests/unit/ui/helpers/test_def751_categorie_weergave.py
  tests/unit/ui/test_def751_csv_import_categorie.py
  tests/unit/ui/test_def751_editor_categorie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-750): Maak ESS-02 scoreloos reviewplichtig en harmoniseer de generatieprompts
  docs/plans/2026-09-16-def750-technische-specificatie.md
  src/services/prompts/modular_prompt_adapter.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/ess02_aanwijzing.py
  src/services/prompts/modules/json_based_rules_module.py
  src/services/prompts/modules/output_specification_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
  src/services/prompts/modules/template_module.py
  src/services/prompts/prompt_service_v2.py
  src/services/validation/evaluators/judgment_review.py
  src/services/validation/modular_validation_service.py
  src/toetsregels/regels/ESS-02.json
  src/ui/components/validation_renderer.py
  src/ui/components/validation_view.py
  tests/fixtures/toetsregels/runtime_cases.yaml
  tests/integration/services/orchestrators/test_definition_orchestrator_v2.py
  tests/integration/services/prompts/test_modules_basic.py
  tests/integration/test_offline_core_journey.py
  tests/unit/services/prompts/modules/test_definition_task_case_normalization.py
  tests/unit/services/prompts/modules/test_definition_task_transformation.py
  tests/unit/services/prompts/test_def743_con02_promptnorm.py
  tests/unit/services/prompts/test_def750_ess02_promptnorm.py
  tests/unit/services/test_modular_validation_aggregation.py
  tests/unit/validation/test_def750_ess02_signalen.py
  tests/unit/validation/test_evaluator_registry_contract.py
  tests/unit/validation/test_rule_runtime_matrix.py
  tests/unit/validation/test_v2_json_rules.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-750): Maak ESS-02-gedrag bij onvoldoende grond eenduidig binnen het uitvoercontract
  docs/plans/2026-09-16-def750-technische-specificatie.md
  src/services/prompts/modules/ess02_aanwijzing.py
  tests/unit/services/prompts/test_def750_ess02_promptnorm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-750): Behoud C3 bij werkelijk betekenisconflict en benoem de open verduidelijkingsgrens
  docs/plans/2026-09-16-def750-technische-specificatie.md
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/ess02_aanwijzing.py
  src/services/prompts/modules/semantic_categorisation_module.py
  tests/unit/services/prompts/test_def750_ess02_promptnorm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-750): Registreer bronhash-verschuiving van twee DEF-563-timingentries
  docs/testing/def563-timing-baseline.json
Due: none

fix(DEF-624): Migreer integratiefixtures en herstel CI-aansluiting
  docs/reviews/2026-09-16-def624-ci-reviewed-source-manifest.json
  docs/reviews/2026-09-16-def624-claude-ci-baseline.md
  docs/reviews/2026-09-16-def624-claude-ci-integratie.md
  docs/reviews/2026-09-16-def624-claude-ci-mapper.md
  docs/reviews/2026-09-16-def624-codex-ci-deltareview.md
  scripts/maintenance/grep_gate_baseline.json
  src/services/validation/mappers.py
  tests/integration/performance/test_story_2_4_performance.py
  tests/integration/regression/test_story_2_4_regression.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_enhancement_success.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_feedback.py
  tests/integration/services/orchestrators/test_definition_orchestrator_v2_monitoring.py
  tests/integration/test_v2_orchestrator_integration.py
  tests/unit/services/validation/test_def624_mapper_legacy_gate.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-624): Actualiseer gereviewde timingbronregistratie
  docs/reviews/2026-09-17-def624-claude-timingregistratie.md
  docs/reviews/2026-09-17-def624-codex-timingreview.md
  docs/testing/def563-timing-baseline.json
Due: none

feat(DEF-751): Leg categoriekeuzeherkomst onveranderlijk vast met kandidaatbinding
  docs/plans/2026-09-17-def751-b2.md
  src/database/definitie_crud.py
  src/database/models.py
  src/domain/categorie_herkomst.py
  src/domain/ontological_categories.py
  src/services/category_service.py
  src/services/definition_edit_service.py
  src/services/definition_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/workflow_service.py
  src/ui/components/category_renderer.py
  src/ui/components/definition_edit_tab.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/categorie_weergave.py
  src/ui/renderers/global_context_renderer.py
  src/ui/tabbed_interface.py
  tests/unit/database/test_def751_categoriekeuze_opslag.py
  tests/unit/domain/test_def751_categorie_herkomst.py
  tests/unit/services/test_category_service.py
  tests/unit/services/test_def751_categoriekeuze_transport.py
  tests/unit/ui/test_def751_categoriekeuze_ui.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-751): Verwerk review commit 1 - persistente keuzestaat, expliciet keuzecommando, versieguard
  docs/plans/2026-09-17-def751-b2.md
  src/database/definitie_crud.py
  src/database/definitie_repository.py
  src/database/models.py
  src/domain/categorie_herkomst.py
  src/services/category_service.py
  src/services/definition_edit_repository.py
  src/services/definition_edit_service.py
  src/services/definition_repository.py
  src/services/workflow_service.py
  src/ui/components/category_renderer.py
  src/ui/components/definition_edit_tab.py
  src/ui/helpers/categorie_weergave.py
  src/ui/renderers/global_context_renderer.py
  tests/unit/database/test_def751_categoriekeuze_opslag.py
  tests/unit/database/test_def751_review1_reproducties.py
  tests/unit/services/test_category_service.py
  tests/unit/services/test_category_service_v2.py
  tests/unit/services/test_def751_categoriekeuze_transport.py
  tests/unit/ui/test_def751_categorie_apptest.py
  tests/unit/ui/test_def751_categoriekeuze_ui.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-751): Schemaversie 4 (categorie optioneel), labelvrije keten en herreviewcorrecties
  docs/plans/2026-09-17-def751-b2.md
  src/database/definitie_crud.py
  src/database/migrate_database.py
  src/database/migrations/v8_migration.py
  src/database/models.py
  src/database/schema.sql
  src/database/schema_contract.py
  src/domain/categorie_herkomst.py
  src/services/definition_import_service.py
  src/services/definition_repository.py
  src/services/workflow_service.py
  src/ui/components/category_renderer.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/tabs/import_export_beheer/csv_importer.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/categorie_weergave.py
  tests/fixtures/schema_profiles.py
  tests/unit/database/test_def751_review1_reproducties.py
  tests/unit/database/test_def751_review2_reproducties.py
  tests/unit/database/test_migratie_io_en_resourcefouten.py
  tests/unit/database/test_schema_contract_init.py
  tests/unit/database/test_v7_migration.py
  tests/unit/database/test_v8_migration.py
  tests/unit/services/test_def751_categoriekeuze_transport.py
  tests/unit/services/test_definition_repository.py
  tests/unit/test_classification_single_path.py
  tests/unit/test_def751_labelvrij.py
  tests/unit/test_v5_migration.py
  tests/unit/ui/handlers/test_begrip_input_validation.py
  tests/unit/ui/handlers/test_def622_context_voor_generatie.py
  tests/unit/ui/test_def751_categoriekeuze_ui.py
  tests/unit/ui/test_def751_csv_import_categorie.py
  tests/unit/ui/test_def751_toepassen_keten.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-751): Herhaal de weigering van wissende registratie-writes onder de transactielock
  docs/plans/2026-09-17-def751-b2.md
  src/database/definitie_crud.py
  tests/unit/database/test_def751_race_wissende_registratie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-743): Leg eerste CON-02-praktijkrun en blokkades vast
  docs/analyses/con02-uitvoering-20260917-v1/START-HIER.md
  docs/analyses/con02-uitvoering-20260917-v1/appuitkomsten-en-reviewgrenzen-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/bewijsmanifest-v1.json
  docs/analyses/con02-uitvoering-20260917-v1/browser-bronloos-record-v1.json
  docs/analyses/con02-uitvoering-20260917-v1/browser-bulkexport-basis-v1.csv
  docs/analyses/con02-uitvoering-20260917-v1/browser-export-waarneming-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/browser-generatie-readback-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/browser-waarnemingen-v1.json
  docs/analyses/con02-uitvoering-20260917-v1/casusbatch-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/claude-lintresultaat-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/cli-bewijs/plan.json
  docs/analyses/con02-uitvoering-20260917-v1/cli-bewijs/run-stdout.txt
  docs/analyses/con02-uitvoering-20260917-v1/cli-bewijs/run_con02.py
  docs/analyses/con02-uitvoering-20260917-v1/cli-bewijs/runmatrix-ruw.json
  docs/analyses/con02-uitvoering-20260917-v1/cli-bewijs/uitgevoerde-helper-brontekst.txt
  docs/analyses/con02-uitvoering-20260917-v1/codex-bewijsreview-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/codex-lintreview-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/codex-runreview-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/deelchecks-en-scorebeleid-v1.md
  docs/analyses/con02-uitvoering-20260917-v1/generatie-record4-v1.json
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-751): Verduidelijk echte betekenisconflicten via de actieve generatieketen (ESS-02 stap 2)
  docs/plans/2026-09-17-def751-stap2-betekenisconflict.md
  src/services/definition_repository.py
  src/services/interfaces.py
  src/services/modelantwoord.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/modular_prompt_builder.py
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/ess02_aanwijzing.py
  src/services/prompts/prompt_service_v2.py
  src/services/security_service.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/betekenisconflict.py
  tests/unit/services/orchestrators/test_def751_betekenisconflict_keten.py
  tests/unit/services/prompts/test_def751_conflict_promptnorm.py
  tests/unit/services/prompts/test_def751_promptlengte.py
  tests/unit/services/test_def751_modelantwoord.py
  tests/unit/test_def751_labelvrij.py
  tests/unit/ui/handlers/test_def751_betekenisconflict_handler.py
  tests/unit/ui/test_def751_betekenisconflict_tab.py
  tests/unit/ui/test_def751_verduidelijking_keten.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-751): Verwerk Codex-review stap 2 - promptbudget na escaping, expliciete weigering, vaste foutcodes
  docs/plans/2026-09-17-def751-stap2-betekenisconflict.md
  src/services/interfaces.py
  src/services/modelantwoord.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/modular_prompt_adapter.py
  src/services/prompts/modular_prompt_builder.py
  src/services/prompts/modules/context_awareness_module.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/betekenisconflict.py
  tests/unit/services/orchestrators/test_def751_betekenisconflict_keten.py
  tests/unit/services/prompts/test_def751_reviewfix_promptbudget.py
  tests/unit/services/test_def751_modelantwoord.py
  tests/unit/services/test_def751_reviewfix_redenen.py
  tests/unit/ui/handlers/test_def751_betekenisconflict_handler.py
  tests/unit/ui/test_def751_betekenisconflict_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
