Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

docs: add Documentation Cleanup Workflow guide (DEF-136)
  docs/guidelines/DOCUMENTATION_CLEANUP_WORKFLOW.md
Due: generate-portal-on-docs-change

fix(DEF-138): Resolve ontological category contradictions
  docs/analyses/DEF-138-ontological-contradictions-analysis.md
  docs/implementations/DEF-138-implementation-summary.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-138-ontological-contradictions-analysis.html
  docs/portal/rendered/guidelines/DOCUMENTATION_CLEANUP_WORKFLOW.html
  docs/portal/rendered/implementations/DEF-138-implementation-summary.html
  prompt_analysis_output.txt
  src/services/prompts/modules/semantic_categorisation_module.py
  src/services/prompts/modules/structure_rules_module.py
  src/toetsregels/regels/ARAI-01.json
  src/toetsregels/regels/ARAI-01.py
  tests/test_def138_fix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(DEF-138): Remove UNIQUE INDEX to allow duplicate definitions
  docs/database/MIGRATION_009_CHECKLIST.md
  docs/database/MIGRATION_009_FLOW_DIAGRAM.md
  docs/database/UNIQUE_CONSTRAINT_REMOVAL_DESIGN.md
  docs/database/UNIQUE_CONSTRAINT_REMOVAL_SUMMARY.md
  docs/reviews/duplicate-constraint-architecture-review.md
  src/database/migrations/009_remove_unique_constraint.sql
  src/database/migrations/009_remove_unique_index.sql
  src/database/migrations/009_rollback.sql
  src/database/migrations/009_rollback_remove_unique_constraint.sql
Due: generate-portal-on-docs-change

fix(DEF-138): add compound word patterns to resolve zero confidence scores
  config/classification/term_patterns.yaml
  tests/services/classification/test_compound_words.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-138): resolve ontological category contradictions and zero confidence scores
  config/classification/term_patterns.yaml
  docs/analyses/DEF-138-zero-scores-root-cause-analysis.md
  docs/backlog/EPIC-138/BUG-138-001-ACTION-PLAN.md
  docs/backlog/EPIC-138/BUG-HUNT-SUMMARY.md
  docs/backlog/EPIC-138/QUICK-FIX-CHECKLIST.md
  docs/backlog/EPIC-XXX/DEF-138/DEBUGGING_PLAYBOOK.md
  docs/backlog/EPIC-XXX/DEF-138/DEF-138-UNIQUE-INDEX-REMOVAL-ANALYSIS.md
  docs/backlog/EPIC-XXX/DEF-138/EXECUTIVE_SUMMARY.md
  docs/backlog/EPIC-XXX/DEF-138/INVESTIGATION_SUMMARY.md
  docs/backlog/EPIC-XXX/DEF-138/ROOT_CAUSE_ANALYSIS.md
  docs/portal/portal-index.json
  docs/testing/DEF-138-test-execution-report.md
  src/database/definitie_repository.py
  src/integration/definitie_checker.py
  src/ontologie/improved_classifier.py
  src/services/prompts/modules/semantic_categorisation_module.py
  src/ui/tabbed_interface.py
  tests/database/test_migration_009_versioning.py
  tests/database/test_unique_constraint_removal.py
  tests/test_def138_edge_cases.py
  tests/test_def138_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

chore(DEF-138): apply linter fixes (isort)
  docs/portal/portal-index.json
  tests/database/test_migration_009_versioning.py
  tests/database/test_unique_constraint_removal.py
  tests/test_def138_edge_cases.py
  tests/test_def138_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-101): add multiagent analysis and Plan B specifications
  docs/analyses/DEF-101-TECHNICAL-COMPLEXITY-ANALYSIS.md
  docs/planning/DEF-101-ALTERNATIVE-SEQUENCING-PLANS.md
  docs/planning/DEF-101-SEQUENCING-INSIGHTS.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-101-TECHNICAL-COMPLEXITY-ANALYSIS.html
  docs/portal/rendered/analyses/DEF-138-zero-scores-root-cause-analysis.html
  docs/portal/rendered/backlog/EPIC-138/BUG-138-001-ACTION-PLAN.html
  docs/portal/rendered/backlog/EPIC-138/BUG-HUNT-SUMMARY.html
  docs/portal/rendered/backlog/EPIC-138/QUICK-FIX-CHECKLIST.html
  docs/portal/rendered/backlog/EPIC-XXX/DEF-138/DEBUGGING_PLAYBOOK.html
  docs/portal/rendered/backlog/EPIC-XXX/DEF-138/DEF-138-UNIQUE-INDEX-REMOVAL-ANALYSIS.html
  docs/portal/rendered/backlog/EPIC-XXX/DEF-138/EXECUTIVE_SUMMARY.html
  docs/portal/rendered/backlog/EPIC-XXX/DEF-138/INVESTIGATION_SUMMARY.html
  docs/portal/rendered/backlog/EPIC-XXX/DEF-138/ROOT_CAUSE_ANALYSIS.html
  docs/portal/rendered/database/MIGRATION_009_CHECKLIST.html
  docs/portal/rendered/database/MIGRATION_009_FLOW_DIAGRAM.html
  docs/portal/rendered/database/UNIQUE_CONSTRAINT_REMOVAL_DESIGN.html
  docs/portal/rendered/database/UNIQUE_CONSTRAINT_REMOVAL_SUMMARY.html
  docs/portal/rendered/planning/DEF-101-ALTERNATIVE-SEQUENCING-PLANS.html
  docs/portal/rendered/planning/DEF-101-SEQUENCING-INSIGHTS.html
  docs/portal/rendered/reviews/duplicate-constraint-architecture-review.html
Due: generate-portal-on-docs-change

docs(DEF-101): add complete Plan B specification with multiagent analysis
  docs/planning/PLAN-B-COMPLETE-SPECIFICATION.md
Due: generate-portal-on-docs-change

feat(DEF-151): add generation prompt storage for audit trail
  docs/analyses/DEF-151_ARCHITECTURE_INTEGRATION_ANALYSIS.md
  docs/portal/portal-index.json
  docs/specifications/DEF-151_GENERATION_PROMPT_STORAGE_SPEC.md
  src/database/definitie_repository.py
  src/database/migrations/20251111_add_generation_prompt.sql
  src/database/schema.sql
  src/services/definition_repository.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change
