Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

chore: verwijder fix_utc_imports.py script (veroorzaakte syntax-schade)
  scripts/maintenance/fix_utc_imports.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-356): chunking overhaul voor PDF-extractie + review fixes (#140)
  scripts/maintenance/fix_utc_imports.py
  src/database/migrations/v5_migration.py
  src/services/rag/chunking_strategies.py
  src/services/rag/chunking_utils.py
  src/services/rag/embedding_service.py
  src/services/rag/legal_structure_recognizer.py
  src/services/rag/rag_service.py
  src/ui/renderers/document_upload_renderer.py
  tests/integration/test_rag_pipeline_integration.py
  tests/unit/services/rag/conftest.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_embedding_store.py
  tests/unit/services/rag/test_legal_structure_recognizer.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-317): RAG integration tests voor multi-doc, isolatie en edge cases
  tests/integration/test_rag_pipeline_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-317): RAG integration tests voor multi-doc, isolatie en edge cases (#141)
  tests/integration/test_rag_pipeline_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-318): RAG smoke test — GO beslissing voor Fase 3
  data/rag-smoke-test-results/smoke-test-20260219-170750.json
  data/rag-smoke-test-results/smoke-test-20260219-170750.md
  data/wetteksten/wid.txt
  src/services/ai/openai_client.py
  src/tools/rag_smoke_test.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-360,361,362,363): RAG chunking fixes — max_tokens enforcement, metadata, regex, docs
  src/services/rag/chunking_strategies.py
  src/services/rag/embedding_store.py
  src/services/rag/legal_structure_recognizer.py
  src/services/rag/rag_service.py
  src/ui/renderers/document_upload_renderer.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_legal_structure_recognizer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-360,361,362,363): RAG chunking fixes — max_tokens enforcement, metadata, regex, docs (#143)
  src/services/rag/chunking_strategies.py
  src/services/rag/embedding_store.py
  src/services/rag/legal_structure_recognizer.py
  src/services/rag/rag_service.py
  src/ui/renderers/document_upload_renderer.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_legal_structure_recognizer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-364): RAG zichtbaarheid in generatie-UI (status indicator + bronnenweergave)
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
  tests/unit/test_rag_ui_visibility.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix: tiktoken fallback naar o200k_base voor onbekende modellen (gpt-5.2)
  src/services/ai_service_v2.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-365): RAG management pagina — collection en document CRUD
  src/pages/rag_management.py
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/constants.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_management_service.py
  src/ui/renderers/rag_management_renderer.py
  tests/unit/services/rag/test_constants.py
  tests/unit/services/rag/test_rag_management_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

chore: voeg src/data/ toe aan .gitignore
  .gitignore
Due: none

chore: verwijder verouderde data-artefacten
  data/architecture/architecture-data.json
  data/architecture/feature-status.json
  data/architecture/sync-state.json
  data/architecture/validation-report.json
  data/test_terms.csv
  data/wikipedia_synonym_candidates.csv
Due: none

fix(DEF-365): duplicaat-check toevoegen aan tekst-ingest pad
  src/ui/renderers/rag_management_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-364,365): RAG UI — zichtbaarheid in generatie + management pagina (#145)
  .gitignore
  data/architecture/architecture-data.json
  data/architecture/feature-status.json
  data/architecture/sync-state.json
  data/architecture/validation-report.json
  data/test_terms.csv
  data/wikipedia_synonym_candidates.csv
  src/pages/rag_management.py
  src/services/ai_service_v2.py
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/rag/__init__.py
  src/services/rag/constants.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_management_service.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
  src/ui/renderers/rag_management_renderer.py
  tests/unit/services/rag/test_constants.py
  tests/unit/services/rag/test_rag_management_service.py
  tests/unit/test_rag_ui_visibility.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-370): hybride schema — bron_type + JSONB metadata op rag_chunks
  src/database/migrations/v6_migration.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_service.py
  tests/unit/database/test_v6_migration.py
  tests/unit/services/rag/test_embedding_store.py
  tests/unit/services/rag/test_rag_management_service.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-370): hybride schema — bron_type + JSONB metadata op rag_chunks (#146)
  src/database/migrations/v6_migration.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_service.py
  tests/unit/database/test_v6_migration.py
  tests/unit/services/rag/test_embedding_store.py
  tests/unit/services/rag/test_rag_management_service.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
