Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(prompts): ESS-03-generatie-instructie verwijst naar de appuitkomst (DEF-826)
  src/services/prompts/modules/json_based_rules_module.py
  tests/unit/services/prompts/test_def766_ess03_promptnorm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(prompts): ESS-03-generatie-instructie verwijst naar de appuitkomst (DEF-826) (#471)
  src/services/prompts/modules/json_based_rules_module.py
  tests/unit/services/prompts/test_def766_ess03_promptnorm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-766): behoud ESS-03 betekenis en categorie in toetsketen
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/orchestrators/validation_orchestrator_v2.py
  tests/unit/services/orchestrators/test_def766_ess03_invoerbinding.py
  tests/unit/services/orchestrators/test_validation_orchestrator_v2.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-821): ESS-04 G2-instructie en aparte uitkomst voor ontbrekende betekenisgrond
  docs/plans/2026-09-23-DEF-821-specificatie-v1.md
  scripts/testing/def821_effectproef.py
  scripts/testing/def821_ontwikkelcasussen.json
  src/services/interfaces.py
  src/services/modelantwoord.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/json_based_rules_module.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/betekenisconflict.py
  tests/unit/scripts/test_def821_effectproef.py
  tests/unit/services/orchestrators/test_def821_ontbrekende_grond_keten.py
  tests/unit/services/prompts/test_def766_ess03_promptnorm.py
  tests/unit/services/prompts/test_def821_ess04_promptcontract.py
  tests/unit/services/test_def821_modelantwoord.py
  tests/unit/ui/handlers/test_def751_betekenisconflict_handler.py
  tests/unit/ui/test_def751_verduidelijking_keten.py
  tests/unit/ui/test_def821_correctieronde1.py
  tests/unit/ui/test_def821_ontbrekende_grond_apptest.py
  tests/unit/ui/test_def821_ontbrekende_grond_ui.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-821): leg review en effectevaluatie vast
  docs/reviews/2026-09-23-DEF-821-oplevering-v1/effectbeoordeling.md
  docs/reviews/2026-09-23-DEF-821-oplevering-v1/effectuitkomst.json
  docs/reviews/2026-09-23-DEF-821-oplevering-v1/oplevering.md
  docs/reviews/2026-09-23-DEF-821-oplevering-v1/review-correcties.md
  docs/reviews/2026-09-23-DEF-821-oplevering-v1/review-eerste-versie.md
Due: none

fix(DEF-770): Herbind timinginventaris na exportwijziging
  docs/testing/def563-timing-baseline.json
Due: none

docs(DEF-770): Bewaar gecontroleerde testlogs bij herstelbewijs
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/r4-green-gericht-v2.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/r4-make-lint-v3.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/r4-make-test-coordinator-v3.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/r4-test-black-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/r4-test-ruff-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/skills-bundeltests-v2.log
Due: none

fix(DEF-770): Verwijs onbewezen INT-01-zinsgrenzen naar beoordeling
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-herstel-20260924-v1/prijsbasis-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-herstel-20260924-v1/proefafspraken-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-herstel-20260924-v1/proefafspraken-v3.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-herstel-20260924-v1/referentie-contract-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-herstel-20260924-v1/referentie-contract-v3.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-conservatief-review-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-conservatief-review-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-bundelbewijs-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-review-delta-v2.patch
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-review-manifest-v2.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-skills-delta-v2.patch
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-v2-green.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-v2-green.xml
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-v2-make-lint.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-v2-make-test-root.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-v2-red.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatief-v2-red.xml
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatieve-beoordeling-besluit-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/conservatieve-beoordeling-uitwerking-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/herstelanalyse-v6.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/herstelanalyse-v7.md
  src/domain/int01/zinsgrenzen.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-770): Herstel onzekere haakjes- en afkortingsgrenzen
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-eindproef-review-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-eindproef-review-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-eindproef-review-v3.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-t24-vervolgbevinding-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-correctie-v3-green.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-correctie-v3-green.xml
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-correctie-v3-make-lint.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-correctie-v3-make-test-root.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-correctie-v3-red.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-correctie-v3-red.xml
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-review-delta-v3.patch
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-review-delta-v4.patch
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-review-manifest-v3.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-review-manifest-v4.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/eindproef-skills-delta-v3.patch
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/herstelanalyse-v10.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/herstelanalyse-v8.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/herstelanalyse-v9.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/testlint-v1-delta.patch
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/testlint-v1-green.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/testlint-v1-green.xml
  src/domain/int01/zinsgrenzen.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-770): Bescherm bronbetekenis bij compacte generatie
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeoordeling-beslispunt-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-astra-review-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-astra-review-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-astra-review-v3.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-generatie-bronbinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-generatie-diagnose-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-make-test-root-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-make-test-root-v3.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-prompt-green.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-prompt-red.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-review-manifest-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-review-manifest-v2.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-review-manifest-v3.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-uitvoeringsplan-v1.md
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/json_based_rules_module.py
  tests/unit/services/prompts/test_def770_vervolg_betekenisbehoud.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-770): Bind vervolgproef en expliciteer open besluiten
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/g24-bronbinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/g24-budgetvoorstel-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/g24-invoer-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/g24-manifest-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/g24-tokentelling-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/prijsbasis-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/proefafspraken-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/referentie-contract-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/runnerbinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/skills-generatie-binding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/vervolg-tussenstand-v1.md
Due: none

fix(DEF-770): Begrens titelbeoordeling en herstel afkortingsbewijs
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/proefafspraken-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-vervolg-20260924-v1/referentie-contract-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/astra-titelbeleid-review-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/claude-titelbeleid-resultaat-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titel-en-budgetbesluit-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-bundeltests-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-gericht-regressie.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-green.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-make-lint.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-make-test-root-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-red.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/titelbeleid-review-manifest-v1.json
  src/domain/int01/zinsgrenzen.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
  tests/unit/validation/test_def770_vervolg_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-770): Borg labelbeoordeling en behoud van bepalende bronrelaties
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/restherstel-titelbesluit-v1.md
  src/domain/int01/zinsgrenzen.py
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/json_based_rules_module.py
  tests/unit/services/prompts/test_def770_restherstel_promptbehoud.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
  tests/unit/validation/test_def770_restherstel_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-770): Publiceer gecontroleerde technische uitvoerlogs
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-restherstel-20260925-v1/technisch-bewijs-v1/bundeltests-v3.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-restherstel-20260925-v1/technisch-bewijs-v1/make-test-root-v2.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-restherstel-20260925-v1/technisch-bewijs-v1/v3-make-lint.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-restherstel-20260925-v1/technisch-bewijs-v1/v4-black.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-restherstel-20260925-v1/technisch-bewijs-v1/v4-ruff-0165.log
Due: none

Add SessionStart hook for Claude Code cloud sessions
  .claude/hooks/session-start.sh
  .claude/settings.json
  .gitignore
Due: none

fix(DEF-770): Pas algemeen citaatbeleid consequent toe
  docs/analyses/def606-regeldossiers/INT-01-implementatie/herstel-20260924-v1/algemeen-citaatbesluit-v1.md
  src/domain/int01/zinsgrenzen.py
  tests/unit/validation/test_def770_citaatbeleid_zinsgrenzen.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
  tests/unit/validation/test_def770_int01_zinsgrenzen.py
  tests/unit/validation/test_def770_restherstel_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-770): Herstel lijstcontext en citaatgrenzen
  src/domain/int01/zinsgrenzen.py
  tests/unit/validation/test_def770_citaatbeleid_zinsgrenzen.py
  tests/unit/validation/test_def770_citaatcorrectie_zinsgrenzen.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
  tests/unit/validation/test_def770_int01_zinsgrenzen.py
  tests/unit/validation/test_def770_restherstel_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-770): Behoud interne punt bij numeriek voorbeeld
  src/domain/int01/zinsgrenzen.py
  tests/unit/validation/test_def770_citaatbeleid_zinsgrenzen.py
  tests/unit/validation/test_def770_citaatcorrectie_zinsgrenzen.py
  tests/unit/validation/test_def770_herstel_zinsgrenzen.py
  tests/unit/validation/test_def770_restherstel_zinsgrenzen.py
  tests/unit/validation/test_def770_voorbeeldgetal_zinsgrenzen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-770): Leg akkoord op geredigeerd bewijs vast
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-citaatbeleid-20260925-v2/technisch-bewijs-v1/astra-publicatie-redactie-v1.md
Due: none

docs(DEF-772): uitvoeringsopdracht INT-03 voor coördinatie door Codex (v1)
  docs/analyses/def606-regeldossiers/INT-03-verdieping/onderzoek-20260925/gedeeld/uitvoeringsopdracht-codex-v1.md
Due: none

docs(DEF-770): Begrens afkortingsonzekerheid in INT-01
  src/toetsregels/regels/INT-01.json
Due: none

docs(DEF-770): Leg geaccepteerde T24 na afbakening vast
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/afbakening-besluit-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/bronbinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/bronfreeze-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/bronfreeze-v2.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/controle-na-uitvoer-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/eindstand-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/g24-en-testbewijs-behoud-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/maker-verzegeling-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/publicatiebinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/referentie-contract-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/registratie-sluitingsreview-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/rollenbinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/rollenbinding-voor-adjudicatie-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/runbinding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/runbinding-v2.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-adjudicatie-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-eerste-oordelen-verzegeling-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-gevallen-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-onafhankelijke-bewijsreview-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-referentie-A-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-referentie-B-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-referenties-verzegeling-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-resultaat-nieuw-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-resultaat-oud-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/t24-vergelijking-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-binding-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/claude-tekstafstemming-resultaat-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/contractreview-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/tekstafstemming-review-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/tekstafstemming-v1.patch
Due: none

docs(DEF-770): Publiceer gecontroleerd acceptatiebewijs
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/eindstand-v2.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/publicatie-redactie-review-v1.md
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/publicatie-redactie-v1.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/publicatiebinding-v2.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-binding-v2.json
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/app-broncommit-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/bundelbouw-alias-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/bundelbouw-canoniek-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/bundeltests-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/lint-tekstafstemming-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/promptpariteit-publicatie-v1.txt
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/skills-broncommit-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/skills-tests-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/tekstafstemming-gericht-v1.log
  docs/analyses/def606-regeldossiers/INT-01-implementatie/effectproeven-afbakening-20260925-v1/technisch-bewijs-v1/tekstcontrole-v1.log
Due: none

chore(pre-commit): ruff en black slaan docs/analyses/ over (onderzoeksbewijs, hash-gebonden)
  .pre-commit-config.yaml
Due: none

docs(DEF-771): INT-02-dossier — nalevering: proeflogs (bewijs), PR-tekst en slotregel ontvangstlog
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/a-cowork/bewijs/proef-c1-run.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/a-cowork/bewijs/proef-c1-run1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/a-cowork/bewijs/proef-c1-run2.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/c-codex-app/bewijs/proefuitvoer-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/ontvangstlog.txt
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/pr-body-def771.md
Due: none

fix(DEF-770): Geef volledige precommitscan voldoende tijd
  docs/technisch/def522-secret-scan-runbook.md
  scripts/ci/secret_scan_precommit.py
  scripts/ci/test_secret_scan_precommit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Allow claude/* branches in the branch-name quality gate
  .github/workflows/quality-gates.yml
Due: none

feat(DEF-768): R8-proefinfrastructuur, begrensd geactiveerd op het budgetbesluit
  scripts/ess05/maak_r8_ontwikkelinvoer.py
  scripts/ess05/migreer_r7_naar_v2.py
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r8_kostenbewaking.py
  tests/unit/scripts/test_def768_r8_migratie.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-772): Neem INT-03 contextvrij op in generatieprompt
  src/services/prompts/modules/json_based_rules_module.py
  tests/unit/services/prompts/test_def770_herstel_promptdoorwerking.py
  tests/unit/services/prompts/test_def772_int03_promptnorm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): R8-freeze per eindgroep, alleen code en configuratie gedeeld
  scripts/ess05/proefgrootboek.py
  tests/unit/scripts/test_def768_r8_kostenbewaking.py
  tests/unit/scripts/test_def768_r8_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
