Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

DEF-220: UI Error Visibility - Add logging to 15 silent exception handlers (#83)
  .github/workflows/contract-tests.yml
  src/services/modern_web_lookup_service.py
  src/services/service_factory.py
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-221: P2-Observability - Add stack traces and upgrade log levels
  docs/analysis/2025-12-01_BMAD-10-agent-codebase-analysis.md
  docs/analysis/LINEAR_ISSUE_TEMPLATES.md
  docs/analysis/README_SILENT_FAILURES.md
  src/services/modern_web_lookup_service.py
  src/ui/cached_services.py
  src/utils/cache.py
  src/utils/resilience.py
  src/utils/smart_rate_limiter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-221: P2-Observability - Add stack traces and upgrade log levels (#84)
  docs/analysis/2025-12-01_BMAD-10-agent-codebase-analysis.md
  docs/analysis/LINEAR_ISSUE_TEMPLATES.md
  docs/analysis/README_SILENT_FAILURES.md
  src/services/modern_web_lookup_service.py
  src/ui/cached_services.py
  src/utils/cache.py
  src/utils/resilience.py
  src/utils/smart_rate_limiter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(exceptions): DEF-229 - Fix 14 remaining silent exception patterns
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(exceptions): DEF-229 - Fix additional 13 silent exception patterns
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(exceptions): DEF-229 - Fix race conditions and complete observability
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  src/document_processing/document_processor.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/utils/cache.py
  src/validation/input_validator.py
  tests/unit/document_processing/test_document_processor_exceptions.py
  tests/unit/test_cache_utilities_comprehensive.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-229: Fix 27 Silent Exception Patterns (#85)
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  src/document_processing/document_processor.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/tabbed_interface.py
  src/utils/cache.py
  src/validation/input_validator.py
  tests/unit/document_processing/test_document_processor_exceptions.py
  tests/unit/test_cache_utilities_comprehensive.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-232: V1/V2 Interface Consolidation + DEF-247 Security Fix
  .trunk/trunk.yaml
  docs/analysis/DEF-229-COMPREHENSIVE-FIX-PLAN.md
  project-documentation/DEF-229-feature-completeness-analysis.md
  project-documentation/DEF-230-pm-analysis.md
  project-documentation/DEF-231-state-machine-assessment.md
  project-documentation/DEF-233-fail-fast-config-pm-assessment.md
  project-documentation/product-manager-output.md
  scripts/debug/test_double_wrapping.py
  src/config/config_manager.py
  src/services/adapters/__init__.py
  src/services/adapters/cleaning_service_adapter.py
  src/services/adapters/validation_service_adapter.py
  src/services/cleaning_service.py
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/components/definition_edit_tab.py
  src/ui/components_adapter.py
  src/ui/session_state.py
  src/ui/status_flags.py
  tests/manual/test_def99_fix.py
  tests/services/adapters/test_cleaning_service_adapter.py
  tests/services/adapters/test_validation_service_adapter.py
  tests/ui/test_session_state_manager.py
  tests/ui/test_status_flags.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-232/247): Add critical test coverage for security fix and async service
  tests/services/test_cleaning_service.py
  tests/unit/test_config_system.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-238): Add unified ValidationResult TypedDict
  src/services/validation/types.py
  tests/unit/services/validation/__init__.py
  tests/unit/services/validation/test_types.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-231): Add logging to silent exception handlers
  src/services/validation/modular_validation_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-231: Fix 15 silent exception patterns in ModularValidationService
  src/services/validation/modular_validation_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(tests): Add missing __init__.py files for test discovery
  tests/unit/__init__.py
  tests/unit/services/__init__.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-231: Fix 28 silent exception patterns in DefinitionEditTab
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-231: Session State Improvements Phase 1 - Silent Exception Cleanup (#86)
  .trunk/trunk.yaml
  docs/analysis/DEF-229-COMPREHENSIVE-FIX-PLAN.md
  project-documentation/DEF-229-feature-completeness-analysis.md
  project-documentation/DEF-230-pm-analysis.md
  project-documentation/DEF-231-state-machine-assessment.md
  project-documentation/DEF-233-fail-fast-config-pm-assessment.md
  project-documentation/product-manager-output.md
  scripts/debug/test_double_wrapping.py
  src/config/config_manager.py
  src/services/adapters/__init__.py
  src/services/adapters/cleaning_service_adapter.py
  src/services/adapters/validation_service_adapter.py
  src/services/cleaning_service.py
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/services/validation/types.py
  src/ui/components/definition_edit_tab.py
  src/ui/components_adapter.py
  src/ui/session_state.py
  src/ui/status_flags.py
  tests/manual/test_def99_fix.py
  tests/services/adapters/test_cleaning_service_adapter.py
  tests/services/adapters/test_validation_service_adapter.py
  tests/services/test_cleaning_service.py
  tests/ui/test_session_state_manager.py
  tests/ui/test_status_flags.py
  tests/unit/__init__.py
  tests/unit/services/__init__.py
  tests/unit/services/validation/__init__.py
  tests/unit/services/validation/test_types.py
  tests/unit/test_config_system.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-248: Fix 4 P1 silent exception patterns in UI tabs
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-248: Fix 4 P1 silent exception patterns in UI tabs (#87)
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-248: Fix 6 P1 silent exception patterns in services
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/services/web_lookup/brave_search_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-244: Fix race condition in ModularValidationService
  src/services/validation/modular_validation_service.py
  src/services/validation/types_internal.py
  tests/services/test_modular_validation_race_condition.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-244): Add product requirements document
  project-documentation/DEF-244-race-condition-requirements.md
Due: none

DEF-244: Fix race condition in ModularValidationService (#88)
  config/config.yaml
  data/uploaded_documents/documents_metadata.json
  project-documentation/DEF-244-race-condition-requirements.md
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/services/validation/types_internal.py
  src/services/web_lookup/brave_search_service.py
  tests/services/test_modular_validation_race_condition.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-249, DEF-251: Logging analysis fixes from DEF-244 review
  project-documentation/DEF-244-user-impact-assessment.md
  src/services/container.py
  src/services/validation/modular_validation_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-249): Fix silent exception and reset logic in container.py
  docs/analysis/DEF-244-user-impact-assessment.md
  src/services/container.py
  src/services/validation/modular_validation_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
