Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

fix(DEF-488): isoleer SQLite-connecties per thread
  src/database/db_connection.py
  tests/unit/database/test_db_connection_thread_contracts.py
  tests/unit/database/test_db_connection_thread_isolation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-482): maak vaststellen een atomaire unit-of-work
  src/database/definitie_crud.py
  src/database/definitie_duplicates.py
  src/database/definitie_repository.py
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/ui/components/expert_review_tab.py
  tests/unit/database/test_create_definitie_duplicaatrace.py
  tests/unit/services/test_definition_workflow_atomiciteit.py
  tests/unit/services/test_silent_failures_2b.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-482): verwerk reviewbevindingen PR #422
  src/database/definitie_crud.py
  src/database/definitie_repository.py
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/ui/components/expert_review_tab.py
  tests/unit/database/test_create_definitie_duplicaatrace.py
  tests/unit/services/test_definition_workflow_atomiciteit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-482): meld een repositoryfout niet als versieconflict
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  tests/unit/services/test_definition_workflow_atomiciteit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-482): stel alleen de door de reviewer beoordeelde versie vast
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/ui/components/expert_review_tab.py
  tests/unit/database/test_create_definitie_duplicaatrace.py
  tests/unit/services/test_definition_workflow_atomiciteit.py
  tests/unit/services/test_silent_failures_2b.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-727): maak de duplicaatracetest scheduling-onafhankelijk
  tests/unit/database/test_create_definitie_duplicaatrace.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-727): verwerk reviewbevindingen op de racetest
  tests/unit/database/test_create_definitie_duplicaatrace.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-727): verwerk /review-pr-bevindingen op de racetest
  tests/unit/database/test_create_definitie_duplicaatrace.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-469): bevestig repositorymutaties en scherm opslagfouten af
  src/services/definition_repository.py
  tests/unit/services/test_definition_repository.py
  tests/unit/services/test_definition_repository_fail_closed.py
  tests/unit/services/test_definition_workflow_atomiciteit.py
  tests/unit/test_repository_silent_failures.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-469): behoud veilige diagnose op transactiegrens
  src/services/definition_repository.py
  tests/unit/services/test_definition_repository_fail_closed.py
  tests/unit/services/test_definition_workflow_atomiciteit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-663): Maak SQLite-backups WAL-veilig en bewijs restore
  .gitignore
  scripts/auto_backup_database.sh
  scripts/backup_database.sh
  scripts/backup_restore.py
  src/database/migrations/v5_migration.py
  src/database/sqlite_backup.py
  tests/integration/database/test_sqlite_backup_restore.py
  tests/unit/database/test_sqlite_backup.py
  tests/unit/scripts/test_backup_restore_script.py
  tests/unit/scripts/test_backup_scripts.py
  tests/unit/test_v5_migration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-663): Verwerk backupreview en borg foutpaden
  scripts/backup_restore.py
  src/database/sqlite_backup.py
  tests/unit/database/test_sqlite_backup.py
  tests/unit/scripts/test_backup_restore_script.py
  tests/unit/scripts/test_backup_scripts.py
  tests/unit/test_v5_migration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-664): borg schemacontract en databehoud bij migraties
  docs/technisch/DEF-664-schema-contract.md
  src/database/db_connection.py
  src/database/migrate_database.py
  src/database/migrations/v5_migration.py
  src/database/migrations/v6_migration.py
  src/database/migrations/v7_migration.py
  src/database/schema.sql
  src/database/schema_contract.py
  tests/conftest.py
  tests/fixtures/schema_profiles.py
  tests/integration/database/test_migratie_restore.py
  tests/integration/database/test_sqlite_backup_restore.py
  tests/smoke/test_critical_paths.py
  tests/unit/database/test_migratie_behoudt_kolommen.py
  tests/unit/database/test_migratie_io_en_resourcefouten.py
  tests/unit/database/test_schema_contract_init.py
  tests/unit/database/test_v6_migration.py
  tests/unit/database/test_v7_migration.py
  tests/unit/services/test_definition_repository.py
  tests/unit/services/test_service_container.py
  tests/unit/services/test_service_factory_caching.py
  tests/unit/test_container_cache_singleton.py
  tests/unit/test_refactored_imports.py
  tests/unit/test_v5_migration.py
  tests/unit/ui/test_document_snippets_docx.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-519): Leg gateprofielen en testdisposities vast
  docs/testing/def519-gates.md
  docs/testing/def519-testdispositions.json
Due: none

fix(DEF-519): herstel canonieke smoke-CI en Linux-archiefpad
  .github/workflows/ci.yml
  tests/ci/test_canonical_gate_recipes.py
  tests/integration/compliance/test_per007_documentation_compliance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-519): bewijs op aparte branch dat integration-CI faalt
  tests/integration/test_def519_ci_failure_probe.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-730): Vernieuw AI-client na wijziging van API-sleutel
  src/main.py
  src/services/service_factory.py
  src/ui/components/ai_provider_sidebar.py
  tests/unit/test_ai_provider_key_refresh.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-730): Geef integratiedubbel een stabiele containeridentiteit
  tests/integration/regression/test_regression_suite.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-522): Maak secret scanning fail-closed met echte canarygates
  .github/workflows/security.yml
  .gitleaks.toml
  .gitleaksignore
  .pre-commit-config.yaml
  Makefile
  docs/technisch/def522-secret-scan-runbook.md
  scripts/ci/secret_scan.py
  scripts/ci/secret_scan_gate.py
  scripts/ci/secret_scan_precommit.py
  scripts/ci/test_secret_scan_canary.py
  scripts/ci/test_secret_scan_exceptions.py
  scripts/ci/test_secret_scan_gate.py
  scripts/ci/test_secret_scan_gate_errors.py
  scripts/ci/test_secret_scan_precommit.py
  scripts/ci/test_secret_scan_workflow.py
  tests/fixtures/def522_synthetic_aws.txt
  tests/unit/scripts/test_secret_scan.py
  tests/unit/scripts/test_secret_scan_git.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-522): Herstel runnercontext en expliciet scanbereik in CI
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
  Makefile
  docs/technisch/def522-secret-scan-runbook.md
  scripts/ci/secret_scan_precommit.py
  scripts/ci/test_secret_scan_precommit.py
  scripts/ci/test_secret_scan_workflow.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
