Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

chore(portal): include regenerated portal artifacts
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

docs(handover): add cross-epic handover docs for US-160 and EPIC-012 (checkpoint 2025-09-13)
  docs/backlog/EPIC-004/HANDOVER-2025-09-13-US-160-and-EPIC-012.md
  docs/backlog/EPIC-012/HANDOVER-2025-09-13-US-160-and-EPIC-012.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs: archive all handover documents and remove references; refresh portal
  docs/EPIC-STORY-MIGRATION-PLAN.md
  docs/archief/handovers/HANDOVER-2025-09-09.md
  docs/archief/handovers/HANDOVER-US-160-CONTEXT-MODEL-V2.md
  docs/archief/handovers/backlog/EPIC-004/HANDOVER-2025-09-13-US-160-and-EPIC-012.md
  docs/archief/handovers/backlog/EPIC-012/HANDOVER-2025-09-13-US-160-and-EPIC-012.md
  docs/archief/handovers/handover-epic-010-completion.md
  docs/archief/handovers/handover-epic-010-context-analysis.md
  docs/archief/handovers/handover-v2-contract-refactoring.md
  docs/archief/handovers/handover-voorbeelden-fixes-completed.md
  docs/archief/handovers/handover-voorbeelden-ui-fix.md
  docs/archief/handovers/handover/HANDOVER_STORY_2.4.md
  docs/archief/handovers/handover/HANDOVER_WEB_LOOKUP_EPIC3.md
  docs/archief/handovers/handover/archive/refactoring-status-handover-2025-01-09.md
  docs/archief/handovers/handover/archive/session-handover-2025-01-09-evening.md
  docs/archief/handovers/handover/archive/session-handover-2025-01-09-implementation.md
  docs/archief/handovers/handover/archive/session-handover-2025-01-09.md
  docs/archief/handovers/handover/archive/session-handover-2025-01-10.md
  docs/archief/handovers/handover/archive/story-2.4-handover-2025-01-09.md
  docs/archief/handovers/handover/archive/story-2.4-implementation-2025-01-09.md
  docs/archief/handovers/handover/plan-2025-01-10-updated.md
  docs/archief/handovers/handover/plan-2025-01-10.md
  docs/archief/handovers/handover/refactoring-status-verified-2025-01-09.md
  docs/docs-compliance-check.md
  docs/epic-010-completion-plan-v2.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/EPIC-STORY-MIGRATION-PLAN.html
  docs/portal/rendered/docs-compliance-check.html
  docs/portal/rendered/epic-010-completion-plan-v2.html
Due: generate-portal-on-docs-change

Cleanup: remove modular_prompt_builder.py.backup (legacy backup) and update references via portal regeneration
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/prompts/modular_prompt_builder.py.backup
Due: none

portal: exclude all handover docs from portal listings; regenerate index
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/docs/generate_portal.py
Due: no-todo-markers

Docs(clean): update context_awareness_module docstrings to V2 wording (organisatorisch/juridisch/wettelijk); remove domain wording.
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/prompts/modules/context_awareness_module.py
Due: no-todo-markers

Fix: status uniformization (review lowercase) and integrated path uses async + V2 dict handling in DefinitieChecker
  docs/portal/index.html
  docs/portal/portal-index.json
  src/integration/definitie_checker.py
  src/ui/services/definition_ui_service.py
Due: no-todo-markers

CI: limit tests to Python 3.11; refine EPIC-010 checks (deprecated attrs scoped to services, domein field heuristic)
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/check-legacy-patterns.sh
  src/config/__init__.py
  src/utils/cache.py
Due: no-todo-markers

CI: refine EPIC-010 deprecated-attrs check to services; limit linting to services; make security check advisory; regenerate portal outputs
  .github/workflows/epic-010-gates.yml
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none
