Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

DEF-620: RAG fase 2 — reviewfixes en veilig vervangscript
  scripts/rag_importeer_officiele_publicatie.py
  scripts/rag_vervang_collectie.py
  src/services/rag/officiele_publicatie_parser.py
  src/services/rag/rag_service.py
  tests/fixtures/rag_meting/sv2029_begrippen.json
  tests/unit/scripts/test_def620_rag_scripts.py
  tests/unit/services/rag/test_def620_officiele_publicatie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: vervangscript zonder ongecontroleerde opruiming; registratie in rollback
  scripts/rag_vervang_collectie.py
  src/services/rag/rag_service.py
  tests/unit/scripts/test_def620_rag_scripts.py
  tests/unit/services/rag/test_def620_officiele_publicatie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: vervangscript toetst backup, inhoud en gedeelde uploads
  scripts/rag_vervang_collectie.py
  src/services/rag/rag_service.py
  tests/unit/scripts/test_def620_rag_scripts.py
  tests/unit/services/rag/test_def620_officiele_publicatie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: gedeelde uploads op bestandsidentiteit; status ook bij onbekend
  scripts/rag_vervang_collectie.py
  tests/unit/scripts/test_def620_rag_scripts.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: bronbibliotheek in eigen bestand data/bronnen.db (RAG fase 3, deel A)
  .claude/rules/project-rules.md
  CLAUDE.md
  scripts/rag_importeer_officiele_publicatie.py
  scripts/rag_meting.py
  scripts/rag_verhuis_naar_bronnen.py
  scripts/rag_vervang_collectie.py
  src/database/sqlite_backup.py
  src/services/container.py
  src/services/rag/bronnen_schema.py
  tests/unit/scripts/test_def620_rag_scripts.py
  tests/unit/scripts/test_def620_verhuis_bronnen.py
  tests/unit/services/rag/test_def620_bronnen_db.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: verhuisscript weigert elk niet-leeg doel; strengere controles (reviewfixes deel A)
  scripts/rag_verhuis_naar_bronnen.py
  scripts/rag_vervang_collectie.py
  src/services/rag/bronnen_schema.py
  tests/unit/scripts/test_def620_verhuis_bronnen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: tests voor afwijkende tellers en een doel dat tijdens de kopie gevuld raakt
  tests/unit/scripts/test_def620_verhuis_bronnen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(gat): Voeg veilig startscript voor de GAT-testapp toe
  scripts/gat/start-test-app.sh
Due: none

DEF-620: wettenlijst in de bronbibliotheek (RAG fase 3, deel B)
  .gitignore
  config/bronnenlijst.yaml
  scripts/rag_bronnenlijst.py
  scripts/rag_importeer_officiele_publicatie.py
  scripts/rag_meting.py
  src/services/rag/bwb_parser.py
  src/services/rag/embedding_store.py
  src/services/rag/eu_parser.py
  src/services/rag/officiele_publicatie_parser.py
  tests/fixtures/rag_meting/fase3_begrippen.json
  tests/unit/scripts/test_def620_bronnenlijst.py
  tests/unit/services/rag/test_def620_wetparsers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: reviewfixes deel B (manifest, poort, status, rechtsgebiedfilter, identiteit)
  config/bronnenlijst.yaml
  scripts/rag_bronnenlijst.py
  scripts/rag_importeer_officiele_publicatie.py
  scripts/rag_meting.py
  src/services/rag/bwb_parser.py
  src/services/rag/embedding_store.py
  src/services/rag/eu_parser.py
  src/services/rag/officiele_publicatie_parser.py
  src/services/rag/rag_service.py
  tests/unit/scripts/test_def620_bronnenlijst.py
  tests/unit/services/rag/test_def620_wetparsers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: begripsbepalingen alleen uit geldende onderdelen; EU-identiteit uit de documenttitel
  scripts/rag_bronnenlijst.py
  src/services/rag/bwb_parser.py
  tests/unit/scripts/test_def620_bronnenlijst.py
  tests/unit/services/rag/test_def620_wetparsers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: EU-identiteit op het eigen verordeningsnummer vooraan in de titel
  scripts/rag_bronnenlijst.py
  tests/unit/scripts/test_def620_bronnenlijst.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-620: EU-identiteit ook voor gedelegeerde en uitvoeringsverordeningen
  scripts/rag_bronnenlijst.py
  tests/unit/scripts/test_def620_bronnenlijst.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-840: generatie past weer binnen het budget; nooit meer een lege foutmelding
  src/config/rate_limit_config.py
  src/services/ai/model_router.py
  src/ui/handlers/definition_generation_handler.py
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_def840_generatie_timeout.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-840: reviewpunten verwerkt
  src/ui/handlers/definition_generation_handler.py
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_def840_generatie_timeout.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

chore(DEF-835): Neem dependency-pins van main over (CVE-fixes)
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

DEF-840: Codex-reviewronde - limiter per event loop, geen exceptiontekst in de UI
  src/ui/handlers/definition_generation_handler.py
  src/utils/async_api.py
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_def840_generatie_timeout.py
  tests/unit/utils/test_async_rate_limiter_per_loop.py
  tests/unit/validation/test_def835_int02_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-835): Leg manifest v4 en akkoord fase 1 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v4.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v4.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v4.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

feat(DEF-835): Laat de dienst citaatposities afleiden (contract /2, prompt /3)
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v4-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v4/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v4/grootboek.slot
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v4/regressie-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v4/regressie-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v4/regressie-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/groen-1-gewijzigde-tests.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/groen-2-def835-int02.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/groen-3-gerichte-selectie-v51.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/groen-migratie.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/rood-migratie.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/rood.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/positiecorrectie-v1/uitvoeringsverslag-claude-v1.md
  docs/architectuur/contracts/int02_assessment_contract_v2.md
  scripts/analysis/def835_int02_v1_referentiedocumenten.py
  src/domain/int02/contract.py
  src/services/validation/evaluators/decision_rule_assessment.py
  src/services/validation/int02_assessment_service.py
  src/services/validation/interfaces.py
  src/toetsregels/runtime_contract.py
  tests/fixtures/def835_int02_contract_v1_documenten.json
  tests/fixtures/def835_int02_ontwerpgevallen.json
  tests/unit/domain/test_def835_int02_citaatposities.py
  tests/unit/domain/test_def835_int02_contract.py
  tests/unit/domain/test_def835_int02_migratie.py
  tests/unit/services/orchestrators/test_def835_int02_wrappers.py
  tests/unit/services/prompts/test_def835_int02_prompt.py
  tests/unit/validation/test_def835_int02_assessment_service.py
  tests/unit/validation/test_def835_int02_evaluator.py
  tests/unit/validation/test_def835_int02_modelproef.py
  tests/unit/validation/test_def835_int02_modular.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-835): Leg manifest v5 en akkoord fase 1 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v5.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v5.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v5.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

docs(DEF-835): Leg uitslag v5 en variatiemeting C107 vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v5-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v5/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v5/grootboek.slot
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v5/regressie-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v5/regressie-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v5/regressie-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/dryrun-v1/herkomst.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/dryrun-v1/samenvatting.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/live-v1/herkomst.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/live-v1/runs.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/live-v1/samenvatting.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/variatiemeting-c107-v1/variatiemeting.py
  tests/unit/validation/test_def835_int02_variatiemeting.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-835): Zet discretie zonder bedoeling om naar review (contract /3)
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/dienstregel-v1/groen.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/dienstregel-v1/mutatie.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/dienstregel-v1/review-correctie.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/dienstregel-v1/rood.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/dienstregel-v1/uitvoeringsverslag-claude-v1.md
  docs/architectuur/contracts/int02_assessment_contract_v3.md
  src/domain/int02/contract.py
  src/services/validation/evaluators/decision_rule_assessment.py
  src/services/validation/int02_assessment_service.py
  src/services/validation/interfaces.py
  src/toetsregels/runtime_contract.py
  tests/unit/domain/test_def835_int02_citaatposities.py
  tests/unit/domain/test_def835_int02_contract.py
  tests/unit/domain/test_def835_int02_dienstregel.py
  tests/unit/domain/test_def835_int02_migratie.py
  tests/unit/validation/test_def835_int02_evaluator.py
  tests/unit/validation/test_def835_int02_variatiemeting.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-842: CON-02-bronbeoordeling leest JSON robuust en herkent afgekapte antwoorden
  src/services/ai_service_v2.py
  src/services/validation/source_assessment_service.py
  src/utils/async_api.py
  tests/unit/validation/test_def842_con02_json_en_afkapping.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-844: wettelijke bron vóór Wikipedia in bronweergave en prompt
  src/domain/sources/rangorde.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/prompt_service_v2.py
  src/ui/components/sources_renderer.py
  tests/unit/domain/test_def844_bronrangorde.py
  tests/unit/services/orchestrators/test_def844_bronrangorde_keten.py
  tests/unit/ui/test_def743_sources_presentation.py
  tests/unit/ui/test_def844_bronrangorde_weergave.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-835): Leg manifest v6 en akkoord fase 1 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v6.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v6.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v6.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

DEF-842: Codex-reviewronde - herhaling binnen generatiebudget, geen deelobjecten, strikte JSON
  src/services/service_factory.py
  src/services/validation/source_assessment_service.py
  src/utils/generatie_deadline.py
  tests/unit/validation/test_def842_con02_json_en_afkapping.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-844: Codex-reparatieronde - rangorde alleen volgorde, nooit selectie
  src/domain/sources/rangorde.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/prompt_service_v2.py
  src/services/rag/embedding_store.py
  src/services/web_lookup/provenance.py
  tests/unit/domain/test_def844_bronrangorde.py
  tests/unit/services/orchestrators/test_def844_bronrangorde_keten.py
  tests/unit/services/prompts/test_def743_source_receipt.py
  tests/unit/services/rag/test_embedding_store.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-842: haakjesscanner herkent JSON-strings, escapes en haakjestypen
  src/services/validation/source_assessment_service.py
  tests/unit/validation/test_def842_con02_json_en_afkapping.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-835): Dwing het INT-02-antwoordschema af via de API (prompt /4)
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen-1-gewijzigde-tests.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen-2-def835-int02.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen-3-int03-ess03.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen-4-ruff-black.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen-herreview.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen-review.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/groen.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/rood-review.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/rood.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/schemaroute-v1/uitvoeringsverslag-claude-v1.md
  scripts/analysis/def835_int02_modelproef.py
  src/domain/int02/contract.py
  src/services/validation/int02_assessment_service.py
  tests/unit/domain/test_def835_int02_dienstregel.py
  tests/unit/services/orchestrators/test_def835_int02_wrappers.py
  tests/unit/services/prompts/test_def835_int02_prompt.py
  tests/unit/validation/test_def835_int02_assessment_service.py
  tests/unit/validation/test_def835_int02_modelproef.py
  tests/unit/validation/test_def835_int02_schemaroute.py
  tests/unit/validation/test_def835_int02_variatiemeting.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-835): Leg manifest v7 en akkoord fase 1 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v7.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v7.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v7.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v6-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v6/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v6/grootboek.slot
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v6/regressie-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v6/regressie-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v6/regressie-resultaat.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

docs(DEF-835): Leg geslaagde fase 1 van kwalificatieproef v7 vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/grootboek.slot
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/regressie-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/regressie-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/regressie-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/processtatus-uitvoering-v14.md
Due: none

docs(DEF-835): Leg uitslag fase 2 van kwalificatieproef v7 vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7-ontwikkeling-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/ontwikkeling-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/ontwikkeling-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v7/ontwikkeling-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/processtatus-uitvoering-v15.md
Due: none

docs(DEF-835): Leg manifest v8, akkoord fase 1+2 en gitleaks-uitzondering 18 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v8.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v8.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v8.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

docs(DEF-835): Leg manifest v9, akkoord fase 1+2 en gitleaks-uitzondering 19 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v9.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v9.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v9.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

docs(DEF-835): Leg manifest v10, akkoord laatste run en gitleaks-uitzondering 20 vast
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v10.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v10.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v10.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

docs(DEF-835): Leg uitslag v10 vast (fase 2 onderbroken door netwerkstoring)
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/grootboek.slot
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/ontwikkeling-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/ontwikkeling-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/ontwikkeling-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/regressie-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/regressie-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v10/regressie-resultaat.json
Due: none
