Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

fix(critical): Add logging + SessionStateManager compliance (DEF-68, DEF-69, DEF-73)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/definition_import_service.py
  src/ui/async_progress.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/enhanced_context_manager_selector.py
  src/ui/components/expert_review_tab.py
  src/ui/components/tabs/import_export_beheer/format_exporter.py
  src/ui/helpers/ui_helpers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-74): Add Pydantic validation for voorbeelden input
  src/models/voorbeelden_validation.py
  src/services/definition_import_service.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/examples_block.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(recovery): add voorbeelden recovery script and data loss analysis
  docs/analyses/STARTUP_PERFORMANCE_ANALYSIS.md
  docs/analyses/STARTUP_PERFORMANCE_DIAGRAM.md
  docs/analyses/STARTUP_PERFORMANCE_LINEAR_ISSUES.md
  docs/analyses/voorbeelden-data-loss-2025-10-30.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/BUG_HUNT_ANALYSIS_2025-10-30.html
  docs/portal/rendered/analyses/DEF-54-COMPARISON-SUMMARY.html
  docs/portal/rendered/analyses/DEF-54-DECISION-MATRIX.html
  docs/portal/rendered/analyses/DEF-54-RECOMMENDED-APPROACH.html
  docs/portal/rendered/analyses/DEF-54-RISK-AND-ROLLBACK-ANALYSIS.html
  docs/portal/rendered/analyses/DEF-54-SIMPLIFICATION-ANALYSIS.html
  docs/portal/rendered/analyses/DEF-54-SIMPLIFIED-REFACTOR-PLAN.html
  docs/portal/rendered/analyses/DEF54_MULTI_AGENT_ANALYSIS_VALIDATION.html
  docs/portal/rendered/analyses/OVER_ENGINEERING_ANALYSIS.html
  docs/portal/rendered/analyses/SIMPLIFICATION_CODE_EXAMPLES.html
  docs/portal/rendered/analyses/STARTUP_PERFORMANCE_ANALYSIS.html
  docs/portal/rendered/analyses/STARTUP_PERFORMANCE_DIAGRAM.html
  docs/portal/rendered/analyses/STARTUP_PERFORMANCE_LINEAR_ISSUES.html
  docs/portal/rendered/analyses/voorbeelden-data-loss-2025-10-30.html
  docs/portal/rendered/analyses/voorbeelden-generation-fix-2025-10-29.html
  docs/portal/rendered/analyses/voorbeelden-save-fix-2025-10-29.html
  docs/portal/rendered/guidelines/DATABASE_BACKUP_RECOVERY.html
  docs/portal/rendered/guidelines/STREAMLIT_PATTERNS.html
  docs/portal/rendered/methodologies/MCP_INTEGRATION_PATTERNS.html
  docs/portal/rendered/methodologies/MULTIAGENT_WORKFLOW.html
  docs/portal/rendered/refactor-log.html
  scripts/recover_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs(analysis): Add startup performance multi-agent analysis
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

docs(handover): Complete startup performance optimization handover
  docs/analyses/BUG_HUNT_ANALYSIS_2025-10-30.md
  docs/analyses/CONSENSUS_ROADMAP_2025-10-30.md
  docs/analyses/CONSENSUS_ROADMAP_VISUAL_2025-10-30.md
  docs/analyses/DEF-54-COMPARISON-SUMMARY.md
  docs/analyses/DEF-54-DECISION-MATRIX.md
  docs/analyses/DEF-54-RECOMMENDED-APPROACH.md
  docs/analyses/DEF-54-RISK-AND-ROLLBACK-ANALYSIS.md
  docs/analyses/DEF-54-SIMPLIFICATION-ANALYSIS.md
  docs/analyses/DEF-54-SIMPLIFIED-REFACTOR-PLAN.md
  docs/analyses/DEF54_MULTI_AGENT_ANALYSIS_VALIDATION.md
  docs/analyses/LINEAR_DEPENDENCY_GRAPH.md
  docs/analyses/LINEAR_ISSUES_CONSENSUS_ROADMAP.md
  docs/analyses/LINEAR_ISSUES_DEPENDENCY_RISK_ANALYSIS.md
  docs/analyses/LINEAR_ISSUES_EXECUTIVE_SUMMARY.md
  docs/analyses/OVER_ENGINEERING_ANALYSIS.md
  docs/analyses/SIMPLIFICATION_CODE_EXAMPLES.md
  docs/analyses/voorbeelden-generation-fix-2025-10-29.md
  docs/analyses/voorbeelden-save-fix-2025-10-29.md
  docs/handovers/HANDOVER-CODE-REVIEW-2025-10-30.md
  docs/handovers/HANDOVER-STARTUP-PERFORMANCE-2025-10-30.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/LINEAR_DEPENDENCY_GRAPH.html
  docs/portal/rendered/analyses/LINEAR_ISSUES_DEPENDENCY_RISK_ANALYSIS.html
  docs/portal/rendered/analyses/LINEAR_ISSUES_EXECUTIVE_SUMMARY.html
Due: generate-portal-on-docs-change

style: Auto-formatting fixes from pre-commit hooks
  scripts/check_streamlit_patterns.py
  scripts/import_from_txt_exports.py
  scripts/test_export_levels.py
  src/services/definition_import_service.py
  src/services/definition_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/examples_block.py
  tests/test_definition_save_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(logging): Add comprehensive error logging for DEF-68 & DEF-69 (Fase 1A)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/validation/mappers.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(validation): Enforce Pydantic validation in save_voorbeelden (DEF-74)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(architecture): DEF-73 SessionState compliance refactor
  docs/portal/index.html
  docs/portal/portal-index.json
  src/main.py
  src/pages/synonym_admin.py
  src/ui/components/context_state_cleaner.py
  src/ui/components/definition_generator_tab.py
  src/ui/helpers/context_adapter.py
  src/utils/voorbeelden_debug.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

style: Auto-format imports after DEF-73 refactor
  src/main.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(architecture): DEF-73 fix missed violation (H1 from code review)
  src/pages/synonym_admin.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(architecture): DEF-73 fix circular import (lazy load context_adapter)
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/CONSENSUS_ROADMAP_2025-10-30.html
  docs/portal/rendered/analyses/CONSENSUS_ROADMAP_VISUAL_2025-10-30.html
  docs/portal/rendered/analyses/LINEAR_ISSUES_CONSENSUS_ROADMAP.html
Due: none

fix(types): consolidate VoorbeeldenDict + document lazy imports (DEF-82, DEF-84)
  CLAUDE.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/interfaces.py
  tests/contracts/test_voorbeelden_contract.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(integration): add voorbeelden validation chain tests (DEF-83)
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/integration/test_voorbeelden_validation_chain.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-83): improve integration test quality and maintainability
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/integration/test_voorbeelden_validation_chain.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
