Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

DEF-249, DEF-251: Logging analysis fixes (#89)
  docs/analysis/DEF-244-user-impact-assessment.md
  src/services/container.py
  src/services/validation/modular_validation_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-252: Fix silent context fallback in UIComponentsAdapter
  src/ui/components_adapter.py
  tests/unit/test_components_adapter_context_fallback.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(claude): add Linear MCP Integration quirks section
  CLAUDE.md
Due: none

DEF-252: Fix additional silent exceptions in UIComponentsAdapter
  src/ui/components_adapter.py
  tests/unit/test_components_adapter_error_handling.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-252: Fix remaining silent exceptions in ContextAdapter
  src/ui/helpers/context_adapter.py
  tests/unit/test_context_adapter_error_handling.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-252: Fix silent context fallback in UIComponentsAdapter (#90)
  CLAUDE.md
  src/ui/components_adapter.py
  src/ui/helpers/context_adapter.py
  tests/unit/test_components_adapter_context_fallback.py
  tests/unit/test_components_adapter_error_handling.py
  tests/unit/test_context_adapter_error_handling.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat: add prompt-first workflow and multiagent analysis templates
  CLAUDE.md
  prompts/README.md
  prompts/TEMPLATE-deep-analysis.md
  prompts/prompt-engineering-analysis.md
Due: none

chore(docs): archive 27 obsolete analysis docs from completed Linear issues
  docs/INDEX.md.linkfix_backup
  docs/analyses/DEF-151_ARCHITECTURE_INTEGRATION_ANALYSIS.md
  docs/analyses/DEF-151_MODULES_QUICK_REFERENCE.md
  docs/analyses/DEF-151_PROMPT_MODULES_ANALYSIS.md
  docs/analyses/DEF-151_PROMPT_MODULE_TRANSFORMATION_ANALYSIS.md
  docs/analyses/DEF-54-COMPARISON-SUMMARY.md
  docs/analyses/DEF-54-DECISION-MATRIX.md
  docs/analyses/DEF-54-RECOMMENDED-APPROACH.md
  docs/analyses/DEF-54-RISK-AND-ROLLBACK-ANALYSIS.md
  docs/analyses/DEF-54-SIMPLIFICATION-ANALYSIS.md
  docs/analyses/DEF-54-SIMPLIFIED-REFACTOR-PLAN.md
  docs/analysis/DEF-244-user-impact-assessment.md
  docs/analysis/F821_ANALYSIS_SUMMARY.txt
  docs/analysis/F821_DETAILED_ERROR_TABLE.md
  docs/analysis/F821_ERROR_ANALYSIS_REPORT.md
  docs/analysis/F821_IMPLEMENTATION_CHECKLIST.md
  docs/analysis/F821_INDEX.md
  docs/analysis/README_SILENT_FAILURES.md
  docs/analysis/SILENT_FAILURES_AUDIT_REPORT.md
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  docs/workflows/prompt-analysis-DEF-171-comparison.md
  docs/workflows/prompt-analysis-DEF-171-v2-summary.md
  docs/workflows/prompt-analysis-DEF-171-v2.json
  docs/workflows/prompt-analysis-DEF-171-v3-bounded.json
  docs/workflows/prompt-analysis-DEF-171-v3-index.md
  docs/workflows/prompt-analysis-DEF-171-v3-summary.md
  docs/workflows/prompt-analysis-DEF-171-v3-visual.txt
Due: none

feat(workflow): replace prompt-writer with prompt-forge CLI
  .claude/hookify.prompt-first-workflow.local.md
  CLAUDE.md
  prompts/README.md
  prompts/analyse-DEF-254-hookify.md
  prompts/analyse-docs-cleanup.md
  prompts/implementatie-silent-exception-hookify.md
  prompts/research/agent-workflow-optimization.md
Due: none

DEF-remaining: God Class refactoring - Phase 1-3 extractions
  src/ui/components/definition_generator_tab.py
  src/ui/components/duplicate_check_renderer.py
  src/ui/components/formatters/__init__.py
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-remaining: Code quality fixes from multiagent review
  src/ui/components/definition_generator_tab.py
  src/ui/components/duplicate_check_renderer.py
  src/ui/components/expert_review_tab.py
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
  src/ui/helpers/__init__.py
  src/ui/helpers/context_helpers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-remaining: God Class refactoring + Code quality fixes (#100)
  .claude/handover-god-class-refactoring.md
  .claude/hookify.silent-exception.local.md
  .claude/project-areas.yaml
  CLAUDE.md
  data/uploaded_documents/documents_metadata.json
  exports/rollback_impact_rapport.txt
  prompts/chained-code-review-orchestrator.md
  prompts/define-project-areas.md
  prompts/implementatie-DEF-253-quick-wins.md
  prompts/orchestrate-architecture-analysis.md
  prompts/orchestrate-definitie-app-v2.md
  src/services/ai_service_v2.py
  src/services/cleaning_service.py
  src/services/definition_import_service.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/prompt_service_v2.py
  src/services/validation/modular_validation_service.py
  src/services/validation/violation_builder.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/duplicate_check_renderer.py
  src/ui/components/expert_review_tab.py
  src/ui/components/formatters/__init__.py
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
  src/ui/helpers/__init__.py
  src/ui/helpers/context_helpers.py
  tests/smoke/test_critical_paths.py
  tests/unit/test_anders_edge_cases.py
  tests/unit/test_classification_single_path.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix: resolve pre-existing test failures
  src/services/container.py
  src/services/export_service.py
  tests/integration/test_export_levels_comprehensive.py
  tests/integration/test_instruction_optimization.py
  tests/integration/test_synonym_orchestrator_e2e.py
  tests/monitoring/test_performance_tracking_fix.py
  tests/unit/test_anders_edge_cases.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: resolve pre-existing test failures (#101)
  src/services/container.py
  src/services/export_service.py
  tests/integration/test_export_levels_comprehensive.py
  tests/integration/test_instruction_optimization.py
  tests/integration/test_synonym_orchestrator_e2e.py
  tests/monitoring/test_performance_tracking_fix.py
  tests/unit/test_anders_edge_cases.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: resolve flaky and failing tests in unit test suite
  tests/unit/test_anders_edge_cases.py
  tests/unit/test_classification_single_path.py
  tests/unit/test_config_system.py
  tests/unit/test_definitie_repository_insert_payload.py
  tests/unit/test_examples_resolve.py
  tests/unit/test_story_31_sources_metadata.py
  tests/unit/test_validation_system.py
  tests/unit/test_working_system.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: resolve flaky and failing tests in unit test suite (#102)
  tests/unit/test_anders_edge_cases.py
  tests/unit/test_classification_single_path.py
  tests/unit/test_config_system.py
  tests/unit/test_definitie_repository_insert_payload.py
  tests/unit/test_examples_resolve.py
  tests/unit/test_story_31_sources_metadata.py
  tests/unit/test_validation_system.py
  tests/unit/test_working_system.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
