Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

EPIC-010: scope deprecated-attrs to services and ignore comments (PCRE2)
  .github/workflows/epic-010-gates.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

CI: make lint advisory (services only); stabilize Docs Integrity drift-check by ignoring generated_at
  .github/workflows/docs-integrity.yml
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

Docs Integrity: make drift check advisory (ignore generated_at)
  .github/workflows/docs-integrity.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

CI: mypy exclude hyphenated package; install ripgrep for Grep Gate; refine EPIC-010 domein check
  .github/workflows/ci.yml
  .github/workflows/epic-010-gates.yml
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

V2-only: remove legacy DefinitieAgent path and fallback
  docs/portal/index.html
  docs/portal/portal-index.json
  src/integration/definitie_checker.py
  src/orchestration/definitie_agent.py
  src/ui/tabbed_interface.py
Due: no-todo-markers

chore: commit all remaining staged changes
  .github/workflows/ci.yml
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  src/config/__init__.py
  src/services/interfaces.py
  src/services/service_factory.py
  src/validation/input_validator.py
  src/validation/sanitizer.py
  tests/integration/test_integration_comprehensive.py
  tests/services/test_services_consolidation.py
  tests/services/test_services_functionality.py
  tests/smoke/test_validation_v2_smoke.py
  tests/test_regression_suite.py
  tests/unit/test_refactored_imports.py
Due: no-todo-markers

tests: make imports safe and add UIComponents stub
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/__init__.py
  src/voorbeelden/__init__.py
Due: no-todo-markers

orchestrator(validation): align with V2 validation contract
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/orchestrators/definition_orchestrator_v2.py
  tests/services/orchestrators/test_definition_orchestrator_v2.py
  tests/smoke/test_validation_v2_smoke.py
Due: no-todo-markers

docs(portal): regenerate portal after adding US-175
  docs/backlog/EPIC-010/US-175/US-175.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-010/US-175/US-175.html
  docs/traceability.json
Due: generate-portal-on-docs-change

docs(portal): regenerate portal after US renumbering to US-179
  docs/backlog/EPIC-010/US-173/US-173.md
  docs/backlog/EPIC-010/US-179/US-179.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-010/US-173/US-173.html
  docs/portal/rendered/backlog/EPIC-010/US-179/US-179.html
  docs/traceability.json
Due: generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
