Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

Safety guard: avoid wiping all examples when saving with empty example lists. If no new examples provided, skip deactivating existing records.
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
Due: no-todo-markers

Generator: add manual 'Voorbeelden naar DB opslaan (forceren)' button; keep auto-save active. Button disabled until definition saved; uses same canonicalization and repository writes.
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

Uitgebreide CSV import ondersteuning met correcte voorbeelden tabel integratie
  config/approval_gate.yaml
  config/ufo_rules.yaml
  data/definities.db
  data/definities.db.backup_20250922_215538
  data/definities.db.backup_20250923_130003
  data/definities.db.backup_20250923_130003-shm
  data/definities.db.backup_20250923_130003-wal
  data/definities.db.backup_20250923_134451
  docs/backlog/EPIC-014/US-300/IMPLEMENTATION-SUMMARY.md
  docs/backlog/EPIC-014/US-300/IMPLEMENTATION_SUMMARY.md
  docs/backlog/EPIC-014/US-300/UFO_OPTIMIZED_DESIGN.md
  docs/backlog/EPIC-014/US-300/US-300-IMPLEMENTATION-PLAN.md
  docs/backlog/EPIC-014/US-300/US-300.md
  docs/backlog/EPIC-014/US-300/nlp_helpers_example.py
  docs/backlog/EPIC-014/US-300/ufo_lexicons_example.json
  docs/backlog/EPIC-014/US-300/ufo_rules_example.yaml
  docs/migration/synoniemen-migratie-strategie.md
  docs/portal/index.html
  docs/portal/portal-index.json
  examples/ufo_classifier_integration.py
  samples/import/begrippen IDV uitgebreid.csv
  scripts/testing/benchmark_results.json
  scripts/testing/benchmark_ufo_classifier.py
  src/database/definitie_repository.py
  src/database/migrate_database.py
  src/database/schema.sql
  src/services/definition_edit_service.py
  src/services/definition_import_service.py
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/services/ufo_classifier_service.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/management_tab.py
  src/ui/tabbed_interface.py
  tests/services/test_ufo_classifier_service.py
Due: no-todo-markers, generate-portal-on-docs-change

Fix voorkeursterm UI en CSV import met delimiter detectie
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/examples_block.py
  src/ui/components/management_tab.py
Due: no-todo-markers

Verbeter voorkeursterm ophalen in Expert Review en Edit tabs
  data/definities.db
  docs/backlog/EPIC-014/US-300/IMPLEMENTATION_ANALYSIS_REPORT.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-014/US-300/IMPLEMENTATION-SUMMARY.html
  docs/portal/rendered/backlog/EPIC-014/US-300/IMPLEMENTATION_ANALYSIS_REPORT.html
  docs/portal/rendered/backlog/EPIC-014/US-300/IMPLEMENTATION_SUMMARY.html
  docs/portal/rendered/backlog/EPIC-014/US-300/UFO_OPTIMIZED_DESIGN.html
  docs/portal/rendered/backlog/EPIC-014/US-300/US-300-IMPLEMENTATION-PLAN.html
  docs/portal/rendered/backlog/EPIC-014/US-300/US-300.html
  docs/portal/rendered/migration/synoniemen-migratie-strategie.html
  src/database/definitie_repository.py
  src/ui/components/examples_block.py
  tests/integration/test_ufo_service_container.py
  tests/performance/test_ufo_performance.py
  tests/services/test_ufo_classifier_comprehensive.py
  tests/ui/test_ufo_ui_integration.py
Due: no-todo-markers, generate-portal-on-docs-change

Verbeter voorkeursterm UI in Bewerk tab met betere layout
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers

Performance fix: Skip validatie tijdens CSV batch import
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/management_tab.py
Due: no-todo-markers

Hotfix: CSV import repo undefined error opgelost
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/management_tab.py
Due: no-todo-markers

US-301: User Story voor verwijderen redundante single import
  docs/backlog/EPIC-003/US-301/US-301.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

Fix: Handle NaN values in CSV import voor nieuwe velden
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/US-301/US-301.html
  src/services/definition_import_service.py
Due: no-todo-markers

docs(US-300): voeg UFO-classificatie voorstel toe aan user story (geen codewijzigingen)
  docs/backlog/EPIC-014/US-300/US-300.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change
