Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: remove unused stub services (alerts, monitoring, compliance, storage)
  src/services/alerts.py
  src/services/compliance.py
  src/services/monitoring.py
  src/services/storage.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore: remove unused stub services (alerts, monitoring, compliance, storage) (#103)
  src/services/alerts.py
  src/services/compliance.py
  src/services/monitoring.py
  src/services/storage.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-266: Phase 4 God Class refactoring - Extract renderers from definition_generator_tab
  src/ui/components/category_renderer.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/validation_renderer.py
  src/ui/components/voorbeelden_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-266: Phase 4 God Class refactoring - Extract renderers from definition_generator_tab (#104)
  src/ui/components/category_renderer.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/validation_renderer.py
  src/ui/components/voorbeelden_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-263,DEF-264): Remove legacy fallbacks + fix silent failures
  src/ui/components/sources_renderer.py
  src/ui/helpers/examples.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-265): Replace Any type hints with specific types + fix bugs
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(tests): Skip outdated performance tests with incompatible APIs
  tests/performance/test_parallel_voorbeelden.py
  tests/performance/test_performance.py
  tests/performance/test_story_2_4_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-263,DEF-264): Remove legacy fallbacks + fix silent failures (#105)
  src/ui/components/formatters/definition_formatter_utils.py
  src/ui/components/sources_renderer.py
  src/ui/helpers/examples.py
  tests/performance/test_parallel_voorbeelden.py
  tests/performance/test_performance.py
  tests/performance/test_story_2_4_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-254): Implement 7 hookify rules for CLAUDE.md enforcement
  .claude/hookify.backwards-compat.local.md
  .claude/hookify.context-names.local.md
  .claude/hookify.database-location.local.md
  .claude/hookify.file-location.local.md
  .claude/hookify.forbidden-class-names.local.md
  .claude/hookify.large-change-warning.local.md
  .claude/hookify.no-root-files.local.md
  prompts/README.md
Due: none

fix(DEF-252): Complete silent context fallback fix in session_state.py
  src/ui/session_state.py
  tests/ui/test_session_state_manager.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-246): Eliminate 21 silent exception patterns across 13 files
  src/hybrid_context/hybrid_context_engine.py
  src/pages/synonym_admin.py
  src/services/data_aggregation_service.py
  src/services/definition_workflow_service.py
  src/services/modern_web_lookup_service.py
  src/services/policies/approval_gate_policy.py
  src/services/prompts/prompt_service_v2.py
  src/services/validation/config.py
  src/services/web_lookup/ranking.py
  src/ui/components/expert_review_tab.py
  src/ui/components/validation_renderer.py
  src/ui/components/validation_view.py
  src/utils/enhanced_retry.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-252): Complete silent context fallback fix in session_state.py (#107)
  src/ui/session_state.py
  tests/ui/test_session_state_manager.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-246): Eliminate 21 silent exception patterns across 13 files (#108)
  src/hybrid_context/hybrid_context_engine.py
  src/pages/synonym_admin.py
  src/services/data_aggregation_service.py
  src/services/definition_workflow_service.py
  src/services/modern_web_lookup_service.py
  src/services/policies/approval_gate_policy.py
  src/services/prompts/prompt_service_v2.py
  src/services/validation/config.py
  src/services/web_lookup/ranking.py
  src/ui/components/expert_review_tab.py
  src/ui/components/validation_renderer.py
  src/ui/components/validation_view.py
  src/utils/enhanced_retry.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs: update CLAUDE.md as extension of global BMAD config
  CLAUDE.md
Due: none

docs: refactor CLAUDE.md - move BMAD to global config
  AGENTS.md
  CLAUDE definitie app.md
  CLAUDE_old.md
Due: none

docs: refactor CLAUDE.md - move BMAD to global config (#111)
  AGENTS.md
  CLAUDE definitie app.md
  CLAUDE_old.md
Due: none

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
