Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(portal): regenerate portal artifacts
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-193/US-193.html
Due: none

docs(portal): regenerate after fixing Multi-Agent gids links
  data/definities.db
  docs/INDEX.md
  docs/backlog/EPIC-014/US-123/US-123.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/INDEX.html
  docs/portal/rendered/backlog/EPIC-014/US-123/US-123.html
Due: generate-portal-on-docs-change

chore: add multiagent helper script and quickstart doc
  docs/handleidingen/ontwikkelaars/MULTIAGENT_QUICKSTART.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/handleidingen/ontwikkelaars/MULTIAGENT_QUICKSTART.html
  scripts/multiagent.sh
Due: generate-portal-on-docs-change

docs(portal): regenerate after multi-agent cross-links
  US-193-fixes.md
  docs/INDEX.md
  docs/guidelines/AGENTS.md
  docs/handleidingen/ontwikkelaars/codex-multi-agent-gebruik.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/INDEX.html
  docs/portal/rendered/guidelines/AGENTS.html
  docs/portal/rendered/handleidingen/ontwikkelaars/codex-multi-agent-gebruik.html
  docs/portal/rendered/snippets/CODEX_PROMPT_PRESETS.html
  docs/snippets/CODEX_PROMPT_PRESETS.md
Due: generate-portal-on-docs-change

docs(portal): regenerate after multiagent advisory additions
  US-193-fixes.md
  docs/backlog/EPIC-020-PHOENIX/EPIC-020.md
  docs/backlog/EPIC-020-PHOENIX/US-201/US-201.md
  docs/backlog/EPIC-020-PHOENIX/US-202/US-202.md
  docs/backlog/EPIC-020-PHOENIX/US-203/US-203.md
  docs/backlog/EPIC-020-PHOENIX/US-204/US-204.md
  docs/backlog/EPIC-020-PHOENIX/US-205/US-205.md
  docs/backlog/EPIC-020-PHOENIX/US-206/US-206.md
  docs/backlog/EPIC-020-PHOENIX/US-207/US-207.md
  docs/backlog/EPIC-020-PHOENIX/US-208/US-208.md
  docs/backlog/EPIC-020-PHOENIX/US-209/US-209.md
  docs/backlog/EPIC-020-PHOENIX/US-210/US-210.md
  docs/backlog/EPIC-020-PHOENIX/US-211/US-211.md
  docs/backlog/EPIC-020-PHOENIX/US-212/US-212.md
  docs/guidelines/AGENTS.md
  docs/handleidingen/ontwikkelaars/MULTIAGENT_QUICKSTART.md
  docs/handleidingen/ontwikkelaars/codex-multi-agent-gebruik.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/EPIC-020.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-201/US-201.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-202/US-202.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-203/US-203.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-204/US-204.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-205/US-205.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-207/US-207.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-208/US-208.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-209/US-209.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-210/US-210.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-211/US-211.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-212/US-212.html
  docs/portal/rendered/guidelines/AGENTS.html
  docs/portal/rendered/handleidingen/ontwikkelaars/MULTIAGENT_QUICKSTART.html
  docs/portal/rendered/handleidingen/ontwikkelaars/codex-multi-agent-gebruik.html
  scripts/multiagent.sh
  src/services/service_factory.py
Due: no-todo-markers, generate-portal-on-docs-change

fix: Resolve 9 critical P1/P2 issues from US-193 multi-agent review
  LEGACY_REMOVAL_PLAN.md
  US-193-fixes.md
  US-201-IMPLEMENTATION-REPORT.md
  docs/backlog/EPIC-020-PHOENIX/US-201/FINAL_ANALYSIS_REPORT.md
  docs/backlog/EPIC-020-PHOENIX/US-201/PERFORMANCE_ANALYSIS_REPORT.md
  docs/backlog/EPIC-020-PHOENIX/US-202/IMPLEMENTATION.md
  docs/backlog/EPIC-020-PHOENIX/US-203/TOKEN_ANALYSIS_REPORT.md
  docs/backlog/EPIC-020-PHOENIX/US-204/V1_MIGRATION_STATUS.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-206/US-206.html
  scripts/migrate_to_cached_container.py
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/toetsregels/cached_manager.py
  src/toetsregels/regels/DUP_01.json
  src/toetsregels/regels/DUP_01.py
  src/toetsregels/rule_cache.py
  src/ui/cached_services.py
  src/ui/session_state.py
  src/ui/tabbed_interface.py
  src/utils/caching.py
  src/utils/container_manager.py
  tests/debug/analyze_module_overlap.py
  tests/debug/test_container_caching.py
  tests/debug/test_overall_score_fix.py
  tests/debug/test_prompt_token_analysis.py
  tests/debug/test_streamlit_caching.py
  tests/performance/test_rule_cache_performance.py
  tests/services/TEST_COVERAGE_OVERALL_SCORE.md
  tests/services/test_service_factory.py
  tests/services/test_service_factory_overall_score_fix.py
Due: no-todo-markers, generate-portal-on-docs-change

fix: Remove ALL session state usage for prompts - prompts come ONLY from agent_result
  .gitignore
  docs/backlog/EPIC-003/US-220/US-220.md
  docs/backlog/EPIC-003/US-221/US-221.md
  docs/backlog/EPIC-003/US-222/US-222.md
  docs/backlog/EPIC-003/US-223/US-223.md
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/ci/check_no_root_db_files.sh
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  tests/conftest.py
  tests/debug/test_prompt_token_analysis.py
  tests/integration/test_modular_prompts.py
  tests/mocks/streamlit_mock.py
  tests/services/test_definition_repository.py
  tests/services/test_service_container.py
Due: no-todo-markers, generate-portal-on-docs-change

feat: Remove enable_web_lookup feature flag (US-220)
  data/definities.db
  docs/backlog/EPIC-002/US-192/CFR-BUG-025/README.md
  docs/backlog/EPIC-003/US-224/US-224.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-192/CFR-BUG-025/README.html
  docs/portal/rendered/backlog/EPIC-003/US-220/US-220.html
  docs/portal/rendered/backlog/EPIC-003/US-221/US-221.html
  docs/portal/rendered/backlog/EPIC-003/US-222/US-222.html
  docs/portal/rendered/backlog/EPIC-003/US-223/US-223.html
  docs/portal/rendered/backlog/EPIC-003/US-224/US-224.html
  src/database/definitie_repository.py
  src/services/container.py
  src/services/definition_generator_config.py
  src/services/definition_generator_context.py
  src/services/definition_generator_enhancement.py
  src/services/definition_orchestrator.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  tests/services/test_step2_components.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(portal): update generated portal index; tests: minor adjustments for batch validation and perf baseline
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/services/test_batch_validation.py
  tests/services/test_validation_performance_baseline.py
Due: no-todo-markers

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
