Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

chore(DEF-561): review-fixes — niet-hermetische DB-tests serieel + cache-dependency-path
  .github/workflows/test.yml
Due: none

fix(DEF-561): --ignore door --deselect vervangen (pytest 9-quirk)
  .github/workflows/test.yml
Due: none

fix(DEF-561): perf-timing-stap advisory (DEF-563), DB-tests apart blokkerend
  .github/workflows/test.yml
Due: none

chore(DEF-564): uv-install, coverage/pr-suite parallel, stap A -n 8 --dist load
  .github/workflows/test.yml
  Makefile
Due: none

feat(DEF-566): retry/timeout-knoppen voor CI-testruns — stap A 2m32s -> 16s
  .github/workflows/test.yml
  src/config/config_manager.py
  src/services/ai/__init__.py
  src/services/ai/anthropic_client.py
  src/services/ai/openai_client.py
  tests/unit/services/ai/test_create_ai_client_env_overrides.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-566): review-fixes — precedentie, fail-fast en 0-footgun gedekt
  tests/unit/services/ai/test_create_ai_client_env_overrides.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

perf(DEF-567): retry/timeout-knoppen ook op unit-job — kritieke pad ~2m31s -> ~1,5-2 min
  .github/workflows/test.yml
Due: none

perf(DEF-568): redundante mypy-stap uit unit-job — kritieke pad 2m26s -> ~1m44s
  .github/workflows/test.yml
Due: none

fix(DEF-569): baseline-raise-guard borgt services-zero-vloer bij mypy-baseline >0
  scripts/mypy_ratchet.py
  tests/unit/test_mypy_ratchet.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-569): review-fixes — follow-imports scoping + --update/boundary tests
  scripts/mypy_ratchet.py
  tests/unit/test_mypy_ratchet.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-459): model-onafhankelijke synoniem-onderzoeksprompt-builder
  src/services/prompts/synonym_research_prompt.py
  tests/unit/services/prompts/test_synonym_research_prompt.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-459): defensieve JSON-parser voor synoniem-LLM-output
  src/services/prompts/synonym_response_parser.py
  tests/unit/services/prompts/test_synonym_response_parser.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-459): SynonymSuggester roept model-onafhankelijk aan via AIServiceV2 + constructor-injectie
  src/pages/synonym_admin.py
  src/services/container.py
  src/services/gpt4_synonym_suggester.py
  src/services/synonym_orchestrator.py
  tests/unit/services/test_synonym_orchestrator.py
  tests/unit/services/test_synonym_suggester.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-459): juridische context bereikt de synoniem-suggester (key-mismatch rechtgetrokken)
  src/services/synonym_orchestrator.py
  tests/unit/services/test_synonym_orchestrator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-459): TODO-gate vangt ook docstring/string-TODO-markers in src
  scripts/ci/check_no_todo_markers.sh
  tests/unit/scripts/test_check_no_todo_markers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-459): key-guarded e2e round-trip synoniem-suggester
  tests/integration/test_synonym_suggester_e2e.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-459): implementatieplan model-onafhankelijke synoniem-generatie
  docs/plans/2026-07-07-def-459-model-onafhankelijke-synoniem-generatie.md
Due: none

test(DEF-459): review-fixes — stats-tellers/definitie/string-context tests + gate rg-exitcode-guard
  scripts/ci/check_no_todo_markers.sh
  tests/unit/services/test_synonym_suggester.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

ci(DEF-459): rg-skip-guard voor gate-test + e2e deselect/strengere key-guard (CI-groen)
  .github/workflows/test.yml
  tests/integration/test_synonym_suggester_e2e.py
  tests/unit/scripts/test_check_no_todo_markers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-570): verplaats SynonymSuggestion naar models (breekt parser-suggester cycle)
  src/models/synonym_models.py
  src/services/gpt4_synonym_suggester.py
  src/services/prompts/synonym_response_parser.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-570): hernoem gpt4-naamgeving naar model-onafhankelijk (bestand/method/attr/UI-tekst)
  src/pages/synonym_admin.py
  src/pages/synonym_metrics.py
  src/services/container.py
  src/services/synonym_orchestrator.py
  src/services/synonym_suggester.py
  src/ui/tabs/synonym_metrics_tab.py
  tests/integration/test_synonym_container_integration.py
  tests/integration/test_synonym_suggester_e2e.py
  tests/unit/services/prompts/test_synonym_response_parser.py
  tests/unit/services/test_synonym_orchestrator.py
  tests/unit/services/test_synonym_suggester.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check
