Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: retire single import flow
  docs/backlog/EPIC-005/US-062/US-062.md
  docs/backlog/EPIC-005/US-138/US-138.md
  docs/implementation/SINGLE-DEFINITION-IMPORT-MVP.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-005/US-062/US-062.html
  docs/portal/rendered/backlog/EPIC-005/US-138/US-138.html
  docs/portal/rendered/implementation/SINGLE-DEFINITION-IMPORT-MVP.html
  src/services/container.py
  src/services/definition_import_service.py
  src/ui/components/management_tab.py
Due: no-todo-markers, generate-portal-on-docs-change

refactor: modulariseer ImportExportBeheer tab - 83% code reductie (2828→576 LOC)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/export_tab.py
  src/ui/components/management_tab.py
  src/ui/components/tabs/import_export_beheer/__init__.py
  src/ui/components/tabs/import_export_beheer/bulk_operations.py
  src/ui/components/tabs/import_export_beheer/csv_importer.py
  src/ui/components/tabs/import_export_beheer/database_manager.py
  src/ui/components/tabs/import_export_beheer/format_exporter.py
  src/ui/components/tabs/import_export_beheer/orchestrator.py
  src/ui/tabbed_interface.py
Due: no-todo-markers

chore: execute brownfield cleanup quick wins
  docs/guidelines/TDD_TO_DEPLOYMENT_WORKFLOW.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-005/US-423/US-423.html
  docs/portal/rendered/backlog/EPIC-007/US-421/US-421.html
  docs/portal/rendered/backlog/EPIC-007/US-422/US-422.html
  docs/portal/rendered/backlog/EPIC-024/EPIC-024.html
  docs/portal/rendered/backlog/EPIC-025/EPIC-025.html
  docs/portal/rendered/backlog/EPIC-025/US-426/US-426.html
  docs/portal/rendered/backlog/EPIC-025/US-427/US-427.html
  docs/portal/rendered/backlog/EPIC-025/US-428/US-428.html
  docs/portal/rendered/backlog/EPIC-025/US-429/US-429.html
  docs/portal/rendered/backlog/EPIC-025/US-430/US-430.html
  docs/portal/rendered/backlog/EPIC-025/US-431/US-431.html
  docs/portal/rendered/backlog/EPIC-025/US-432/US-432.html
  docs/portal/rendered/backlog/EPIC-025/US-433/US-433.html
  docs/portal/rendered/backlog/EPIC-025/US-434/US-434.html
  docs/portal/rendered/code-analyse/quality/TECHNICAL_DEBT_INVENTORY.html
  docs/portal/rendered/guidelines/TDD_TO_DEPLOYMENT_WORKFLOW.html
  docs/portal/rendered/handleidingen/ontwikkelaars/REFACTORING_EXAMPLES.html
  docs/portal/rendered/planning/AGENT_ANALYSIS_SUMMARY.html
  docs/portal/rendered/planning/SPRINT_CHANGE_PROPOSAL_BROWNFIELD_CLEANUP.html
  docs/portal/rendered/technisch/history_tab_removal_summary.html
  docs/portal/rendered/testing/HISTORY_TAB_ANALYSIS_REPORT.html
  docs/portal/rendered/testing/HISTORY_TAB_REMOVAL_SUMMARY.html
  docs/technisch/history_tab_removal_summary.md
Due: generate-portal-on-docs-change

docs: fix US-ID duplicates (US-201-205, US-417)
  docs/backlog/EPIC-003/US-435-mediawiki-query-sanitization.md
  docs/backlog/EPIC-003/US-436-sru-negotiation-hardening.md
  docs/backlog/EPIC-003/US-437-provider-health-metrics.md
  docs/backlog/EPIC-004/US-438-ui-arrow-typesafety.md
  docs/backlog/EPIC-011/US-439-env-ssot.md
  docs/backlog/EPIC-022/EPIC-022.md
  docs/backlog/EPIC-022/US-440/US-440.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/US-435-mediawiki-query-sanitization.html
  docs/portal/rendered/backlog/EPIC-003/US-436-sru-negotiation-hardening.html
  docs/portal/rendered/backlog/EPIC-003/US-437-provider-health-metrics.html
  docs/portal/rendered/backlog/EPIC-004/US-438-ui-arrow-typesafety.html
  docs/portal/rendered/backlog/EPIC-011/US-439-env-ssot.html
  docs/portal/rendered/backlog/EPIC-022/EPIC-022.html
  docs/portal/rendered/backlog/EPIC-022/US-440/US-440.html
Due: generate-portal-on-docs-change

docs: update INDEX.md with accurate backlog counts
  docs/INDEX.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/INDEX.html
Due: generate-portal-on-docs-change

docs: resolve agent instruction conflicts (US-428)
  CLAUDE.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

docs: create EPIC-026 (God Object Refactoring) + US-427 strategy
  docs/backlog/EPIC-025/US-427/US-427-REFACTORING-STRATEGY.md
  docs/backlog/EPIC-026/EPIC-026.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs: EPIC-025 Sprint 1 completion report
  docs/planning/EPIC-025-SPRINT-1-COMPLETION-REPORT.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
