Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(traceability): link US-062 (Wiktionary) to REQ-012 and REQ-021
  docs/backlog/requirements/REQ-012.md
  docs/backlog/requirements/REQ-021.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: generate-portal-on-docs-change

feat(portal): add traceability relations to portal data and UI
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
  scripts/docs/generate_portal.py
Due: no-todo-markers

feat(portal): Planning view EPIC→US→BUG hierarchy and REQ Matrix tab
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
Due: none

feat(portal): make Planning view sprint-agnostic
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

feat(portal): add 'Mijn Werk' view for single-developer workflow
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

feat(portal): quick status and priority filters in 'Mijn Werk' view
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

feat(portal): add 'Alleen US' toggle to 'Mijn Werk' view
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

fix: Corrigeer traceability.json relaties voor US-061 en ontbrekende EPICs
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: none

docs(EPIC-014): add US-122 – Branch Overzicht & Koppeling met US/BUG
  data/definities.db
  docs/backlog/EPIC-012/US-062/IMPLEMENTATION_PLAN.md
  docs/backlog/EPIC-012/US-062/US-062.md
  docs/backlog/EPIC-014/US-122/US-122.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

feat(US-062): comprehensive FeedbackBuilder implementation plan with US-064 dependency
  docs/backlog/EPIC-012/US-062/IMPLEMENTATION_PLAN.md
  docs/backlog/EPIC-012/US-062/US-062.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
