Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

docs(ui): add inline help text for single import and small batch CSV import sections (usage, columns, examples)
  README.md
  docs/backlog/EPIC-004/US-155/US-155.md
  docs/backlog/EPIC-004/US-160/US-160.md
  docs/backlog/EPIC-004/US-195/US-195.md
  docs/handleidingen/ontwikkelaars/document-context-gebruik.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-004/US-155/US-155.html
  docs/portal/rendered/backlog/EPIC-004/US-160/US-160.html
  docs/portal/rendered/backlog/EPIC-004/US-195/US-195.html
  docs/portal/rendered/handleidingen/ontwikkelaars/document-context-gebruik.html
  docs/portal/rendered/refactor-log.html
  docs/portal/rendered/technisch/document_processing.html
  docs/refactor-log.md
  docs/technisch/document_processing.md
  src/services/service_factory.py
  src/ui/components/management_tab.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, generate-portal-on-docs-change

Docs: update US-155/US-160/US-195 and refactor-log; add service_factory legacy-removed marker [regen portal]
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/management_tab.py
  tests/integration/test_document_context_flow_light.py
  tests/unit/document_processing/test_document_processor_placeholders.py
  tests/unit/prompt/test_prompt_snippet_injection.py
  tests/unit/ui/test_document_snippets_docx.py
Due: no-todo-markers

Docs: commit regenerated portal artifacts
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

chore: include any new export artifacts (if generated during testing)
  docs/portal/index.html
  docs/portal/portal-index.json
  exports/definitie_test_begrip_20250922_123851.txt
  tests/test_json_validators.py
Due: no-todo-markers

fix(EPIC-018): use module-level ensure_list/ensure_dict in ServiceFactory to avoid UnboundLocalError during generation
  data/uploaded_documents/documents_metadata.json
  docs/handleidingen/gebruikers/uitleg-validatieregels.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/service_factory.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/orchestration_tab.py
Due: no-todo-markers, generate-portal-on-docs-change

fix(EPIC-018): use module-level ensure_list/ensure_dict in ServiceFactory to avoid UnboundLocalError during generation (#22)
  data/uploaded_documents/documents_metadata.json
  docs/handleidingen/gebruikers/uitleg-validatieregels.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/service_factory.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/orchestration_tab.py
Due: no-todo-markers, generate-portal-on-docs-change

docs: add comprehensive validation rules guide; ui: add per-rule hint expanders in Generator + Edit tabs and link in settings
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

ui: show rule hints for all evaluated rules (passed + failed) in Generator and Edit tabs; include raw V2 result in Edit for context
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

chore(samples): add CSV examples for single and small-batch import (+ README)
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/handleidingen/gebruikers/uitleg-validatieregels.html
  samples/import/README.md
  samples/import/batch_definitions.csv
  samples/import/single_definition.csv
Due: none

ui(generator): attach per-rule hint expander directly under each validation line
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers
