Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

chore(DEF-501): untrack .mypy_cache + voeg toe aan .gitignore
  .gitignore
Due: none

chore(DEF-501): untrack .mypy_cache + runtime-artefacten, vul .gitignore aan
  .gitignore
  data/rag-smoke-test-results/smoke-test-20260219-170750.json
  data/rag-smoke-test-results/smoke-test-20260219-170750.md
  data/test_uploaded_documents_placeholders/documents_metadata.json
  exports/definitie__20250825_135616.txt
  exports/definitie_test_begrip_20250902_174549.txt
  exports/definitie_test_begrip_20250902_175029.txt
  exports/definitie_test_begrip_20250904_073717.txt
  exports/definitie_test_begrip_20250913_192950.txt
  exports/definitie_test_begrip_20250922_074809.txt
  exports/definitie_test_begrip_20250922_123851.txt
  exports/definitie_test_begrip_20250922_152505.txt
  exports/definitie_test_begrip_20250922_184548.txt
  exports/definitie_test_begrip_20250922_191521.txt
  exports/definitie_test_begrip_20251017_152036.txt
  exports/definitie_test_begrip_20251019_072307.txt
  exports/definitie_test_begrip_20251027_162256.txt
  exports/definities_export_20251027_163942.txt
  exports/definities_export_20251028_081837.csv
  exports/definities_export_20251028_140912.txt
  exports/definities_export_20251028_141608.csv
  exports/definities_export_20251028_141609.json
  exports/definities_export_20251028_141609.txt
  exports/definities_export_20251028_141650.csv
  exports/definities_export_20251028_141652.json
  exports/definities_export_20251028_141652.txt
  exports/definities_export_20251028_141723.csv
  exports/definities_export_20251028_141723.json
  exports/definities_export_20251028_141723.txt
  exports/definities_export_20251028_143829.csv
  exports/definities_export_20251028_143830.csv
  exports/definities_export_20251028_143830.json
  exports/definities_export_20251028_143830.txt
  exports/definities_export_20251028_144029.csv
  exports/definities_export_20251028_144030.csv
  exports/definities_export_20251028_144030.json
  exports/definities_export_20251028_144030.txt
  exports/rollback_impact_rapport.txt
Due: none

chore(DEF-513): repareer make audit target
  Makefile
Due: none

docs(DEF-511): corrigeer README-claims + centraliseer versienummer
  README.md
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-512): verwijder debug-ruis + dode knoppen uit UI
  src/ui/components/definition_generator_tab.py
  src/ui/renderers/global_context_renderer.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-506): maak integration-gate blokkerend + skip-guard web_lookup orchestrator-test
  .github/workflows/test.yml
  tests/integration/services/web_lookup/test_orchestrator_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-506): voeg ontbrekende openpyxl-dependency toe
  requirements.in
  requirements.txt
Due: none

refactor(DEF-467): verwijder dode UFO-code (0 importers, 2658r)
  scripts/analysis/analyze_test_performance.py
  scripts/testing/benchmark_results.json
  scripts/testing/benchmark_ufo_classifier.py
  src/services/ufo_classifier_service.py
  src/services/ufo_pattern_matcher.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-425): bind feature-status-API op localhost + beperk CORS-origins
  src/api/feature_status_api.py
  tests/unit/api/test_feature_status_api.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-461): geen persoonsgevoelige vrije tekst meer in logs — alleen ids
  src/database/definitie_crud.py
  src/database/voorbeelden_repository.py
  src/services/context/context_adapter.py
  src/tools/definitie_manager.py
  src/ui/components/examples_block.py
  src/ui/helpers/context_adapter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-510): verwijder dode packages + stale src/data/definities.db
  .gitignore
  CLAUDE.md
  pyproject.toml
  src/analysis/__init__.py
  src/cache/__init__.py
  src/orchestration/__init__.py
  src/reports/__init__.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-514): begrens caches (LRU) + ruim lege rate-limiter-IP-keys op
  src/document_processing/document_processor.py
  src/security/security_middleware.py
  src/services/validation/astra_validator.py
  tests/unit/document_processing/test_document_processor_cache_bounds.py
  tests/unit/services/validation/test_astra_validator_cache_bounds.py
  tests/unit/test_security_middleware_rate_limit_cleanup.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-514): waarschuw bij evicted documentselectie i.p.v. stil verlies
  src/document_processing/document_processor.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/renderers/document_upload_renderer.py
  tests/unit/test_definition_generation_handler_evicted_docs.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-491): hernieuw gitleaksignore-fingerprints na history-scrub
  .gitleaksignore
Due: none

feat(DEF): default AI-model naar hoogste Opus (claude-opus-4-8) voor alle vragen
  .github/workflows/ci.yml
  .github/workflows/contract-tests.yml
  .github/workflows/test.yml
  config/config.yaml
  src/config/config_manager.py
  src/services/ai/model_router.py
  src/ui/components/ai_provider_sidebar.py
  tests/unit/test_config_system.py
  tests/unit/test_model_pricing_single_source.py
  tests/unit/test_model_router.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF): review-fixes — provider-default-test, sidebar-fallback, fixture-comment
  src/ui/components/ai_provider_sidebar.py
  tests/unit/test_config_system.py
  tests/unit/test_model_router.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-506): ANTHROPIC_API_KEY dummy op integration-stap na provider-switch (#349)
  .github/workflows/test.yml
Due: none

fix(DEF-500): spiegel begrip_input naar session-key begrip
  src/ui/renderers/global_context_renderer.py
  tests/unit/ui/renderers/test_global_context_renderer_begrip_sync.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-500): verwijder tests/-shadowing sys.path.insert (bijvangst)
  tests/unit/test_auto_load_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
