Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(ui): add US-194 (EPIC-004) Toetsregels Browser in Quality Control tab (browse/filter JSON-regels + ad-hoc check). Fix validator loader to resolve ARAI Python filenames without underscore.
  data/definities.db
  docs/backlog/EPIC-004/US-194/US-194.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ai_toetser/json_validator_loader.py
Due: no-todo-markers, generate-portal-on-docs-change

Workflows: scope EPIC-010 domein check to services; make mypy advisory; add dummy OpenAI keys for contract tests
  .github/workflows/contract-tests.yml
  .github/workflows/epic-010-gates.yml
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

tests(validation): add V2 latent rules + violation description tests fix(validation/ui): minor adjustments in modular_validation_service and definition_generator_tab to align with new tests
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
  tests/validation/test_v2_golden_latent_rules.py
  tests/validation/test_v2_violation_description.py
Due: no-todo-markers

EPIC-010 gates: ignore commented lines in 'domein' check to prevent false positives
  .github/workflows/epic-010-gates.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

tests: fix benchmark fixture conflict; contract tests: use architectuur path fallback; EPIC-010 gates: robust comment filtering for 'domein' check
  .github/workflows/epic-010-gates.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/conftest.py
  tests/contracts/test_validation_interface.py
Due: no-todo-markers

Tests: add golden suites for STR/INT/VER/ESS; Validator: treat ESS-03/04/05 patterns as positive indicators; Docs: update US-192/US-193 to IN_PROGRESS with progress notes; Regenerate portal
  docs/backlog/EPIC-002/US-192/US-192.md
  docs/backlog/EPIC-002/US-193/US-193.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-192/US-192.html
  docs/portal/rendered/backlog/EPIC-002/US-193/US-193.html
  docs/portal/rendered/backlog/EPIC-004/US-194/US-194.html
  src/services/validation/modular_validation_service.py
  tests/validation/test_v2_golden_ess_more.py
  tests/validation/test_v2_golden_int_more.py
  tests/validation/test_v2_golden_str_more.py
  tests/validation/test_v2_golden_ver.py
Due: no-todo-markers, generate-portal-on-docs-change

Docs: US-191 progress note (nog open; volgt na US-192); Regenerate portal
  docs/backlog/EPIC-002/US-191/US-191.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-191/US-191.html
Due: generate-portal-on-docs-change

EPIC-010 gates: allowlist specific UI imports; regenerate portal artifacts
  .github/workflows/epic-010-gates.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

chore: Clean project root and enforce file organization standards
  CLAUDE.md
  data/old_databases/new.db
  data/old_databases/old.db
  docs/HANDOVER-2025-09-17.md
  docs/guidelines/AGENTS.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/guidelines/AGENTS.html
  prompt_refactored.txt
  scripts/maintenance/clean_openai_keys.sh
  scripts/monitoring/monitor_app.sh
  scripts/testing/run_smoke_tests.sh
  tests/debug/test_async_debug.py
  tests/debug/test_debug_voorbeelden.py
  tests/integration/test_direct_adapter.py
  tests/integration/test_fixed_generation.py
  tests/integration/test_generation.py
  tests/integration/test_orchestrator_directly.py
  tests/integration/test_streamlit_async.py
  tests/smoke/test_smoke_generation.py
  validation-status-report.txt
Due: no-todo-markers, generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
