Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

feat(DEF-36): implement ontologie pre-classification before 'Genereer Definitie'
  docs/portal/index.html
  docs/portal/portal-index.json
  src/config/rate_limit_config.py
  src/services/container.py
  src/ui/tabbed_interface.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(CON-01): Prevent false positive for 'om'/'zm' lowercase words
  docs/analyses/ASTRA_VALIDATIEREGELS_VERGELIJKING.md
  docs/analyses/CON-01_VALIDATIE_TEST_RAPPORT.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/DOCS_CLEANUP_ANALYSIS.html
  docs/portal/rendered/analyses/ASTRA_VALIDATIEREGELS_VERGELIJKING.html
  docs/portal/rendered/analyses/BMAD-VIBE-CODING-INTEGRATION-ANALYSIS.html
  docs/portal/rendered/analyses/VIBE_CODING_METHODOLOGY_DEEP_ANALYSIS.html
  docs/portal/rendered/guidelines/VIBE_CODING_BROWNFIELD_ADAPTATION.html
  docs/portal/rendered/guidelines/VIBE_CODING_INTEGRATION_SUMMARY.html
  docs/portal/rendered/guidelines/VIBE_CODING_QUICK_REFERENCE.html
  docs/portal/rendered/guidelines/VIBE_CODING_TEMPLATE_OPTIMIZATION_GUIDE.html
  docs/portal/rendered/guidelines/VIBE_CODING_WORKFLOW.html
  docs/portal/rendered/methodologies/vibe-coding/CONSENSUS_ANALYSIS_EXECUTIVE_SUMMARY.html
  docs/portal/rendered/methodologies/vibe-coding/VOORSTEL_IMPLEMENTATIE.html
  docs/portal/rendered/workflows/vibe-coding-quick-reference.html
  src/toetsregels/regels/CON-01.json
  src/toetsregels/validators/CON_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs: Add comprehensive CI failures analysis and fix plan
  docs/analyses/CI_FAILURES_ANALYSIS.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

security: Phase 1 - upgrade vulnerable dependencies
  docs/analyses/SECURITY_AUDIT_REPORT.md
  docs/portal/index.html
  docs/portal/portal-index.json
  requirements.txt
Due: generate-portal-on-docs-change

fix: update tests for refactored ExampleType enum and SmartRateLimiter API
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/functionality/test_bulk_with_delay.py
  tests/functionality/test_deep_functionality.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: remove invalid local path from requirements.txt
  requirements.txt
Due: none

fix: remove invalid UNKNOWN package from requirements.txt
  requirements.txt
Due: none

fix(tests): replace non-existent management_tab import with validation_view
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/smoke/test_validation_v2_smoke.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

sec: add gitleaks ignore for config API keys
  .github/workflows/agent-quick-checks.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitleaksignore
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/CI_FAILURES_ANALYSIS.html
  docs/portal/rendered/analyses/SECURITY_AUDIT_REPORT.html
  docs/prd.md
  exports/definitie_test_begrip_20251017_152036.txt
  exports/definitie_test_begrip_20251019_072307.txt
Due: generate-portal-on-docs-change
