Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

refactor(DEF-437): mypy Fase 2 batch 4b — annoteer prompt-builders (KRITIEK)
  pyproject.toml
  scripts/mypy_overrides_baseline.txt
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/error_prevention_module.py
  src/services/prompts/modules/expertise_module.py
  src/services/prompts/modules/grammar_module.py
  src/services/prompts/modules/integrity_rules_module.py
  src/services/prompts/modules/metrics_module.py
  src/services/prompts/modules/output_specification_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
  src/services/prompts/modules/structure_rules_module.py
  src/services/prompts/modules/template_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-437): sluit interface-gat validation_service, verwijder cast
  src/services/container.py
  src/services/interfaces.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-451): generate_definition retourneert getypeerd response, dict-serialisatie via to_ui_response
  src/integration/definitie_checker.py
  src/orchestration/definitie_agent.py
  src/services/service_factory.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/async_bridge.py
  tests/unit/services/test_service_factory.py
  tests/unit/services/test_service_factory_overall_score_fix.py
  tests/unit/services/test_service_factory_scores_param.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-451): verwerk review-bevindingen #283 (dead param + contract-test)
  src/services/service_factory.py
  tests/unit/services/test_service_factory.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-437): maak validation_service @abstractmethod (review-MEDIUM #282)
  src/services/interfaces.py
  tests/unit/test_v2_interfaces.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-451): directe attribute-access in to_ui_response failure-guard (review-MEDIUM #283)
  src/services/service_factory.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-451): extraheer _build_ui_metadata uit to_ui_response (complexity-ratchet)
  src/services/service_factory.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-453): getypeerd UIResponseDict-contract op to_ui_response (DEF-452 fase 1)
  src/services/interfaces.py
  src/services/service_factory.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-454): isoleer flaky test_complete_flow_with_classification
  tests/unit/test_classification_single_path.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-455): type definition_generator_tab render-methoden als UIResponseDict
  src/ui/components/definition_generator_tab.py
  tests/unit/ui/test_definition_generator_tab_generation_details.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-455): edge-case-dekking + removal-trigger-comment uit review
  src/ui/components/definition_generator_tab.py
  tests/unit/ui/test_definition_generator_tab_generation_details.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-456): verwijder dode _render_save_as_draft_option + _save_as_draft
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-456): verwijder README-claim over nooit-bestaande draft-knop
  README.md
Due: none

ci(DEF-466): handhaaf CI-gates — ruff blokkerend, coverage-ratchet 45%, dode e2e weg
  .github/workflows/test.yml
Due: none
