Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(DEF-435): annoteer src/utils batch 1 (7 modules)
  pyproject.toml
  scripts/mypy_baseline.txt
  scripts/mypy_overrides_baseline.txt
  src/utils/async_api.py
  src/utils/container_manager.py
  src/utils/error_helpers.py
  src/utils/exceptions.py
  src/utils/performance_monitor.py
  src/utils/structured_logging.py
  src/utils/voorbeelden_debug.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-435): documenteer cast met DEF-439-referentie (review)
  src/utils/async_api.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(deps): bump tornado 6.5.6 -> 6.5.7 (DEF-440, GHSA-pw6j-qg29-8w7f)
  requirements.txt
Due: none

refactor(DEF-435): annoteer src/utils/cache (batch 1 PR 4b)
  pyproject.toml
  scripts/mypy_overrides_baseline.txt
  src/utils/cache.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-435): annoteer src/utils resilience-cluster + 8 type-fixes
  pyproject.toml
  scripts/mypy_baseline.txt
  scripts/mypy_overrides_baseline.txt
  src/utils/enhanced_retry.py
  src/utils/integrated_resilience.py
  src/utils/resilience.py
  src/utils/smart_rate_limiter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-435): vervang assert door expliciete guard (review)
  src/utils/enhanced_retry.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(ALG-231): verwijder gedupliceerde review-guidelines.md
  .claude/rules/review-guidelines.md
Due: none

chore(DEF-442): CI tool-pins single-source + pin-gate in CI
  .github/workflows/quality-gates.yml
  scripts/check_tool_pins.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-442): complexity-job installeert ruff via -r (review)
  .github/workflows/quality-gates.yml
Due: none

chore(deps): python-deps groep + ruff 0.15.17 (herwerk #250)
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
Due: none

refactor(DEF-436): annoteer ui helpers/renderers/handlers/tabs (mypy Fase 2 batch 2, sub-PR 1)
  pyproject.toml
  scripts/mypy_baseline.txt
  scripts/mypy_overrides_baseline.txt
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/async_bridge.py
  src/ui/helpers/context_adapter.py
  src/ui/helpers/feature_toggle.py
  src/ui/helpers/ui_helpers.py
  src/ui/renderers/document_upload_renderer.py
  src/ui/renderers/global_context_renderer.py
  src/ui/renderers/rag_management_renderer.py
  src/ui/tabs/synonym_metrics_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-436): concretiseer kale dict-annotaties (review-feedback)
  src/ui/helpers/async_bridge.py
  src/ui/renderers/rag_management_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-436): annoteer ui top-level modules (mypy Fase 2 batch 2, sub-PR 2)
  pyproject.toml
  scripts/mypy_baseline.txt
  scripts/mypy_overrides_baseline.txt
  src/ui/async_progress.py
  src/ui/cache_manager.py
  src/ui/cached_services.py
  src/ui/components_adapter.py
  src/ui/session_state.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-436): concretiseer _load_rag_collections return-type (review-feedback)
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
