Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

fix(DEF-768): R8 stopt bij een gestarte poging zonder gevaluitkomst
  scripts/ess05/proefgrootboek.py
  tests/unit/scripts/test_def768_r8_kostenbewaking.py
  tests/unit/scripts/test_def768_r8_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-772): Verduidelijk INT-03-regelrecord en verwijssignalen
  src/toetsregels/regels/INT-03.json
  src/validation/additional_patterns.py
  tests/unit/validation/test_def772_int03_regelrecord.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): ESS-05 leidt bewijsposities af uit een exact citaat (R8-offsetherstel)
  scripts/ess05/run_ess05_proef.py
  src/domain/ess05/bewijs.py
  src/domain/ess05/contract.py
  src/domain/modeluitvoer.py
  src/services/validation/ai_beoordeling_transport.py
  src/services/validation/ess05_assessment_service.py
  tests/fixtures/def768_fakes.py
  tests/fixtures/ess05/r8_r720_ruwe_respons_v1.json
  tests/integration/functionality/conftest.py
  tests/unit/domain/test_def768_ess05_antwoordafleiding.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r3_proef.py
  tests/unit/scripts/test_def768_r4_proef.py
  tests/unit/scripts/test_def768_r5_proef.py
  tests/unit/scripts/test_def768_r6_proef.py
  tests/unit/scripts/test_def768_r7_proef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
  tests/unit/services/test_def768_ess05_importgrens.py
  tests/unit/ui/test_def768_ess05_bewijsketen.py
  tests/unit/validation/test_def768_ess05_assessment_service.py
  tests/unit/validation/test_def768_ess05_offsetherstel.py
  tests/unit/validation/test_def768_ess05_tegenvoorbeelden.py
  tests/unit/validation/test_def768_ess05_verificatie.py
  tests/unit/validation/test_def768_r2_01_informatielacune.py
  tests/unit/validation/test_def768_r2_indicatorconsistentie.py
  tests/unit/validation/test_def768_r3_voorstelgrond.py
  tests/unit/validation/test_def768_r4_redenering.py
  tests/unit/validation/test_def768_r4c_gevalsbegrip.py
  tests/unit/validation/test_def768_r5_herstel.py
  tests/unit/validation/test_def768_r6_herstel.py
  tests/unit/validation/test_def768_r7_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-772): Voeg LLM-beoordeling voor INT-03 toe
  config/toetsregels/toetsregels_config.yaml
  src/domain/int03/__init__.py
  src/domain/int03/contract.py
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/evaluators/__init__.py
  src/services/validation/evaluators/judgment_review.py
  src/services/validation/evaluators/pronoun_reference_assessment.py
  src/services/validation/int03_assessment_service.py
  src/services/validation/modular_validation_service.py
  src/toetsregels/regels/INT-03.json
  src/toetsregels/runtime_contract.py
  tests/fixtures/def772_fakes.py
  tests/fixtures/toetsregels/runtime_cases.yaml
  tests/unit/domain/test_def772_int03_contract.py
  tests/unit/services/orchestrators/test_def622_context_transport.py
  tests/unit/services/orchestrators/test_def772_int03_integration.py
  tests/unit/services/orchestrators/test_def772_int03_wrappers.py
  tests/unit/services/orchestrators/test_validation_orchestrator_v2.py
  tests/unit/test_story_2_4_unit.py
  tests/unit/validation/test_def772_int03_assessment_service.py
  tests/unit/validation/test_def772_int03_evaluator.py
  tests/unit/validation/test_def772_int03_regelrecord.py
  tests/unit/validation/test_rule_runtime_matrix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): R9-herproef geregistreerd binnen het bestaande 68/25-kader
  scripts/ess05/maak_r9_ontwikkelinvoer.py
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-771): Herijk versieasserties en leg verificatie vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp-5-correctie-versieasserties-claude.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp-5-opdracht-codex-review.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-config-basiscontrole-met-synthetische-env.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-config-basiscontrole.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-green.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-lint.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-make-test.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-review-startstatus.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-skillpublicatiecontrole.json
  tests/unit/services/orchestrators/test_def743_source_assessment_wrappers.py
  tests/unit/services/orchestrators/test_def766_ess03_wrappers.py
  tests/unit/validation/test_validation_readiness.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-771): Behoud volledige dragende zin in passagehulp
  src/services/validation/evaluators/judgment_review.py
  tests/unit/validation/test_def771_int02_o1.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-772): Herstel INT-03 CI-fixture en kwaliteitsgates
  docs/testing/def563-timing-baseline.json
  docs/testing/def563-timing-inventaris.md
  src/domain/int03/contract.py
  tests/integration/functionality/conftest.py
  tests/integration/test_offline_core_journey.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): ESS-05 draagt elke deelzin via de eigen bewijsroute (R9-bewijsherstel)
  scripts/ess05/run_ess05_proef.py
  src/services/validation/ess05_assessment_service.py
  src/services/validation/ess05_verification_service.py
  tests/fixtures/ess05/r9_r720_callrecord_uittreksel_v1.json
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r3_proef.py
  tests/unit/scripts/test_def768_r4_proef.py
  tests/unit/scripts/test_def768_r5_proef.py
  tests/unit/scripts/test_def768_r6_proef.py
  tests/unit/scripts/test_def768_r7_proef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_bewijsroute.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
  tests/unit/validation/test_def768_ess05_assessment_service.py
  tests/unit/validation/test_def768_ess05_offsetherstel.py
  tests/unit/validation/test_def768_ess05_verificatie.py
  tests/unit/validation/test_def768_ess05_verificatieprompt.py
  tests/unit/validation/test_def768_r2_01_informatielacune.py
  tests/unit/validation/test_def768_r2_indicatorconsistentie.py
  tests/unit/validation/test_def768_r3_voorstelgrond.py
  tests/unit/validation/test_def768_r4_redenering.py
  tests/unit/validation/test_def768_r4c_gevalsbegrip.py
  tests/unit/validation/test_def768_r5_herstel.py
  tests/unit/validation/test_def768_r6_herstel.py
  tests/unit/validation/test_def768_r7_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-771): Leg onafhankelijke review en eindbewijs vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2-vervolgissue-concept-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2-vervolgissue-publicatie-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-app-concept-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-app-publicatie-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-skills-concept-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-skills-publicatie-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/processtatus-uitvoering-v4.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/proef-c1-uitvoering-na-o1-run3.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/proef-c1-uitvoering-na-o1-run3.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/takenlijst-v5.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp-5-correctie-r1-opdracht-claude.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp-5-opdracht-codex-review-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp-5-r1-correctiereview-codex.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-basis-failures.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-basis-failures.xml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-basis-security-bestanden.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-basis-security-volgorde.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-codex-review-r1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-codex-review-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-eindverificatie-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-falende-nodeids.txt
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-loginherstel-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-pytest-na-r1-publicatie-v1.xml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-pytest-na-r1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-pytest-volledig-publicatie-v1.xml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-pytest-volledig.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-r1-commit.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-r1-green.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-r1-lint.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-r1-red.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-review-bewijscontrole.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-review-diagnose-passages-na-r1.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-review-diagnose-passages-voor-r1.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-reviewdispositie-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-reviewdispositie-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp5-testbevindingen-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp6-bewijs-publicatieredactie-v1.md
Due: none

feat(DEF-772): Bewaar en toon actuele INT-03-beoordelingen
  docs/testing/def563-timing-baseline.json
  src/database/definitie_crud.py
  src/database/models.py
  src/domain/int03/opslag.py
  src/export/export_txt.py
  src/services/container.py
  src/services/data_aggregation_service.py
  src/services/definition_edit_service.py
  src/services/definition_repository.py
  src/services/export_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/int03_assessment_service.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/validation_view.py
  tests/integration/test_export_levels_comprehensive.py
  tests/unit/services/test_def772_int03_actieproef.py
  tests/unit/services/test_def772_int03_export_actualiteit.py
  tests/unit/services/test_def772_int03_herbinding_service.py
  tests/unit/services/test_def772_int03_persistentie.py
  tests/unit/ui/test_def772_int03_apptest.py
  tests/unit/ui/test_def772_int03_editor.py
  tests/unit/ui/test_def772_int03_weergave.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-771): Rond PR-oplevering en takenlijst af
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/def771-oplevercomment-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-app-publicatie-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-skills-publicatie-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/processtatus-uitvoering-v5.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/takenlijst-v6.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/wp6-bewijs-commit-v2.log
Due: none

feat(DEF-768): R10 geregistreerd met gezamenlijk kader en V7-invoer
  scripts/ess05/maak_r10_verificatie_invoer.py
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r10_proef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-771): Verifieer concrete INT-02-opslag- en exportroutes
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/akkoord-int02-omvangverruiming-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/processtatus-uitvoering-v6.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/takenlijst-v8.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-actions-besluit-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-bestaande-tests-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-codex-correctiereview-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-codex-review-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-codex-slotreview-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-correctieopdracht-claude-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-correctiereviewopdracht-codex-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-negatieve-controle-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-opdracht-claude-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-rapport-v3.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-replay-v3-lint.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-replay-v3.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-replay-v3.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-replay-v3.py
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-reviewopdracht-codex-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-slotcorrectieopdracht-claude-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-keten-slotreviewopdracht-codex-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-oplevering-en-uitrolvoorstel-v1.md
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-772): verhoog INT-03 outputbudget naar 2500 tokens
  docs/testing/def563-timing-baseline.json
  src/services/validation/int03_assessment_service.py
  tests/integration/test_offline_core_journey.py
  tests/unit/services/orchestrators/test_def772_int03_integration.py
  tests/unit/validation/test_def772_int03_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): ESS-05 toetst elke claim tegen een gesloten bewijsroute (R10-C3-herstel)
  scripts/ess05/run_ess05_proef.py
  src/services/validation/ess05_assessment_service.py
  src/services/validation/ess05_verification_service.py
  tests/fixtures/ess05/r10_r720_callrecord_uittreksel_v1.json
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r10_c3_bewijsroute.py
  tests/unit/scripts/test_def768_r10_proef.py
  tests/unit/scripts/test_def768_r3_proef.py
  tests/unit/scripts/test_def768_r4_proef.py
  tests/unit/scripts/test_def768_r5_proef.py
  tests/unit/scripts/test_def768_r6_proef.py
  tests/unit/scripts/test_def768_r7_proef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_bewijsroute.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
  tests/unit/validation/test_def768_ess05_assessment_service.py
  tests/unit/validation/test_def768_ess05_offsetherstel.py
  tests/unit/validation/test_def768_ess05_verificatie.py
  tests/unit/validation/test_def768_ess05_verificatieprompt.py
  tests/unit/validation/test_def768_r2_01_informatielacune.py
  tests/unit/validation/test_def768_r2_indicatorconsistentie.py
  tests/unit/validation/test_def768_r3_voorstelgrond.py
  tests/unit/validation/test_def768_r4_redenering.py
  tests/unit/validation/test_def768_r4c_gevalsbegrip.py
  tests/unit/validation/test_def768_r5_herstel.py
  tests/unit/validation/test_def768_r6_herstel.py
  tests/unit/validation/test_def768_r7_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): R9-proeftest noemt de huidige contractversies (assess/17, verify/4)
  tests/unit/scripts/test_def768_r9_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-772): stel INT-03 outputbudget in op 5000 tokens
  docs/testing/def563-timing-baseline.json
  src/services/validation/int03_assessment_service.py
  tests/integration/test_offline_core_journey.py
  tests/unit/services/orchestrators/test_def772_int03_integration.py
  tests/unit/validation/test_def772_int03_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-771): Leg integratiereview en volledige testuitkomst vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/def771-integratie-oplevercomment-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-app-publicatie-v3.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-skills-publicatie-v3.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/processtatus-uitvoering-v7.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/takenlijst-v10.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/takenlijst-v9.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-codex-review-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-eindverificatie-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-failurevergelijking-v1.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-keten-v1.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-opdracht-claude-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-publicatieredactie-v1.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-pytest-publicatie-v1.xml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-rapport-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-reviewopdracht-codex-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-correctie-v1.diff
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-opdracht-claude-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-rapport-v1.md
Due: none

docs(DEF-771): Publiceer gecontroleerde integratie- en testlogs
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-app-commit-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-app-merge-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-diffs-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-keten-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-lint-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-logredactie-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-pytest-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-reviewproeven-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-skills-commit-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-skills-merge-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-skills-zips-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-tests-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-integratie-zipcontrole-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-consumenten-publicatie-v2.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-consumenten-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-diff-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-lint-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-red-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/vervolg-schema-tests-v1.log
Due: none

docs(DEF-771): Rond correctie af en leg mergebesluit vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/def771-integratie-oplevercomment-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/pr-app-publicatie-v4.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/processtatus-uitvoering-v8.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/takenlijst-v11.md
Due: none

feat(DEF-768): R11 geregistreerd met begrensde verruiming en V8-invoer
  scripts/ess05/maak_r10_verificatie_invoer.py
  scripts/ess05/maak_r11_verificatie_invoer.py
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r10_proef.py
  tests/unit/scripts/test_def768_r11_proef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): V-acceptatie eist unsupported op de foutdrager (R11-01)
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_r11_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): ess05-answer/2 genest en citaat-eerst, offline (assess/18)
  scripts/ess05/maak_answer2_fixtures.py
  scripts/ess05/maak_r10_verificatie_invoer.py
  scripts/ess05/run_ess05_proef.py
  src/domain/ess05/bewijs.py
  src/domain/ess05/contract.py
  src/services/validation/ess05_assessment_service.py
  tests/fixtures/def768_fakes.py
  tests/fixtures/ess05/answer2_uit_r10_r720_v1.json
  tests/fixtures/ess05/answer2_uit_r9_r720_v1.json
  tests/fixtures/ess05/r11_r720_callrecord_uittreksel_v1.json
  tests/integration/functionality/conftest.py
  tests/unit/domain/test_def768_ess05_answer2.py
  tests/unit/domain/test_def768_ess05_antwoordafleiding.py
  tests/unit/domain/test_def768_ess05_contract.py
  tests/unit/scripts/test_def768_answer2_fixtures.py
  tests/unit/scripts/test_def768_r10_c3_bewijsroute.py
  tests/unit/scripts/test_def768_r10_proef.py
  tests/unit/scripts/test_def768_r11_proef.py
  tests/unit/scripts/test_def768_r3_proef.py
  tests/unit/scripts/test_def768_r4_proef.py
  tests/unit/scripts/test_def768_r5_proef.py
  tests/unit/scripts/test_def768_r6_proef.py
  tests/unit/scripts/test_def768_r7_proef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_bewijsroute.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/validation/test_def768_ess05_assessment_service.py
  tests/unit/validation/test_def768_ess05_offsetherstel.py
  tests/unit/validation/test_def768_ess05_tegenvoorbeelden.py
  tests/unit/validation/test_def768_ess05_verificatie.py
  tests/unit/validation/test_def768_ess05_verificatieprompt.py
  tests/unit/validation/test_def768_r2_01_informatielacune.py
  tests/unit/validation/test_def768_r2_indicatorconsistentie.py
  tests/unit/validation/test_def768_r3_voorstelgrond.py
  tests/unit/validation/test_def768_r4_redenering.py
  tests/unit/validation/test_def768_r4c_gevalsbegrip.py
  tests/unit/validation/test_def768_r5_herstel.py
  tests/unit/validation/test_def768_r6_herstel.py
  tests/unit/validation/test_def768_r7_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): diepe ruwe JSON is misvormd, geen exception (A2-01, A2-02)
  src/domain/modeluitvoer.py
  tests/unit/domain/test_def768_ess05_answer2.py
  tests/unit/scripts/test_def768_answer2_fixtures.py
  tests/unit/validation/test_def766_ess03_assessment_service.py
  tests/unit/validation/test_def768_ess05_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): R12-microproef geregistreerd, max 4 stappen, offline voorbereid
  scripts/ess05/maak_r12_verificatie_invoer.py
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r10_proef.py
  tests/unit/scripts/test_def768_r11_proef.py
  tests/unit/scripts/test_def768_r12_microproef.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): R12-R720 gebonden aan de code en configuratie van V (R12-01)
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_r12_microproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): R13 vijf herkenbare gevallen, door na inhoudelijke uitkomst
  scripts/ess05/proefgrootboek.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijscontrole_offline.py
  tests/unit/scripts/test_def768_r10_proef.py
  tests/unit/scripts/test_def768_r11_proef.py
  tests/unit/scripts/test_def768_r12_microproef.py
  tests/unit/scripts/test_def768_r13_herkenbare_gevallen.py
  tests/unit/scripts/test_def768_r8_proef.py
  tests/unit/scripts/test_def768_r9_proef.py
  tests/unit/scripts/test_def768_stapreservering.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-835): Voeg offline INT-02 beoordelingscontract toe
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/akkoord-wp1-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/plan-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/processtatus-uitvoering-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-claude-groen-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-claude-rood-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-opdracht-claude-groen-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-opdracht-claude-v1.md
  docs/architectuur/contracts/int02_assessment_contract_v1.md
  src/domain/int02/__init__.py
  src/domain/int02/contract.py
  tests/fixtures/def835_int02_ontwerpgevallen.json
  tests/unit/domain/test_def835_int02_contract.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-835): Borg bewijsgrond en letterlijke INT-02 terugkoppeling
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v3.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-claude-commitlint-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-claude-correcties-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-codex-review-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-opdracht-claude-commitlint-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-opdracht-claude-correcties-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-opdracht-codex-review-v1.md
  docs/architectuur/contracts/int02_assessment_contract_v1.md
  src/domain/int02/contract.py
  tests/unit/domain/test_def835_int02_contract.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-835): Leg geverifieerde WP1-oplevering vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-codex-probes-v1.py
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-codex-tegenproeven-v1.py
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-commitlint-groen-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-coordinator-eind-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-correcties-groen-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-correcties-rood-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp1-rood-coordinator-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/processtatus-uitvoering-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/processtatus-uitvoering-v3.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v4.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-codex-correctiereview-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-opdracht-codex-correctiereview-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp1-oplevering-v1.md
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-835): Bouw begrensde INT-02 beoordelingsdienst en T-prompt
  src/services/validation/int02_assessment_service.py
  tests/unit/services/prompts/test_def835_int02_prompt.py
  tests/unit/validation/test_def835_int02_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-836): verduidelijk INT-03-uitvoercontract
  src/services/validation/int03_assessment_service.py
  tests/unit/validation/test_def772_int03_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-835): Borg afkapping routerbeleid en eerlijke transportmetadata
  src/services/validation/int02_assessment_service.py
  tests/unit/validation/test_def835_int02_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-835): Leg WP2 bewijs herreview en open integratievoorwaarden vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/akkoord-wp2-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/processtatus-uitvoering-v4.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v5.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v6.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/takenlijst-v7.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-claude-correcties-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-claude-groen-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-claude-rood-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-codex-correctiereview-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-codex-review-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-opdracht-claude-correcties-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-opdracht-claude-groen-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-opdracht-claude-rood-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-opdracht-codex-correctiereview-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-opdracht-codex-review-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/wp2-oplevering-v1.md
Due: none

docs(DEF-835): Bewaar volledige offline WP2-testuitvoer
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-aanvulling-rood-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-codex-tegenproeven-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-coordinator-eind-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-coordinator-groen-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-coordinator-rood-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-correcties-groen-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-correcties-lint-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-correcties-rood-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-functiebetekenis-mutatie-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-groen-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-groen-v2.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-lint-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-lint-v2.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-mutatiecontrole-aanvulling-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-mutatiecontrole-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-mutatiecontrole-v2.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-mutatiecontrole-v3.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-redtests-behoud-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-regressie-skillbron-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-regressie-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-regressie-v2.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/wp2-rood-v1.log
Due: none

feat(DEF-835): Voeg INT-02-evaluator en resultaatcontract 2.3.0 toe
  config/toetsregels/toetsregels_config.yaml
  docs/architectuur/contracts/schemas/validation_result.schema.json
  docs/architectuur/contracts/validation_result_contract.md
  src/services/validation/evaluators/__init__.py
  src/services/validation/evaluators/decision_rule_assessment.py
  src/services/validation/interfaces.py
  src/toetsregels/runtime_contract.py
  tests/integration/contracts/test_validation_result_schema.py
  tests/unit/validation/test_def835_int02_evaluator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-835): Weiger ongeldige recordtekst in O2-evaluator
  src/services/validation/evaluators/decision_rule_assessment.py
  tests/unit/validation/test_def835_int02_evaluator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
