Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

fix(DEF-439): mypy src-layout import-resolutie (mypy_path + explicit_package_bases)
  pyproject.toml
Due: none

fix(DEF-439): repository-contract bugs in search/DUP_01/CSV-import/bulk
  src/services/definition_repository.py
  src/toetsregels/regels/DUP_01.py
  src/ui/components/tabs/import_export_beheer/bulk_operations.py
  src/ui/components/tabs/import_export_beheer/csv_importer.py
  tests/unit/services/test_definition_repository.py
  tests/unit/test_import_export_repository_contract.py
  tests/unit/validation/test_DUP_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-439): service-laag attribuut-bugs (classifier/ui_service/context-adapter)
  src/services/classification/ontological_classifier.py
  src/services/context/context_adapter.py
  src/ui/components_adapter.py
  tests/unit/services/classification/test_ontological_classifier_ai_call.py
  tests/unit/services/context/test_service_context_adapter.py
  tests/unit/test_components_adapter_error_handling.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-439): type-gaten dichten + dode code opruimen
  src/services/container.py
  src/services/definition_workflow_service.py
  src/services/interfaces.py
  src/tools/rag_smoke_test.py
  src/ui/components/duplicate_check_renderer.py
  src/ui/components/sources_renderer.py
  src/ui/components/tabs/import_export_beheer/bulk_operations.py
  src/ui/tabbed_interface.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(ALG-214): voeg Semgrep SAST-job toe aan security.yml
  .github/workflows/security.yml
Due: none

refactor(ALG-214): één Semgrep-scan + gate gescoped op src/ (review-fixes)
  .github/workflows/security.yml
Due: none

harden(ALG-214): fail-closed gate + robuustere parsing (review-ronde 2)
  .github/workflows/security.yml
Due: none

fix(DEF-439): container.py mypy-clean (services-gate 30->0)
  src/services/container.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-439): niet-kritieke services-gate errors (88->30)
  src/services/category_service.py
  src/services/context/context_adapter.py
  src/services/definition_edit_service.py
  src/services/definition_generator_cache.py
  src/services/definition_generator_enhancement.py
  src/services/definition_generator_monitoring.py
  src/services/definition_import_service.py
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/services/modern_web_lookup_service.py
  src/services/rag/document_chunker.py
  src/services/workflow_service.py
  tests/unit/services/test_definition_repository.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-439): niet-kritieke ui/voorbeelden/tools/utils mypy-errors
  src/database/migrations/v5_migration.py
  src/integration/definitie_checker.py
  src/pages/rag_management.py
  src/pages/synonym_admin.py
  src/toetsregels/regels/CON-01.py
  src/toetsregels/regels/DUP_01.py
  src/toetsregels/rule_cache.py
  src/toetsregels/validators/CON_01.py
  src/tools/rag_smoke_test.py
  src/ui/components/category_renderer.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/sources_renderer.py
  src/ui/components/voorbeelden_renderer.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/renderers/document_upload_renderer.py
  src/ui/renderers/rag_management_renderer.py
  src/ui/services/definition_ui_service.py
  src/ui/status_flags.py
  src/utils/integrated_resilience.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-439): initialize_session_state accepteert defaults-dict (fixt genegeerd seed-argument)
  src/ui/session_state.py
  tests/unit/ui/test_session_state_manager.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-439): database.definitie_repository uit mypy-overrides (facade schoon na import-resolutie)
  pyproject.toml
  scripts/mypy_baseline.txt
  scripts/mypy_overrides_baseline.txt
Due: none

fix(DEF-439): services-gate mypy-clean (30->0), totale ratchet 31->1
  scripts/mypy_baseline.txt
  src/services/ai/anthropic_client.py
  src/services/ai_service_v2.py
  src/services/definition_generator_prompts.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/mappers.py
  src/utils/dict_helpers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-439): borg AIServiceV2.batch_generate BaseException-reraise
  tests/unit/test_ai_service_v2_batch.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
