Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

config: enable sru_overheid provider; SRU: remove Rechtspraak data.rechtspraak.nl fallback (reduce 404 noise)
  config/web_lookup_defaults.yaml
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/web_lookup/sru_service.py
Due: no-todo-markers

gitignore: allow docs/archief/handovers/** to be committed; add handover for toetsregels finetuning
  .gitignore
  docs/backlog/EPIC-003/US-201-mediawiki-query-sanitization.md
  docs/backlog/EPIC-003/US-202-sru-negotiation-hardening.md
  docs/backlog/EPIC-003/US-203-provider-health-metrics.md
  docs/backlog/EPIC-004/US-204-ui-arrow-typesafety.md
  docs/backlog/EPIC-011/US-205-env-ssot.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/document_processing/document_processor.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(backlog): add US-201 MediaWiki sanitization, US-202 SRU negotiation hardening, US-203 provider health metrics, US-204 UI Arrow typesafety, US-205 env SSOT; add technical web_lookup_config
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/US-201-mediawiki-query-sanitization.html
  docs/portal/rendered/backlog/EPIC-003/US-202-sru-negotiation-hardening.html
  docs/portal/rendered/backlog/EPIC-003/US-203-provider-health-metrics.html
  docs/portal/rendered/backlog/EPIC-004/US-204-ui-arrow-typesafety.html
  docs/portal/rendered/backlog/EPIC-011/US-205-env-ssot.html
  docs/portal/rendered/technisch/web_lookup_config.html
  docs/technisch/web_lookup_config.md
Due: generate-portal-on-docs-change

fix(document-processing): replace async juridical lookup stub with domain pattern extraction; remove invalid 'log_jsonl' arg to prevent upload error
  data/uploaded_documents/documents_metadata.json
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

UI: show all web_lookup sources (remove 5-item cap) to let users see all hits
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

SRU hardening: add DNS threaded resolver + optional IPv4 preference via SRU_FORCE_IPV4, trust_env proxies; Rechtspraak DNS preflight with graceful skip
  README.md
  docs/backlog/EPIC-004/US-160/CFR-BUG-030/README.md
  docs/backlog/EPIC-004/US-195/CFR-BUG-029/README.md
  docs/backlog/EPIC-018/EPIC-018.md
  docs/backlog/EPIC-018/US-225/US-225.md
  docs/backlog/EPIC-018/US-227/US-227.md
  docs/backlog/EPIC-018/US-228/US-228.md
  docs/backlog/EPIC-018/US-229/US-229.md
  docs/backlog/EPIC-018/US-230/US-230.md
  docs/backlog/EPIC-018/US-231/US-231.md
  docs/backlog/EPIC-018/US-232/US-232.md
  docs/backlog/EPIC-018/US-233/US-233.md
  docs/handleidingen/ontwikkelaars/document-context-gebruik.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/technisch/document_processing.md
  src/services/validation/modular_validation_service.py
  src/services/web_lookup/sru_service.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/export_tab.py
Due: no-todo-markers, generate-portal-on-docs-change

chore(portal): update generated portal after docs(US-234)
  docs/backlog/EPIC-005/EPIC-005.md
  docs/backlog/EPIC-005/US-234/US-234.md
  docs/implementation/SINGLE-DEFINITION-IMPORT-MVP.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-004/US-160/CFR-BUG-030/README.html
  docs/portal/rendered/backlog/EPIC-004/US-195/CFR-BUG-029/README.html
  docs/portal/rendered/backlog/EPIC-005/EPIC-005.html
  docs/portal/rendered/backlog/EPIC-005/US-234/US-234.html
  docs/portal/rendered/backlog/EPIC-018/EPIC-018.html
  docs/portal/rendered/backlog/EPIC-018/US-225/US-225.html
  docs/portal/rendered/backlog/EPIC-018/US-227/US-227.html
  docs/portal/rendered/backlog/EPIC-018/US-228/US-228.html
  docs/portal/rendered/backlog/EPIC-018/US-229/US-229.html
  docs/portal/rendered/backlog/EPIC-018/US-230/US-230.html
  docs/portal/rendered/backlog/EPIC-018/US-231/US-231.html
  docs/portal/rendered/backlog/EPIC-018/US-232/US-232.html
  docs/portal/rendered/backlog/EPIC-018/US-233/US-233.html
  docs/portal/rendered/handleidingen/ontwikkelaars/document-context-gebruik.html
  docs/portal/rendered/implementation/SINGLE-DEFINITION-IMPORT-MVP.html
  docs/portal/rendered/technisch/document_processing.html
Due: generate-portal-on-docs-change

feat(US-234): add DefinitionImportService (single import MVP) and Management tab UI for single import with validation + duplicate check
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-010/US-043/CFR-BUG-031/README.html
  src/ui/components/management_tab.py
Due: no-todo-markers

feat(US-234): add file-based single import (JSON/CSV 1 record) to Management tab; reuse validation + import flow
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/prompt_service_v2.py
  src/services/service_factory.py
  src/ui/components/management_tab.py
  src/ui/tabbed_interface.py
Due: no-todo-markers

feat(US-234): add small batch CSV import (<=100 rows) with per-row validation, duplicate handling (skip/overwrite), progress, and downloadable report
  docs/portal/index.html
  docs/portal/portal-index.json
  src/document_processing/document_extractor.py
  src/services/definition_import_service.py
  src/services/prompts/prompt_service_v2.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/management_tab.py
  src/ui/tabbed_interface.py
Due: no-todo-markers
