Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

test(DEF-500): verwijder tests/-shadowing sys.path.insert (bijvangst)
  tests/unit/test_auto_load_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore: .story-runner-spec-done in .gitignore
  .gitignore
Due: none

fix(DEF-500): Wis Velden wist ook widget-key begrip_input
  src/ui/tabbed_interface.py
  tests/unit/test_classification_single_path.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-500): invalideer gecachte classificatie bij term-wijziging
  src/ui/renderers/global_context_renderer.py
  tests/unit/ui/renderers/test_global_context_renderer_begrip_sync.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-441): temperature-guard in AnthropicClient per modelfamilie
  src/services/ai/anthropic_client.py
  tests/unit/services/ai/test_anthropic_client_temperature_guard.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-441): grens-bewuste allowlist-match + aangescherpte tests (review)
  src/services/ai/anthropic_client.py
  tests/unit/services/ai/test_anthropic_client_temperature_guard.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-553): begrip-invoervalidatie voor generatie start
  src/ui/handlers/definition_generation_handler.py
  tests/unit/ui/handlers/test_begrip_input_validation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-553): review-fixes — wetsartikel-notatie, x-teken-lek, zusterpad
  src/ui/handlers/definition_generation_handler.py
  tests/unit/ui/handlers/test_begrip_input_validation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-502): DefinitieStatus-enums i.p.v. strings in Expert Review-tab
  src/ui/components/expert_review_tab.py
  tests/unit/ui/components/test_expert_review_tab_def502.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-556): dode models.enums-import in update_status
  src/services/definition_workflow_service.py
  tests/unit/services/test_definition_workflow_update_status.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-502/DEF-556): review-fixes — session-state-reset, ARCHIVED-filtertak, case-insensitivity
  tests/unit/services/test_definition_workflow_update_status.py
  tests/unit/ui/components/test_expert_review_tab_def502.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-558): lock-normalisatie na Dependabot-batch (uv-drift)
  requirements-dev.txt
  requirements.txt
Due: none

fix(DEF-524): faalpad-rendering crasht niet meer en toont echte foutoorzaak
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  tests/unit/ui/components/test_generation_failure_rendering_def524.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-524): geef DefinitionResponseV2.error door als foutoorzaak
  src/services/service_factory.py
  tests/unit/ui/components/test_generation_failure_rendering_def524.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-524): review-fixes — asserties aangescherpt (4 bevindingen coverage-agent)
  tests/unit/ui/components/test_generation_failure_rendering_def524.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-524): var-annotated op validation_details (mypy-ratchet)
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-497/DEF-498): statusbadge-regeleinde + dubbele Context Configuratie-kop
  src/ui/renderers/global_context_renderer.py
  src/ui/tabbed_interface.py
  tests/unit/ui/test_ui_nits_def497_498.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-497): review-fix — positieve regeleinde-assertie ook op foutpad
  tests/unit/ui/test_ui_nits_def497_498.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-560): draai integration-tests parallel aan unit-job
  .github/workflows/test.yml
Due: none

chore(DEF-561): integration-tests parallel via xdist + perf-tests serieel + pip-cache
  .github/workflows/test.yml
Due: none

chore(DEF-561): review-fixes — niet-hermetische DB-tests serieel + cache-dependency-path
  .github/workflows/test.yml
Due: none
