Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

fix(edit-tab): auto-save generated definition voor auto-load functionaliteit
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_edit_tab.py
  src/ui/tabbed_interface.py
Due: no-todo-markers

fix(ui): import ensure_dict in tabbed_interface to prevent NameError during generation
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/tabbed_interface.py
Due: no-todo-markers

Duplicate policy: enforce begrip + (organisatorische|juridische|wettelijke)_context uniqueness.
  .tmp_test_dbs/definities_1636c7171b3d472b94de31d9baa0a56c.sqlite
  .tmp_test_dbs/definities_1cc4db075f8f48ca9015f985bbfcb7c3.sqlite
  .tmp_test_dbs/definities_4a101fda8c8f4937ba23184307b10fa4.sqlite
  .tmp_test_dbs/definities_66bd82f756404849b3230213554d13a7.sqlite
  .tmp_test_dbs/definities_7bc40a15a1d1453290a21111e0713445.sqlite
  .tmp_test_dbs/definities_80ec71fe9c454254be5a66836abd1747.sqlite
  .tmp_test_dbs/definities_895e6b5dc46243089427d1c68cfa2933.sqlite
  .tmp_test_dbs/definities_abbb76ad349443068a71b873a090fdec.sqlite
  .tmp_test_dbs/definities_f4726ac746cc440f942cea278d82895d.sqlite
  README.md
  data/definities.db
  docs/guidelines/DATABASE_GUIDELINES.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/guidelines/DATABASE_GUIDELINES.html
  src/database/definitie_repository.py
  src/database/migrate_database.py
  src/integration/definitie_checker.py
  src/services/definition_repository.py
  src/ui/components/definition_generator_tab.py
  src/ui/tabbed_interface.py
  tests/integration/test_duplicate_check_three_contexts.py
Due: no-todo-markers, generate-portal-on-docs-change

chore(docs): update generated portal artifacts
  .gitignore
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

chore: ignore .tmp_test_dbs and remove committed temp databases
  .tmp_test_dbs/definities_1636c7171b3d472b94de31d9baa0a56c.sqlite
  .tmp_test_dbs/definities_1cc4db075f8f48ca9015f985bbfcb7c3.sqlite
  .tmp_test_dbs/definities_4a101fda8c8f4937ba23184307b10fa4.sqlite
  .tmp_test_dbs/definities_66bd82f756404849b3230213554d13a7.sqlite
  .tmp_test_dbs/definities_7bc40a15a1d1453290a21111e0713445.sqlite
  .tmp_test_dbs/definities_80ec71fe9c454254be5a66836abd1747.sqlite
  .tmp_test_dbs/definities_895e6b5dc46243089427d1c68cfa2933.sqlite
  .tmp_test_dbs/definities_abbb76ad349443068a71b873a090fdec.sqlite
  .tmp_test_dbs/definities_f4726ac746cc440f942cea278d82895d.sqlite
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

docs(backlog): add US-195 under EPIC-004 for duplicate-gate with 3-context choice (UI) including scope, ACs, testplan, and implementation notes
  docs/backlog/EPIC-004/US-195/US-195.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

orchestrator: always save generated definition regardless of scores; UI can pick up saved_definition_id. UI duplicate-check: normalise wettelijke_basis in precheck and manual check.
  docs/backlog/EPIC-003/NieuwBestand_3.txt
  docs/backlog/EPIC-003/NieuwBestand_4.txt
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/ui/tabbed_interface.py
Due: no-todo-markers

edit-tab: correctly display and persist all context lists (org/jur/wet), including values not in predefined options via 'Anders...' + custom input (comma-separated).
  data/definities.db
  docs/backlog/EPIC-003/debug_weblookup.txt
  docs/backlog/EPIC-003/logging_vonnis_weblookup.txt
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/debug_performance_issues.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers

Web lookup: implement Wiktionary service and integrate into ModernWebLookupService (stage logic + fallbacks)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/wiktionary_service.py
Due: no-todo-markers

fix(edit-validate): pass ValidationContext (dataclass) instead of dict to ValidationOrchestrator.validate_text to avoid 'dict has no attribute correlation_id' error
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/web_lookup/wiktionary_service.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers
