Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF): address review findings — async/DB, repositories, errors
  .claude/rules/patterns.md
Due: none

feat(ALG-71,72,73,78): multi-agent review improvements
  .github/workflows/claude-code-review.yml
Due: none

feat(ALG-75,77,79): review metrics, spec check, skill preloading
  .github/workflows/claude-code-review.yml
Due: none

fix(DEF-395): XSS filter regex bypass — event handlers zonder leading whitespace
  src/validation/sanitizer.py
  tests/unit/test_sanitizer_xss.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-395): review feedback — event handler allowlist, protocol scope, extra tests
  src/validation/sanitizer.py
  tests/unit/test_sanitizer_xss.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-388): wire SecurityMiddleware to FastAPI via ASGI middleware
  src/api/feature_status_api.py
  tests/unit/test_security_middleware_wiring.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-388): review feedback — body caching, blocking test, header assertions
  src/api/feature_status_api.py
  tests/unit/test_security_middleware_wiring.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-387): replace pickle with JSON + HMAC-SHA256 serialization
  src/utils/cache.py
  src/utils/resilience.py
  src/utils/safe_serializer.py
  tests/unit/test_cache_utilities_comprehensive.py
  tests/unit/test_safe_serializer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-387): restrictieve permissions (0o600) op HMAC key file
  src/utils/safe_serializer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-236): eliminate value+key race conditions in 10 Streamlit widgets
  src/ui/components.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/renderers/global_context_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-389): repair 6 pre-existing test failures
  tests/services/test_data_aggregation_service.py
  tests/services/test_web_lookup_wrapper_fallback.py
  tests/services/test_workflow_service.py
  tests/services/validation/test_mappers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

style: black auto-fix pre-existing issues in definitie_repository.py
  src/database/definitie_repository.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-389): split definitie_repository.py into focused sub-modules
  src/database/audit_helpers.py
  src/database/db_connection.py
  src/database/definitie_crud.py
  src/database/definitie_duplicates.py
  src/database/definitie_import_export.py
  src/database/definitie_search.py
  src/database/models.py
  src/database/synonym_sync.py
  src/database/voorbeelden_repository.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-389): skip UFO ontologie tests — systeem wordt vervangen
  tests/debug/test_ufo_bugs_verification.py
  tests/debug/test_ufo_classifier_bugs_reproduction.py
  tests/debug/test_ufo_debug.py
  tests/debug/test_ufo_threading.py
  tests/services/test_ufo_classifier_edge_cases.py
  tests/services/test_ufo_classifier_service_comprehensive.py
  tests/services/test_ufo_pattern_matcher_unit.py
  tests/ui/test_ufo_ui_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
