Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Docs: update US-169 context (viewer met Terug-knop) en markeer US-168 als GEREED met afgevinkte acceptatiecriteria; portal regenerated.
  docs/backlog/EPIC-013/US-168/US-168.md
  docs/backlog/EPIC-013/US-169/US-169.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

US-091: status GEREED en acceptatiecriteria afgevinkt; portal regenerated.
  docs/backlog/EPIC-013/US-091/US-091.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

feat(portal): US-095 search operators + bookmarkable query
  docs/INDEX.md
  docs/backlog/EPIC-013/EPIC-013.md
  docs/backlog/EPIC-013/US-095/US-095.md
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
Due: generate-portal-on-docs-change

feat(portal/planning): polish planning view (US-097 basis)
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

feat(portal/a11y+deeplinks): US-085 focus/a11y basics + US-086 chip deeplinks (#q)
  docs/backlog/EPIC-013/US-085/US-085.md
  docs/backlog/EPIC-013/US-086/US-086.md
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
Due: generate-portal-on-docs-change

feat(portal/planning): sprint headers with type counts, status/prio color badges, reset-all filters
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
Due: none

docs(agents): add strict mode guidance and slash commands; unify across tips docs
  docs/codex-multi-agent-gebruik.md
  docs/guidelines/AGENTS.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/snippets/CODEX_PROMPT_PRESETS.md
Due: generate-portal-on-docs-change

feat(portal/planning): backlog label and SP subtotal per sprint; a11y contrast applied across views
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

fix(US-160): repo update via dict; embed toelichting on update; UI change-tracking for V2; validation uses V2 context; gate preview compat
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/definition_edit_service.py
  src/services/definition_repository.py
  src/services/definition_workflow_service.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers

chore(portal/a11y): list roles, aria-labels on open links; status/prio badges with titles; meta layout consistency
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
