Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(voorbeelden): expandeer context afkortingen in alle AI-gegenereerde content
  docs/portal/index.html
  docs/portal/portal-index.json
  src/voorbeelden/voorbeelden.py
  tests/unit/test_voorbeelden_context_expansion.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(web-lookup): fix SRU failures met schema + namespace support
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/debug_sru_parsing.py
  scripts/test_live_sru_response.py
  src/services/web_lookup/sru_service.py
  tests/debug/test_definition_cleaning_fix.py
  tests/services/web_lookup/test_sru_integration.py
  tests/services/web_lookup/test_sru_namespace_support.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs: add rendered portal analysis documents
  docs/portal/rendered/analyses/DEFINITION_DISPLAY_BUG_EXECUTIVE_SUMMARY.html
  docs/portal/rendered/analyses/PROMPT_VS_PARSING_ANALYSIS.html
  docs/portal/rendered/analyses/ROOT_CAUSE_ANALYSIS_DEFINITION_DISPLAY_BUG.html
  docs/portal/rendered/analyses/SRU_LOOKUP_FAILURE_ROOT_CAUSE_ANALYSIS.html
  docs/portal/rendered/analyses/sru-parsing-analysis.html
Due: none

fix(web-lookup): resolve SRU timeout and zero results through query simplification and context filtering
  config/web_lookup_defaults.yaml
  docs/analyses/sru-dc-prefix-validation.md
  docs/analyses/sru-failure-quick-reference.md
  docs/analyses/sru-web-lookup-failure-analysis.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/context_filter.py
  src/services/web_lookup/sru_service.py
  tests/services/test_context_filter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(web-lookup): disable Wetgeving.nl provider voor 76% snelheidswinst
  config/web_lookup_defaults.yaml
  docs/analyses/web-lookup-analyse-readme.md
  docs/analyses/web-lookup-consensus-rapport.md
  docs/analyses/web-lookup-implementatie-final.md
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/test_web_lookup_live.py
  src/services/web_lookup/rechtspraak_rest_service.py
  src/services/web_lookup/sru_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

feat(web-lookup): improve recall with synonyms and juridical ranking
  config/juridische_synoniemen.yaml
  config/web_lookup_defaults.yaml
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/technisch/IMPLEMENTATION_SUMMARY_SYNONIEMEN.md
  docs/technisch/web_lookup_synoniemen.md
  docs/testing/web-lookup-improvements-test-summary.md
  docs/testing/web-lookup-test-quick-reference.md
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/juridisch_ranker.py
  src/services/web_lookup/sru_service.py
  src/services/web_lookup/synonym_service.py
  src/services/web_lookup/wikipedia_service.py
  tests/fixtures/web_lookup_fixtures.py
  tests/integration/test_improved_web_lookup.py
  tests/services/web_lookup/test_juridisch_ranker.py
  tests/services/web_lookup/test_synonym_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
