Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

docs(DEF-621): implementatieplan fail-closed validatieguard
  docs/plans/2026-08-31-DEF-621-fail-closed-validation-guard.md
Due: none

test(DEF-621): RED - readiness, fail-closed guard en regelsettransities
  tests/unit/validation/test_ruleset_transitions.py
  tests/unit/validation/test_validation_guard_failclosed.py
  tests/unit/validation/test_validation_readiness.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-621): readiness, validation_unknown-contract en schema 1.2.0
  docs/architectuur/contracts/schemas/validation_result.schema.json
  src/services/validation/interfaces.py
  src/services/validation/readiness.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-621): herstel Batch-1-contract en discriminerende RED-tests
  docs/architectuur/contracts/schemas/validation_result.schema.json
  docs/plans/2026-08-31-DEF-621-fail-closed-validation-guard.md
  src/services/validation/interfaces.py
  tests/unit/validation/test_ruleset_transitions.py
  tests/unit/validation/test_validation_guard_failclosed.py
  tests/unit/validation/test_validation_readiness.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-621): versterk gatebewijs voor validation_unknown
  docs/plans/2026-08-31-DEF-621-fail-closed-validation-guard.md
  tests/unit/validation/test_validation_guard_failclosed.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-621): publiceer atomische validatiesnapshot en fail-closed guard
  docs/plans/2026-08-31-DEF-621-fail-closed-validation-guard.md
  src/services/validation/modular_validation_service.py
  src/services/validation/readiness.py
  tests/integration/services/test_batch_validation.py
  tests/smoke/test_critical_paths.py
  tests/unit/services/test_evaluation_context_sharing.py
  tests/unit/services/test_modular_validation_aggregation.py
  tests/unit/services/test_modular_validation_determinism.py
  tests/unit/services/test_modular_validation_heuristics.py
  tests/unit/services/test_modular_validation_race_condition.py
  tests/unit/validation/test_error_blokkeert_acceptatie.py
  tests/unit/validation/test_evaluation_coverage.py
  tests/unit/validation/test_evaluator_failclosed.py
  tests/unit/validation/test_rule_runtime_matrix.py
  tests/unit/validation/test_score_invarianten.py
  tests/unit/validation/test_validation_guard_failclosed.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-621): volledigheid tegen de contract-ID-set en herstel binnen TTL
  docs/plans/2026-08-31-DEF-621-fail-closed-validation-guard.md
  src/services/validation/modular_validation_service.py
  src/toetsregels/rule_cache.py
  src/toetsregels/runtime_contract.py
  tests/unit/validation/test_evaluation_coverage.py
  tests/unit/validation/test_root_ssot_contract.py
  tests/unit/validation/test_rule_cache_runtime_contract.py
  tests/unit/validation/test_ruleset_transitions.py
  tests/unit/validation/test_validation_guard_failclosed.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-621): toon validatie niet te bepalen bij validation_unknown
  src/services/interfaces.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/validation_view.py
  tests/unit/services/test_service_factory.py
  tests/unit/ui/test_definition_generator_tab_generation_details.py
  tests/unit/validation/test_validation_guard_failclosed.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-621): persisteer geen onbekende validatiescore
  src/database/definitie_crud.py
  src/integration/definitie_checker.py
  tests/unit/integration/test_definitie_checker_validation_score.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-621): leg reviewuitbreiding en eindbewijs vast
  docs/plans/2026-08-31-DEF-621-fail-closed-validation-guard.md
Due: none

fix(DEF-621): baseer readiness op werkelijk geladen regels
  src/services/validation/modular_validation_service.py
  src/services/validation/readiness.py
  tests/unit/services/test_service_factory.py
  tests/unit/validation/test_evaluation_coverage.py
  tests/unit/validation/test_ruleset_transitions.py
  tests/unit/validation/test_validation_guard_failclosed.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

build(deps)(DEF-705): bump tornado naar 6.5.8
  requirements.in
  requirements.txt
Due: none

chore(DEF-707): bump ruff naar 0.16.5 en sync de tool-pins
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  src/services/export_service.py
  src/services/prompts/synonym_research_prompt.py
  tests/unit/validation/test_verwijzingen_bestaan.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-559): maak lock-check symmetrisch met lock
  Makefile
Due: none

build(deps)(DEF-559): herstel setuptools in de lock en hersynchroniseer
  requirements-dev.txt
  requirements.txt
Due: none

fix(DEF-559): toon de diff-uitvoer bij een sync-verschil
  Makefile
Due: none

docs(DEF-559): maak de rolverdeling van de gate expliciet
  Makefile
Due: none

refactor(DEF-711): verplaats lock-check-logica naar een testbaar script
  Makefile
  scripts/ci/check_lock_sync.sh
Due: none

test(DEF-711): borg het discriminerend vermogen van de lock-sync-gate
  tests/unit/scripts/test_check_lock_sync.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-621): redigeer filesystem-paden uit de degradatiereden
  src/services/validation/modular_validation_service.py
  src/services/validation/readiness.py
  tests/unit/validation/test_validation_guard_failclosed.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
