Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(validation): call ModularValidationService.validate_definition with keyword args (begrip, text, ontologische_categorie, context) and run async safely
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/definition_edit_service.py
Due: no-todo-markers

docs(US-155): aanvullen acceptatiecriteria, NL termen, prefill + read-only context, status terugzetten en zoeken op Vastgesteld (incl. sample data context)
  docs/backlog/EPIC-004/US-155/US-155.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

feat(expert): prefill read-only contextpaneel voor laatst gegenereerde definitie; generator zet selected_review_definition_id; NL statuslabels voor weergave
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
Due: no-todo-markers

docs: update README (radio-tabs, Generator→Bewerk, Expert prefill, statusbescherming) en US-064 implementatie-instructies (Vastgesteld read-only, terugzetten via Expert-tab)
  README.md
  docs/backlog/EPIC-004/US-064/IMPLEMENTATION_COMPLETE.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

feat(US-155): Expert-tab acties (Vaststellen/Afwijzen/Terugzetten) via workflowservice; Edit-tab read-only bij Vastgesteld met duidelijke melding; NL statuslabels
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_edit_tab.py
  src/ui/components/expert_review_tab.py
Due: no-todo-markers

ui: Expert-tab toont altijd alle 3 contexten uit record (leeg = —), NL-statuslabels; Edit-tab statusfilter met NL labels→codes mapping en ondersteuning voor Vastgesteld en Gearchiveerd
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_edit_tab.py
  src/ui/components/expert_review_tab.py
Due: no-todo-markers

docs(ADR-006): Contextweergavebeleid vastgelegd (alleen vastgelegde context; 3 velden altijd zichtbaar; geen globale fallback); US-155 en README bijgewerkt
  README.md
  docs/architectuur/decisions/ADR-006-CONTEXT-DISPLAY-POLICY.md
  docs/backlog/EPIC-004/US-155/US-155.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

feat(ui): Expert-tab 'Herstel uit archief' (archived→draft) met reden + logging; Edit-tab read-only ook bij Gearchiveerd met duidelijke melding
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_edit_tab.py
  src/ui/components/expert_review_tab.py
Due: no-todo-markers

Portal: type-normalisatie + linkfix (relatieve paden). Backlog: REQ-093 (Navigatie terug naar Portal) en US-160 onder EPIC-013; traceability bijgewerkt. Geen viewer/renderer (alleen documentatie).
  docs/backlog/EPIC-013/US-160/US-160.md
  docs/backlog/requirements/REQ-093.md
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
  docs/traceability.json
  scripts/docs/generate_portal.py
Due: no-todo-markers, generate-portal-on-docs-change

Backlog (EPIC-013): voeg REQ-094 (Document Rendering & Preview) en US-168 (Viewer – nette rendering MD/PDF/DOCX). Traceability en portal-index bijgewerkt. Geen implementatie, alleen documentatie.
  docs/backlog/EPIC-013/US-168/US-168.md
  docs/backlog/requirements/REQ-094.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
