Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF): harden AI clients + repo cleanup (#121)
  .gitignore
  data/uploaded_documents/documents_metadata.json
  docs/definitie-app-architecture.md
  src/services/ai/__init__.py
  src/services/ai/anthropic_client.py
  src/services/ai/base_client.py
  src/services/ai/openai_client.py
  tests/test_ai_clients.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF): stricter API key masking in sidebar
  src/ui/components/ai_provider_sidebar.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF): stricter API key masking in sidebar (#122)
  src/ui/components/ai_provider_sidebar.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-303): add v5 database migration with 8 new tables
  src/database/migrations/v5_migration.py
  src/database/schema.sql
  tests/unit/test_v5_migration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF): add .fuse_hidden* to .gitignore
  .gitignore
Due: none

feat(DEF-303): database migratie v5 tabellen (#123)
  .gitignore
  src/database/migrations/v5_migration.py
  src/database/schema.sql
  tests/unit/test_v5_migration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-290): juridisch-aware document chunker voor RAG pipeline
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/chunking_strategies.py
  src/services/rag/document_chunker.py
  src/services/rag/legal_structure_recognizer.py
  src/services/rag/models.py
  src/services/rag/token_counter.py
  tests/unit/services/rag/__init__.py
  tests/unit/services/rag/conftest.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_document_chunker.py
  tests/unit/services/rag/test_legal_structure_recognizer.py
  tests/unit/services/rag/test_models.py
  tests/unit/services/rag/test_token_counter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-290): juridisch-aware document chunker voor RAG pipeline (#124)
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/chunking_strategies.py
  src/services/rag/document_chunker.py
  src/services/rag/legal_structure_recognizer.py
  src/services/rag/models.py
  src/services/rag/token_counter.py
  tests/unit/services/rag/__init__.py
  tests/unit/services/rag/conftest.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_document_chunker.py
  tests/unit/services/rag/test_legal_structure_recognizer.py
  tests/unit/services/rag/test_models.py
  tests/unit/services/rag/test_token_counter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-269): EmbeddingService voor OpenAI embeddings in RAG pipeline
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/embedding_service.py
  tests/unit/services/rag/test_embedding_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-269): EmbeddingService voor OpenAI embeddings in RAG pipeline (#125)
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/embedding_service.py
  tests/unit/services/rag/test_embedding_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-304): EmbeddingStore — SQLite BLOB + numpy cosine similarity
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/embedding_store.py
  tests/unit/services/rag/test_embedding_store.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF): add ai_provider + anthropic_api_key config defaults
  config/config.yaml
Due: none

fix(DEF-304): code review fixes — input validatie, rollback, tests
  src/services/rag/embedding_store.py
  tests/unit/services/rag/test_embedding_store.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-291): RAGService — hoofdservice voor document ingest en context retrieval
  src/services/container.py
  src/services/rag/__init__.py
  src/services/rag/rag_service.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-291): XML escaping + type="rag" attribuut in _format_context
  src/services/rag/rag_service.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-315): standaardiseer alle bronformatting naar XML-tags in prompts
  config/web_lookup_defaults.yaml
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/prompt_service_v2.py
  src/services/rag/rag_service.py
  src/services/web_lookup/provenance.py
  src/utils/xml_source_formatter.py
  tests/unit/prompt/test_prompt_snippet_injection.py
  tests/unit/utils/test_xml_source_formatter.py
  tests/unit/utils/test_xml_source_integration.py
  tests/web_lookup/test_config_loader.py
  tests/web_lookup/test_e2e_orchestrator_prompt.py
  tests/web_lookup/test_orchestrator_integration.py
  tests/web_lookup/test_prompt_augmentation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
