Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

DEF-154, DEF-183, DEF-184, DEF-188: Quick Wins Batch + Unit Tests (#72)
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/prompt_orchestrator.py
  src/services/web_lookup/synonym_service.py
  src/toetsregels/regels/DUP_01.py
  src/toetsregels/regels/__init__.py
  tests/validation_rules/__init__.py
  tests/validation_rules/test_DUP_01.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-187: Fix 24 silent exceptions in services/database layers
  src/database/definitie_repository.py
  src/main.py
  src/services/definition_edit_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/services/web_lookup/sru_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-187: Fix 24 silent exceptions in services/database layers (#73)
  src/database/definitie_repository.py
  src/main.py
  src/services/definition_edit_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/services/web_lookup/sru_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-214: Add thread-safety to ModuleContext shared_state
  src/services/prompts/modules/base_module.py
  tests/services/prompts/test_module_context_thread_safety.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-214: Add thread-safety to ModuleContext shared_state (#74)
  src/services/prompts/modules/base_module.py
  tests/services/prompts/test_module_context_thread_safety.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-211/212/213: Fix silent failures in utils, UI, and toetsregels layers
  src/services/definition_edit_repository.py
  src/toetsregels/rule_cache.py
  src/ui/components/examples_block.py
  src/ui/components/expert_review_tab.py
  src/utils/cache.py
  src/utils/container_manager.py
  src/utils/resilience.py
  src/utils/smart_rate_limiter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-211/212/213: Fix 6 remaining silent failures in examples_block.py
  src/ui/components/examples_block.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-211/212/213: Silent Failures Remediation (#75)
  src/services/definition_edit_repository.py
  src/toetsregels/rule_cache.py
  src/ui/components/examples_block.py
  src/ui/components/expert_review_tab.py
  src/utils/cache.py
  src/utils/container_manager.py
  src/utils/resilience.py
  src/utils/smart_rate_limiter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-187): add logging to silent exception handlers
  src/integration/definitie_checker.py
  src/services/definition_repository.py
  src/ui/components.py
  src/ui/components/synonym_review.py
  src/validation/sanitizer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-187: Fix silent exceptions - add proper error logging (#76)
  src/integration/definitie_checker.py
  src/services/definition_repository.py
  src/ui/components.py
  src/ui/components/synonym_review.py
  src/validation/sanitizer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-202: Fix ServiceContainer singleton violation in UI components
  scripts/ci/check-forbidden-patterns.sh
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/synonym_review.py
  src/ui/tabs/synonym_metrics_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-202: Fix ServiceContainer singleton violation in UI components (#77)
  scripts/ci/check-forbidden-patterns.sh
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/synonym_review.py
  src/ui/tabs/synonym_metrics_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-215: P0-Critical silent exception fixes with degraded mode indicator
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  src/database/definitie_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-225: Add comprehensive SessionStateManager tests with shared fixtures
  tests/ui/conftest.py
  tests/ui/test_session_state_manager.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-215): add silent failures analysis documentation
  docs/analysis/2025-11-27_silent-failures-gap-analysis.md
  docs/analysis/GAP_ANALYSIS_SUMMARY.txt
  docs/analysis/SILENT_FAILURES_AUDIT_REPORT.md
Due: none

DEF-215/225: Silent Exception Fixes + SessionStateManager Tests (#82)
  docs/analysis/2025-11-27_silent-failures-gap-analysis.md
  docs/analysis/GAP_ANALYSIS_SUMMARY.txt
  docs/analysis/SILENT_FAILURES_AUDIT_REPORT.md
  docs/analysis/SILENT_FAILURES_INVENTORY.md
  src/database/definitie_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
  tests/ui/conftest.py
  tests/ui/test_session_state_manager.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-220: Add logging to 15 silent exception handlers for UI error visibility
  src/services/modern_web_lookup_service.py
  src/services/service_factory.py
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(ci): add pull-requests write permission for contract tests comment
  .github/workflows/contract-tests.yml
Due: none

DEF-220: UI Error Visibility - Add logging to 15 silent exception handlers (#83)
  .github/workflows/contract-tests.yml
  src/services/modern_web_lookup_service.py
  src/services/service_factory.py
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
