Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: EPIC-025 Sprint 1 completion report
  docs/planning/EPIC-025-SPRINT-1-COMPLETION-REPORT.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

feat(ci): add quality gates workflow (US-429)
  .github/workflows/quality-gates.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/ci/validate-branch-name.sh
  scripts/ci/verify-precommit.sh
Due: none

feat(workflow): add TDD workflow automation tools (US-431)
  Makefile
  scripts/hooks/post-commit-review-reminder
  scripts/phase-tracker.py
  scripts/wip_tracker.sh
  scripts/workflow-guard.py
Due: no-todo-markers

docs(epic-025): complete Sprint 2 - Process Enforcement
  docs/backlog/EPIC-025/US-429/US-429.md
  docs/backlog/EPIC-025/US-430/US-430.md
  docs/backlog/EPIC-025/US-431/US-431.md
  docs/planning/EPIC-025-SPRINT-2-COMPLETION-REPORT.md
Due: generate-portal-on-docs-change

docs: parallel track coordination complete (Sprint 2 + EPIC-026 prep)
  docs/planning/EPIC-026-STAKEHOLDER-REVIEW-BRIEF.md
  docs/planning/PARALLEL-TRACK-COORDINATION.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-025/US-429/US-429.html
  docs/portal/rendered/backlog/EPIC-025/US-430/US-430.html
  docs/portal/rendered/backlog/EPIC-025/US-431/US-431.html
  docs/portal/rendered/planning/EPIC-025-SPRINT-2-COMPLETION-REPORT.html
  docs/portal/rendered/planning/EPIC-026-STAKEHOLDER-REVIEW-BRIEF.html
  docs/portal/rendered/planning/PARALLEL-TRACK-COORDINATION.html
  tests/integration/test_import_export_beheer_tab.py
  tests/integration/test_ufo_classifier_comprehensive.py
  tests/integration/test_ufo_classifier_service.py
  tests/integration/test_ufo_classifier_service_correctness.py
  tests/integration/test_ufo_performance.py
  tests/unit/test_definitie_repository_insert_payload.py
  tests/unit/test_migrate_helpers.py
  tests/unit/test_modern_web_lookup_service_error_handling.py
Due: no-todo-markers, generate-portal-on-docs-change

feat(epic-026): approve and activate Phase 1 (Design)
  docs/backlog/EPIC-026/EPIC-026.md
  docs/planning/EPIC-026-PHASE-1-KICKOFF.md
  docs/planning/EPIC-026-STAKEHOLDER-REVIEW-BRIEF.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-026/EPIC-026.html
  docs/portal/rendered/planning/EPIC-026-PHASE-1-KICKOFF.html
  docs/portal/rendered/planning/EPIC-026-STAKEHOLDER-REVIEW-BRIEF.html
Due: generate-portal-on-docs-change

feat(epic-028): complete feature cleanup & UI simplification (US-441 to US-446)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/regeneration_service.py
  src/services/service_factory.py
  src/ui/components/context_selector.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/enhanced_context_selector.py
  src/ui/components/monitoring_tab.py
  src/ui/components/web_lookup_tab.py
  src/ui/tabbed_interface.py
  tests/ui/test_context_selector_anders_fix.py
  tests/unit/test_anders_edge_cases.py
Due: no-todo-markers

fix(epic-028): remove all regeneration service references (US-445)
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

refactor(ui): remove redundant Quick Actions (Top) expander
  data/definities.db
  src/ui/tabbed_interface.py
Due: no-todo-markers

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
