Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF-836): Zet INT-03-woordstatus na onderbouwing in schema
  src/domain/int03/contract.py
  src/services/validation/int03_assessment_service.py
  tests/unit/services/test_def836_int03_schema_route.py
  tests/unit/validation/test_def772_int03_assessment_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): planaanvulling v4 — voorwaardeoordeel bij E altijd van Chris (hercontrole v3, B2-rest-3)
  docs/plans/2026-09-28-DEF-768-ess05-bewijseenheden-plan-v1-aanvulling-v4.md
Due: none

fix(DEF-768): E-voorwaarde nooit automatisch behouden, R18-invoer v5 (hercontrole v3, B2-rest-3)
  scripts/ess05/bewijsscorer.py
  scripts/ess05/maak_r18_bewijsregel_invoer.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijsscorer.py
  tests/unit/scripts/test_def768_r18_invoer.py
  tests/unit/scripts/test_def768_r18_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): beoordelingsblad en eindoordeel voor het E-oordeel van Chris (aanvulling v4)
  scripts/ess05/r18_e_oordeel.py
  tests/unit/scripts/test_def768_r18_e_oordeel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): planaanvulling v5 — validatie van de oordeelroute (hercontrole v4, B5/B6)
  docs/plans/2026-09-28-DEF-768-ess05-bewijseenheden-plan-v1-aanvulling-v5.md
Due: none

fix(DEF-768): oordeelroute valideert runverzameling en herberekent scores (hercontrole v4, B5/B6)
  scripts/ess05/bewijsscorer.py
  scripts/ess05/r18_e_oordeel.py
  tests/unit/scripts/test_def768_bewijsscorer.py
  tests/unit/scripts/test_def768_r18_e_oordeel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-835): Controleer herstel naar de oorspronkelijke werkmap
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/merge-cwd-claude-verslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/merge-cwd-codex-review-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/merge-cwd-opdracht-claude-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/merge-cwd-opdracht-codex-v1.md
  tests/unit/validation/test_def835_int02_modelproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): wachtende E-run alleen met uitkomst error/buiten_bereik (hercontrole v5, B7)
  scripts/ess05/bewijsscorer.py
  tests/unit/scripts/test_def768_bewijsscorer.py
  tests/unit/scripts/test_def768_r18_e_oordeel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-835): Leg mergecontrole en gerichte foutsluiting vast
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/finale-bronbinding.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/foutsluiting.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/identiteit.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-diff-v1.patch
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-green-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-lint-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-mutant-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-mutant-v1.py
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-red-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/merge-cwd-testfile-v1.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/omgevingshercontrole-junit.xml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/omgevingshercontrole.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/omgevingshercontrole.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/samengevoegd-gerichte-tests.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/samengevoegd-gerichte-tests.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/samengevoegde-lint-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/samengevoegde-lint.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/samengevoegde-unitgate-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/samengevoegde-unitgate.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/unitgate-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/bewijs/mergevoorbereiding-v1/unitgate.log
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/merge-beheerdersakkoord-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/pr-deeloplevering-v2.md
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): planaanvulling v6 — B8 geaccepteerd als restrisico, eindoordeel alleen via bestandsroute
  docs/plans/2026-09-28-DEF-768-ess05-bewijseenheden-plan-v1-aanvulling-v6.md
Due: none

docs(DEF-768): planaanvulling v7 — F7-besluit ja, twee juiste antwoorden bij A
  docs/plans/2026-09-28-DEF-768-ess05-bewijseenheden-plan-v1-aanvulling-v7.md
Due: none

fix(DEF-768): F7 = ja — twee gekoppelde juiste antwoorden bij A, invoer v6
  scripts/ess05/bewijsscorer.py
  scripts/ess05/maak_r18_bewijsregel_invoer.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_bewijsscorer.py
  tests/unit/scripts/test_def768_r18_e_oordeel.py
  tests/unit/scripts/test_def768_r18_invoer.py
  tests/unit/scripts/test_def768_r18_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): R18-budgetbesluit gepind na akkoord Chris (deel C)
  scripts/ess05/proefgrootboek.py
  scripts/ess05/r18_e_oordeel.py
  scripts/ess05/run_ess05_proef.py
  tests/unit/scripts/test_def768_r18_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): plan app-aansluiting ESS-05-bewijsregelroute v1 (stap 2)
  docs/plans/2026-09-29-DEF-768-ess05-app-aansluiting-plan-v1.md
Due: none

test(DEF-768): R18-weigertests toetsen ongewijzigd grootboek i.p.v. afwezigheid
  tests/unit/scripts/test_def768_r18_proef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): besluit Chris op app-aansluiting ESS-05 (aanvulling v1)
  docs/plans/2026-09-29-DEF-768-ess05-app-aansluiting-plan-v1-aanvulling-v1.md
Due: none

feat(DEF-768): ESS-05 in de app via de bewijsregelroute (ess05/3, besluit A-D)
  docs/architectuur/contracts/schemas/validation_result.schema.json
  src/domain/ess05/app_bewijsregels.py
  src/domain/ess05/bewijsregels.py
  src/domain/ess05/contract.py
  src/services/container.py
  src/services/definition_edit_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/ess05_bewijsregel_service.py
  src/services/validation/evaluators/distinction_assessment.py
  tests/integration/functionality/conftest.py
  tests/integration/test_def768_ess05_generatieburen.py
  tests/unit/services/orchestrators/test_def768_ess05_wrapper.py
  tests/unit/validation/test_def768_ess05_app_aansluiting.py
  tests/unit/validation/test_def768_ess05_verificatie.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): mypy-gate weer op baseline 0 (25 fouten van deze branch)
  src/database/ess05_registratie.py
  src/domain/ess05/bewijs.py
  src/services/definition_edit_service.py
  src/services/validation/ess05_local_verification_service.py
  src/services/validation/ess05_verification_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-768): rooktestscript P1 voor ESS-05 op drie echte definities
  scripts/ess05/praktijktest_p1.py
  tests/unit/scripts/test_def768_praktijktest_p1.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): bewijsregels /7 en prompt /5 na P1 (robuustheid 1, 3a, 3b)
  src/domain/ess05/bewijsregels.py
  src/services/validation/ess05_bewijsregel_service.py
  tests/fixtures/def768_p1_echte_antwoorden_v1.json
  tests/unit/domain/test_def768_robuustheid_bewijsregels.py
  tests/unit/scripts/test_def768_praktijktest_p1.py
  tests/unit/scripts/test_def768_r18_invoer.py
  tests/unit/scripts/test_def768_r18_proef.py
  tests/unit/validation/test_def768_bewijsregel_service.py
  tests/unit/validation/test_def768_ess05_app_aansluiting.py
  tests/unit/validation/test_def768_r16_herstel.py
  tests/unit/validation/test_def768_robuustheid_prompt.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): definitieruis neutraliseren voor ESS-05 (robuustheid 2)
  scripts/ess05/run_ess05_proef.py
  src/domain/ess05/contract.py
  src/domain/ess05/definitieruis.py
  tests/unit/domain/test_def768_definitieruis.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): eerlijke ESS-05-melding bij onbruikbare modeluitvoer (robuustheid 4)
  src/domain/ess05/contract.py
  src/ui/components/validation_view.py
  tests/unit/validation/test_def768_ess05_app_aansluiting.py
  tests/unit/validation/test_def768_robuustheid_melding.py
  tests/unit/validation/test_def768_robuustheid_p1_route.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-768): P1-herhaling op het restbudget van het besluit (robuustheid 4b)
  scripts/ess05/praktijktest_p1.py
  tests/unit/scripts/test_def768_praktijktest_p1.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-768): bewijsregelcontract v7 als delta op v6 (robuustheidsronde)
  docs/technisch/ess05-bewijsregels-contract-v7.md
  src/domain/ess05/bewijsregels.py
  src/services/validation/ess05_bewijsregel_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-768): Voeg losse ESS-05-voorbeeldenproef toe
  scripts/ess05/voorbeeldenproef.py
  tests/fixtures/def768_voorbeeldenproef_goldset_v1.json
  tests/unit/scripts/test_ess05_voorbeeldenproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): Herstel acht reviewbevindingen voorbeeldenproef
  scripts/ess05/voorbeeldenproef.py
  tests/unit/scripts/test_ess05_voorbeeldenproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): Verwijder witruimte voor leestekens bij schoonmaken
  scripts/ess05/voorbeeldenproef.py
  tests/unit/scripts/test_ess05_voorbeeldenproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-768): Ruimere limieten en v2-uitvoer na afgekapte run 1
  scripts/ess05/voorbeeldenproef.py
  tests/unit/scripts/test_ess05_voorbeeldenproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-426): Hoog urllib3 en tornado op wegens bekende kwetsbaarheden
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

fix(DEF-426): Hoog virtualenv op wegens bekende kwetsbaarheden
  requirements-dev.in
  requirements-dev.txt
Due: none

fix(DEF-620): Laat het contextfilter webtreffers scoren in plaats van weggooien
  src/services/modern_web_lookup_service.py
  tests/unit/services/test_modern_web_lookup_service_unit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-620): Verwerk reviewbevindingen bij bronnen en waarschuwing
  src/services/modern_web_lookup_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/prompt_service_v2.py
  src/services/service_factory.py
  src/ui/handlers/definition_generation_handler.py
  tests/unit/services/prompts/test_def620_bronnen_voor_opdracht.py
  tests/unit/services/test_def620_generatie_zonder_bronnen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-620): Zet het bronnenblok vóór de definitieopdracht
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/prompt_service_v2.py
  tests/unit/services/prompts/test_def620_bronnen_voor_opdracht.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-620): Noem documentkanaal in bronwaarschuwing en test conflict/mislukking
  src/services/modern_web_lookup_service.py
  src/ui/handlers/definition_generation_handler.py
  tests/unit/services/test_def620_generatie_zonder_bronnen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-620): Waarschuw bij een generatie zonder bronnen
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/handlers/definition_generation_handler.py
  tests/unit/services/test_def620_generatie_zonder_bronnen.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-426): Hoog multidict en werkzeug op wegens bekende kwetsbaarheden
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

fix(DEF-620): Meerwoordige terugval één keer tellen; voorzichtiger formulering drempel
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/rag/rag_service.py
  src/utils/term_match.py
  tests/unit/services/rag/test_def620_rag_relevantiepoort.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-620): Verwerk Codex-review relevantiepoort RAG
  scripts/rag_meting.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_service.py
  src/utils/term_match.py
  tests/fixtures/rag_meting/sv_begrippen.json
  tests/unit/services/orchestrators/test_def620_rag_zoektermen.py
  tests/unit/services/rag/test_def620_rag_relevantiepoort.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-620): Relevantiepoort in de bronbibliotheek (RAG fase 1)
  scripts/rag_meting.py
  src/services/modern_web_lookup_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_service.py
  src/utils/term_match.py
  tests/fixtures/rag_meting/sv_begrippen.json
  tests/unit/services/orchestrators/test_def620_rag_zoektermen.py
  tests/unit/services/rag/test_def620_rag_relevantiepoort.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-620): Nieuw Wetboek van Strafvordering per artikel in de bronbibliotheek (RAG fase 2)
  scripts/rag_importeer_officiele_publicatie.py
  scripts/rag_meting.py
  src/services/rag/officiele_publicatie_parser.py
  src/services/rag/rag_service.py
  src/ui/tabbed_interface.py
  tests/fixtures/rag_meting/sv2029_begrippen.json
  tests/unit/services/rag/test_def620_officiele_publicatie.py
  tests/unit/ui/test_def620_rag_selector.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
