Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(export): eliminate 70% code duplication + comprehensive tests
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/export_service.py
  tests/integration/test_export_levels_comprehensive.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(def-53): add custom exceptions and comprehensive error handling for definition save
  CHANGELOG.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/refactor-log.md
  src/services/definition_repository.py
  src/services/exceptions.py
  src/services/orchestrators/definition_orchestrator_v2.py
  tests/test_definition_save_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

chore: ignore export test artifacts in .gitignore
  .gitignore
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

fix(DEF-54): make categorie part of duplicate detection key
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
  tests/test_duplicate_detection_fix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-56): resolve Streamlit widget race condition + integrate lessons learned
  .pre-commit-config.yaml
  CLAUDE.md
  docs/guidelines/STREAMLIT_PATTERNS.md
  docs/methodologies/MCP_INTEGRATION_PATTERNS.md
  docs/methodologies/MULTIAGENT_WORKFLOW.md
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/check_streamlit_patterns.py
  src/ui/components/examples_block.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(DEF-54): add database cleanup fixture for test isolation
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/test_duplicate_detection_fix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-54+DEF-56): Duplicate detection + Streamlit race condition fixes (#43)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/guidelines/STREAMLIT_PATTERNS.md
  docs/methodologies/MCP_INTEGRATION_PATTERNS.md
  docs/methodologies/MULTIAGENT_WORKFLOW.md
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/check_streamlit_patterns.py
  src/database/definitie_repository.py
  src/ui/components/examples_block.py
  tests/test_duplicate_detection_fix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(DEF-67): Fix typo in voorkeursterm_options variable name
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/examples_block.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-67): Fix typo in voorkeursterm_options variable name (#44)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/examples_block.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(ui): enable 'Alle' status filter to show archived definitions
  src/services/definition_edit_repository.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(recovery): add IDs 77-79 to import script
  scripts/import_from_txt_exports.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat: implement data recovery + auto-backup system
  docs/guidelines/DATABASE_BACKUP_RECOVERY.md
  scripts/auto_backup_database.sh
  scripts/com.definitieagent.backup.plist
  scripts/import_from_txt_exports.py
  scripts/setup_auto_backup.sh
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
