Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

feat(validation): STR-01 body-start heuristiek + optionele violation-metadata (detected_pattern/position)
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-193/US-193-fixes-STATUS.html
  docs/portal/rendered/backlog/EPIC-002/US-193/US-193-fixes.html
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-201/US-201-IMPLEMENTATION-REPORT.html
  docs/portal/rendered/planning/LEGACY_REMOVAL_PLAN.html
  exports/definitie_test_begrip_20250922_074809.txt
  src/services/validation/modular_validation_service.py
Due: no-todo-markers

test(validation): voeg ARAI/STR goldens toe; pas tests aan voor realistische NL patronen
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/validation/modular_validation_service.py
  src/validation/additional_patterns.py
  tests/validation/test_v2_golden_arai_str_more.py
Due: no-todo-markers

ci: enforce overall coverage gate at 60% for PR suite
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

feat(validation): CON/SAM/VER pariteitsverbeteringen (JSON-centrisch)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/validation/modular_validation_service.py
  src/validation/additional_patterns.py
  tests/validation/test_v2_golden_con_sam_ver_more.py
Due: no-todo-markers

feat(ui): toon acceptance_gate status onder overall score (OK/niet OK met redenen)
  docs/planning/FIX-AUTO-LOAD-EDIT-TAB.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/cleaning_service.py
  src/ui/components/definition_generator_tab.py
  tests/ui/test_web_lookup_health_smoke.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(handover): voeg handover toe voor V2 validator enhancements (JSON-centrisch)
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/planning/FIX-AUTO-LOAD-EDIT-TAB.html
Due: none

docs(handover): maak handover expliciet (run/verify stappen, config keys, contract, risico’s)
  docs/planning/IMPLEMENTATION-PLAN-AUTO-LOAD-EDIT-TAB.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/sru_service.py
  tests/services/test_modular_validation_heuristics.py
  tests/web_lookup/test_sru_context_usage.py
Due: no-todo-markers, generate-portal-on-docs-change

chore(portal): update rendered portal after handover expansion
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/planning/IMPLEMENTATION-PLAN-AUTO-LOAD-EDIT-TAB.html
  src/ui/components/definition_edit_tab.py
  src/ui/session_state.py
  src/ui/tabbed_interface.py
  tests/services/orchestrators/test_definition_orchestrator_v2_enhancement_success.py
Due: no-todo-markers

test(validation): add heuristics (LANG/STR-FORM) and soft-accept tests; test(orchestrator): add enhancement->success; ci: raise services subset to include new tests and keep 85% gate
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

feat(edit-tab): auto-load gegenereerde definitie met contexten in Bewerk tab
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/test_auto_load_edit_tab.sh
  src/ui/components/definition_edit_tab.py
  tests/test_auto_load_edit_tab.py
  tests/test_e2e_simulation.py
Due: no-todo-markers
