Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

feat(DEF-590): hard de definitie-prompt tegen injectie via geuploade documenten
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/sanitization.py
  src/services/prompts/synonym_research_prompt.py
  tests/unit/services/prompts/test_definitie_prompt_hardening.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-590): dicht het rijke contextpad en verstevig de sanitizer na review
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/sanitization.py
  src/services/prompts/synonym_research_prompt.py
  tests/unit/services/prompts/modules/test_definition_task_transformation.py
  tests/unit/services/prompts/test_definitie_prompt_hardening.py
  tests/unit/services/prompts/test_sanitization.py
  tests/unit/services/prompts/test_synonym_research_prompt.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-591): dwing het sanitisatie-contract af met types en een architectuurtest
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/sanitization.py
  tests/unit/services/prompts/test_sanitisatie_architectuur.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-593,DEF-594): hard de export tegen formule-injectie en path traversal
  src/services/export_service.py
  tests/unit/services/test_export_formula_injection.py
  tests/unit/services/test_export_path_traversal.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-593,DEF-594): dicht de bypass, herstel accenten, dek alle sinks
  src/services/export_service.py
  tests/unit/services/test_export_formula_injection.py
  tests/unit/services/test_export_path_traversal.py
  tests/unit/test_sink_guards.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-591): de architectuurtest was een placebo -- nu per functie en bewezen
  src/services/prompts/sanitization.py
  tests/unit/services/prompts/test_sanitisatie_architectuur.py
  tests/unit/services/prompts/test_sanitization.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-597): een onvolledige export is niet langer stil "geslaagd"
  src/services/export_service.py
  tests/unit/services/test_export_stille_overslaan.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-597): bewaak de zichtbaarheidsketen en saneer begrippen in log/header
  src/services/export_service.py
  tests/unit/services/test_export_stille_overslaan.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-597): het onvolledig-signaal bereikt nu de gebruiker in de UI
  src/services/export_service.py
  src/ui/components/tabs/import_export_beheer/format_exporter.py
  tests/integration/test_export_levels_comprehensive.py
  tests/unit/services/test_export_formula_injection.py
  tests/unit/services/test_export_stille_overslaan.py
  tests/unit/ui/components/test_format_exporter_stille_overslaan.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-591): herstel de twee netten die de herschrijving stil liet vallen
  tests/unit/services/prompts/test_sanitisatie_architectuur.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-590): breng de speciale-tekens-test in lijn met het sanitisatie-contract
  tests/integration/test_prompt_security_and_edge_cases.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

build(deps)(DEF-599): pin gitpython op 3.1.55 tegen GHSA-94p4-4cq8-9g67
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

docs(DEF-XX): plan exhaustive codebase review
  docs/plans/2026-08-07-uitputtende-line-by-line-codebasereview.md
Due: none

docs(DEF-XX): start exhaustive codebase review
  docs/reviews/2026-08-07-line-by-line/baseline/environment.md
  docs/reviews/2026-08-07-line-by-line/scope/snapshot.md
Due: none

docs(DEF-XX): strengthen exhaustive review proof
  docs/plans/2026-08-07-uitputtende-line-by-line-codebasereview.md
Due: none

test(DEF-XX): add review inventory gates
  docs/reviews/2026-08-07-line-by-line/tools/build_inventory.py
  docs/reviews/2026-08-07-line-by-line/tools/test_inventory_tools.py
  docs/reviews/2026-08-07-line-by-line/tools/validate_inventory.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-XX): synchronize review proof contracts
  docs/plans/2026-08-07-uitputtende-line-by-line-codebasereview.md
Due: none

chore(DEF-600): verwijder 6 verweesde modules + voeg twee detectie-ratchets toe
  scripts/allowlist_orphan_modules.txt
  scripts/detect_orphan_modules.py
  scripts/orphan_modules_baseline.txt
  scripts/silent_except_baseline.txt
  scripts/silent_except_ratchet.py
  src/domain/context/organisatie_wetten.py
  src/services/ab_testing_framework.py
  src/toetsregels/modular_loader.py
  src/ui/helpers/ui_helpers.py
  src/ui/regeneration_handler.py
  src/utils/error_helpers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-XX): freeze exhaustive review scope
  docs/reviews/2026-08-07-line-by-line/findings/findings.csv
  docs/reviews/2026-08-07-line-by-line/scope/batch-index.csv
  docs/reviews/2026-08-07-line-by-line/scope/batch-membership.csv
  docs/reviews/2026-08-07-line-by-line/scope/exclusions.csv
  docs/reviews/2026-08-07-line-by-line/scope/file-inventory.csv
  docs/reviews/2026-08-07-line-by-line/scope/line-coverage.csv
  docs/reviews/2026-08-07-line-by-line/scope/review-infrastructure.csv
  docs/reviews/2026-08-07-line-by-line/scope/snapshot.md
  docs/reviews/2026-08-07-line-by-line/scope/symbol-inventory.csv
  docs/reviews/2026-08-07-line-by-line/scope/tooling-snapshot.md
  docs/reviews/2026-08-07-line-by-line/scope/untracked-inventory.csv
Due: none

docs(DEF-XX): record exhaustive review baseline
  docs/reviews/2026-08-07-line-by-line/baseline/commands.md
  docs/reviews/2026-08-07-line-by-line/baseline/integration-files.txt
  docs/reviews/2026-08-07-line-by-line/baseline/integration-results-a.tsv
  docs/reviews/2026-08-07-line-by-line/baseline/integration-results-b.tsv
  docs/reviews/2026-08-07-line-by-line/baseline/logs-manifest.sha256
  docs/reviews/2026-08-07-line-by-line/baseline/logs.tar.gz
  docs/reviews/2026-08-07-line-by-line/baseline/static-analysis.md
  docs/reviews/2026-08-07-line-by-line/baseline/test-results.md
Due: none

docs(DEF-600): haal verwijderde modules uit het bestandsoverzicht
  docs/technisch/python-bestanden-overzicht.md
Due: none
