Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

Normalize prioriteit label: US-107 (EPIC-013) van HIGH → HOOG.
  docs/backlog/EPIC-013/US-107/US-107.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs: breid US-160 en EPIC-016 user stories inhoudelijk uit (achtergrond, scope, data-model, UI/service specs, audit, risico's, rollout, tests)
  docs/backlog/EPIC-004/US-160/US-160.md
  docs/backlog/EPIC-016/US-161/US-161.md
  docs/backlog/EPIC-016/US-162/US-162.md
  docs/backlog/EPIC-016/US-163/US-163.md
  docs/backlog/EPIC-016/US-164/US-164.md
  docs/backlog/EPIC-016/US-165/US-165.md
  docs/backlog/EPIC-016/US-166/US-166.md
  docs/backlog/EPIC-016/US-167/US-167.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

Fix dubbele US-nummering: behoud EPIC-004/US-160; hernummer EPIC-013/US-160 -> US-169. Traceability + portal regenerated.
  docs/backlog/EPIC-013/US-169/US-169.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: generate-portal-on-docs-change

Pre-commit guard: run backlog integrity check (duplicate IDs + broken links) before standard hooks.
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/ai-pre-commit
Due: none

US-169 (Portal Navigatie): implementatie Variant B – openen in zelfde tab (browser Terug). README bijgewerkt; status GEREED; portal regenerated.
  docs/backlog/EPIC-013/US-160/US-160.md
  docs/backlog/EPIC-013/US-169/US-169.md
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: generate-portal-on-docs-change

US-169: Portal-navigatie via viewer (Terug naar Portal-knop). Links in portal openen via viewer.html?src=…; README bijgewerkt.
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
  docs/portal/viewer.html
Due: none

US-091: CI drift guard voor portal (regen + cached diff) en upload portal artifact. Niet langer staging via wrapper in CI.
  .github/workflows/docs-integrity.yml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

US-168: Viewer rendering verbeterd – MD pre-render naar HTML (met portal-stijl) + viewer integratie. PDF via browser viewer; DOCX met fallback. Feature-flag PORTAL_RENDER_MD.
  docs/portal/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
  scripts/docs/generate_portal.py
Due: no-todo-markers

Docs: CONTRIBUTING aangevuld met pre-commit (backlog-integriteit, portalgeneratie) en CI drift-guard uitleg.
  CONTRIBUTING.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

README: korte Portal-sectie toegevoegd (openen, viewer navigatie, rendering, drift-guard).
  README.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none
