Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(DEF-83): improve integration test quality and maintainability
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/integration/test_voorbeelden_validation_chain.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(critical): resolve 3 critical bugs (DEF-86, DEF-87, DEF-88)
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/cleanup_duplicates.py
  scripts/restore_orphaned_voorbeelden.py
  src/database/migrations/008_add_unique_constraint.sql
  src/ui/helpers/context_adapter.py
  src/ui/session_state.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore: update portal and UI components
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/enhanced_context_manager_selector.py
  src/ui/helpers/ui_helpers.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(performance): implement lazy loading for PromptServiceV2 (DEF-66)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  tests/performance/test_def66_lazy_loading.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(context-selector): resolve AttributeError crash in SessionStateManager
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

style: fix ruff warnings and import sorting (pre-merge cleanup)
  docs/debugging/DEF-99-TEST-VALIDATION-REPORT.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/orchestrators/definition_orchestrator_v2.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs: add DEF-108 comprehensive analysis and archaeology checklist
  .trunk/trunk.yaml
  CLAUDE.md
  docs/analyses/ONTOLOGICAL_CATEGORIE_COMPREHENSIVE_EXPLORATION.md
  docs/analyses/ONTOLOGISCHE_CATEGORIE_COMPREHENSIVE_EXPLORATION.md
  docs/analyses/PRAKTIJKVOORBEELDEN_TIMEOUT_ANALYSIS.md
  docs/analyses/PROMPT_COMPREHENSIVE_ANALYSIS_AND_IMPROVEMENT_PLAN.md
  docs/analyses/SECURITY_AUDIT_REPORT.md
  docs/guidelines/CANONICAL_LOCATIONS.md
  docs/guidelines/CODE_ARCHAEOLOGY_CHECKLIST.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/ONTOLOGICAL_CATEGORIE_COMPREHENSIVE_EXPLORATION.html
  docs/portal/rendered/analyses/ONTOLOGISCHE_CATEGORIE_COMPREHENSIVE_EXPLORATION.html
  docs/portal/rendered/analyses/PRAKTIJKVOORBEELDEN_TIMEOUT_ANALYSIS.html
  docs/portal/rendered/analyses/PROMPT_COMPREHENSIVE_ANALYSIS_AND_IMPROVEMENT_PLAN.html
  docs/portal/rendered/analyses/SECURITY_AUDIT_REPORT.html
  docs/portal/rendered/guidelines/CANONICAL_LOCATIONS.html
  docs/portal/rendered/guidelines/CODE_ARCHAEOLOGY_CHECKLIST.html
  src/services/orchestrators/definition_orchestrator_v2.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(voorbeelden): increase timeout for praktijkvoorbeelden to prevent data loss
  src/config/rate_limit_config.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(edit): prevent stale voorbeelden on definition switch
  docs/analyses/VOORBEELDEN_STALE_STATE_BUG_ANALYSIS.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/examples_block.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
