Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

feat(DEF-403): OntologyModelService — dataclass + repository voor ontologie
  src/models/ontology_models.py
  src/services/container.py
  src/services/ontology/__init__.py
  src/services/ontology/ontology_model_service.py
  tests/unit/services/ontology/__init__.py
  tests/unit/services/ontology/test_ontology_model_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-403): review fixes — dubbele connectie, cycle protection, logging
  src/services/ontology/ontology_model_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(ALG-309): verwijder claude-code-review.yml — CLI-native review via /review-pr
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: none

fix(DEF-406): update verouderde testpaden + dep-bumps voor CVE's
  .github/workflows/coverage-badge.yml
  .github/workflows/test.yml
  requirements.txt
  scripts/testing/run_tests.sh
Due: none

fix(DEF-406): verwijder dir-target tests/integration/contracts uit run_tests.sh
  scripts/testing/run_tests.sh
Due: none

fix(DEF-406): herstel broken 'from src.X' imports in src/
  src/repositories/synonym_registry.py
  src/services/synonym_orchestrator.py
  src/ui/components/synonym_review.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-406): bump idna, python-dotenv, urllib3 voor nieuwe CVE's
  requirements.txt
Due: none

fix(DEF-406): bump pyarrow 21.0.0 → 23.0.1 voor PYSEC-2026-113
  requirements.txt
Due: none

fix(DEF-406): herstel contract-tests in PR-gate + activeer contract-tests workflow
  .github/workflows/contract-tests.yml
  scripts/testing/run_tests.sh
Due: none

fix(DEF-406): trigger contract-tests workflow op self-edits
  .github/workflows/contract-tests.yml
Due: none

fix(DEF-406): herstel schema-pad in test_validation_interface
  tests/integration/contracts/test_validation_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(ALG-309): trigger Contract Tests via self-paths
  .github/workflows/contract-tests.yml
Due: none

chore(DEF-406): follow-up suggesties uit PR #194 review
  .github/workflows/coverage-badge.yml
  .github/workflows/test.yml
  tests/integration/contracts/test_validation_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-408): fix 29 mypy errors in src/services + strict CI
  .github/workflows/test.yml
  src/services/ai/anthropic_client.py
  src/services/ai/model_router.py
  src/services/ai/openai_client.py
  src/services/container.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/rag/embedding_store.py
  src/services/rag/rag_management_service.py
  src/services/rag/rag_service.py
  src/services/synonym_orchestrator.py
  src/services/validation/types.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
