Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF-751): Bereken verduidelijkingsbudget en controletekst op de NFKC-genormaliseerde tekst
  docs/plans/2026-09-17-def751-stap2-betekenisconflict.md
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/sanitization.py
  tests/unit/services/prompts/test_def751_unicodefix_verduidelijking.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-751): ESS-02-praktijkproef in de echte keten en twee gerichte promptcorrecties
  docs/plans/2026-09-17-def751-ess02-praktijkproef.md
  scripts/testing/ess02_praktijkproef.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/ess02_aanwijzing.py
  src/services/prompts/modules/grammar_module.py
  tests/unit/scripts/test_ess02_praktijkproef.py
  tests/unit/services/prompts/test_def751_praktijkproef_correcties.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-751): Schakel SDK-retries uit in de opt-in proefclient en corrigeer het proefverslag
  docs/plans/2026-09-17-def751-ess02-praktijkproef.md
  scripts/testing/ess02_praktijkproef.py
  tests/unit/scripts/test_ess02_praktijkproef.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-806): Vereis bruikbare hyperlink per bewijsbron
  docs/analyses/def806-hertoets-20260917-v1/37-replay-record4-final.json
  docs/analyses/def806-hertoets-20260917-v1/38-replay-record5-final.json
  docs/analyses/def806-hertoets-20260917-v1/START-HIER.md
  docs/analyses/def806-hertoets-20260917-v1/browser-hertoets-v1.md
  docs/analyses/def806-hertoets-20260917-v1/claude-eindrapport-v3.md
  docs/analyses/def806-hertoets-20260917-v1/codex-review-v1.md
  docs/analyses/def806-hertoets-20260917-v1/codex-review-v2.md
  docs/analyses/def806-hertoets-20260917-v1/codex-review-v3.md
  docs/analyses/def806-hertoets-20260917-v1/finale-code-identiteit.json
  docs/analyses/def806-hertoets-20260917-v1/generatie-record4-v1.json
  docs/analyses/def806-hertoets-20260917-v1/lokale-cli-logverwijzingen.json
  docs/analyses/def806-hertoets-20260917-v1/manifest-sha256.json
  docs/analyses/def806-hertoets-20260917-v1/nieuwe-generatie-record5-v1.json
  docs/analyses/def806-hertoets-20260917-v1/poortcorrectie-red-green-bewijs.json
  docs/analyses/def806-hertoets-20260917-v1/readback-databasecontrole.json
  docs/analyses/def806-hertoets-20260917-v1/record5-kwitantiecontrole.json
  docs/analyses/def806-hertoets-20260917-v1/review-diff-identiteit-v4.json
  docs/analyses/def806-hertoets-20260917-v1/review-testbinding-commentcorrectie.json
  docs/analyses/def806-hertoets-20260917-v1/runtime-final-source-identiteit.json
  docs/analyses/def806-hertoets-20260917-v1/verificatie-oplevering-status.json
  docs/analyses/def806-hertoets-20260917-v1/volledige-testcontrole.json
  src/domain/sources/contract.py
  src/services/validation/source_assessment_service.py
  src/ui/components/expert_review_tab.py
  tests/fixtures/def743_fakes.py
  tests/unit/domain/test_def743_broncontract.py
  tests/unit/domain/test_def806_verwijzing_hyperlink.py
  tests/unit/services/orchestrators/test_def743_receipt_correlation_chain.py
  tests/unit/services/orchestrators/test_def743_source_assessment_integration.py
  tests/unit/ui/test_def743_editor_ui.py
  tests/unit/validation/test_def743_source_assessment_service.py
  tests/unit/validation/test_def743_source_evidence_evaluator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-806): Voeg gecontroleerde testlogs toe
  docs/analyses/def806-hertoets-20260917-v1/02-RED-def806.log
  docs/analyses/def806-hertoets-20260917-v1/39-make-lint-final.log
  docs/analyses/def806-hertoets-20260917-v1/40-ruff-final.log
  docs/analyses/def806-hertoets-20260917-v1/41-tests-final.log
Due: none

fix(DEF-751): Laat de RAG-selectorstandaard een verzonden verduidelijking niet laten vervallen
  src/ui/handlers/definition_generation_handler.py
  src/ui/helpers/betekenisconflict.py
  src/ui/tabbed_interface.py
  tests/unit/ui/test_def751_verduidelijking_keten.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-751): Bind de RAG-selectie in de conflictvingerafdruk aan collectienamen
  src/ui/helpers/betekenisconflict.py
  src/ui/tabbed_interface.py
  tests/unit/ui/test_def751_verduidelijking_keten.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-751): Herstel CI-gates na merge van main (mypy 3, complexity +2, grep-baseline)
  scripts/maintenance/grep_gate_baseline.json
  src/integration/definitie_checker.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/prompts/prompt_service_v2.py
  src/tools/definitie_manager.py
  src/ui/components/category_renderer.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

chore(DEF-751): Registreer timingbron op merge-commit ae9e22988
  docs/testing/def563-timing-baseline.json
Due: none

docs(DEF-743): Leg menselijke P01-deelakkoorden vast
  docs/analyses/con02-deskundige-beoordeling-20260917-v1/P01-betekenissteun.md
  docs/analyses/con02-deskundige-beoordeling-20260917-v1/P01-brongezag.md
  docs/analyses/con02-deskundige-beoordeling-20260917-v1/P01-verwijskwaliteit.md
  docs/analyses/con02-deskundige-beoordeling-20260917-v1/START-HIER.md
Due: none

fix(DEF-751): Corrigeer verouderde integratietests, legacy-check-treffer en timingverklaring
  docs/testing/def563-timing-baseline.json
  src/services/prompts/modules/context_awareness_module.py
  tests/integration/database/test_sqlite_backup_restore.py
  tests/integration/test_definition_save_integration.py
  tests/integration/test_prompt_security_and_edge_cases.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-751): Registreer timingbron op 7c39df85e (module-hash prompt-edge-cases)
  docs/testing/def563-timing-baseline.json
Due: none

fix(DEF-745): Actualiseer ESS-01-voorbeeldverantwoording
  src/toetsregels/regels/ESS-01.json
  tests/fixtures/toetsregels/runtime_cases.yaml
Due: none

docs(DEF-743): Leg P01-appcontrole en resterende blokkades vast
  docs/analyses/con02-p01-appcontrole-20260917-v1/START-HIER.md
  docs/analyses/con02-p01-appcontrole-20260917-v1/manifest.json
  docs/analyses/con02-p01-appcontrole-20260917-v1/record5-readback.json
  docs/analyses/con02-p01-appcontrole-20260917-v1/runtime-provenance.json
Due: none

fix(DEF-808): Bewaar bronmetadata en actuele CON-02-hervalidatie
  docs/analyses/def808-809-uitvoering-20260918-v1/claude-uitvoerdersrapport-v1.md
  src/database/definitie_crud.py
  src/database/definitie_repository.py
  src/database/models.py
  src/document_processing/document_processor.py
  src/domain/sources/bronmetadata.py
  src/domain/sources/normalisatie.py
  src/services/definition_edit_service.py
  src/services/definition_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/sources_renderer.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/renderers/document_upload_renderer.py
  tests/fixtures/def808_p01.py
  tests/unit/document_processing/test_def808_upload_bronmetadata.py
  tests/unit/domain/test_def808_bronmetadata.py
  tests/unit/services/orchestrators/test_def743_source_transport.py
  tests/unit/services/test_def808_bronmetadata_aanvullen.py
  tests/unit/services/test_def809_hervalidatie_bewaard.py
  tests/unit/ui/test_def808_809_editor_ui.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-808): Meld mislukte bronmetadata-opslag en herstel geheugen
  src/document_processing/document_processor.py
  src/ui/renderers/document_upload_renderer.py
  tests/unit/document_processing/test_def808_upload_bronmetadata.py
  tests/unit/ui/test_def808_809_editor_ui.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-808): Begrens opslagfoutmelding tot herstel in geheugen
  src/document_processing/document_processor.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-808): Behoud reviewernaam bij formulier-reruns
  docs/analyses/def808-809-uitvoering-20260918-v1/apptest-green-waarnemingen.json
  docs/analyses/def808-809-uitvoering-20260918-v1/apptest-red-c18a7ec3-waarnemingen.json
  src/ui/components/definition_edit_tab.py
  tests/unit/ui/test_def808_bronmetadata_apptest.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

docs(DEF-809): Leg geslaagde P01-hertoets en readback vast
  docs/analyses/def808-809-uitvoering-20260918-v1/START-HIER.md
  docs/analyses/def808-809-uitvoering-20260918-v1/claude-correcties-v1.md
  docs/analyses/def808-809-uitvoering-20260918-v1/codex-review1.md
  docs/analyses/def808-809-uitvoering-20260918-v1/codex-reviewdelta1.md
  docs/analyses/def808-809-uitvoering-20260918-v1/codex-reviewdelta2.md
  docs/analyses/def808-809-uitvoering-20260918-v1/codex-reviewdelta3.md
  docs/analyses/def808-809-uitvoering-20260918-v1/herkomst-en-historie-v1.json
  docs/analyses/def808-809-uitvoering-20260918-v1/p01-readback-v1.json
  docs/analyses/def808-809-uitvoering-20260918-v1/tests-finale-v1.txt
  docs/analyses/def808-809-uitvoering-20260918-v1/upload-readback-v1.json
Due: none

docs(DEF-809): Neem lintbewijs op in overdracht
  docs/analyses/def808-809-uitvoering-20260918-v1/START-HIER.md
  docs/analyses/def808-809-uitvoering-20260918-v1/lint-finale-v1.txt
Due: none

feat(DEF-751): Herstelroute schema-3-bron naar nieuw v4-doel met bewaarde verweesde historie
  docs/technisch/schema3-herstel-naar-v4.md
  src/database/migrations/schema3_herstel.py
  tests/unit/database/test_schema3_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-751): Rapportpad veilig publiceren, onbekende kolomsemantiek weigeren, activeringsvolgorde
  docs/technisch/schema3-herstel-naar-v4.md
  src/database/migrations/schema3_herstel.py
  tests/unit/database/test_schema3_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-751): Rapport nooit blind verwijderen, OSError bij publicatie, tabelopties strikt
  docs/technisch/schema3-herstel-naar-v4.md
  src/database/migrations/schema3_herstel.py
  tests/unit/database/test_schema3_herstel.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-809): Verlaag complexiteit van bronbeoordeling en editor
  src/services/definition_edit_service.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-766): Beoordeel ESS-03 scoreloos op telbaarheid
  docs/analyses/def606-regeldossiers/ESS-03-fix/2026-09-18-uitvoering-v1.md
  src/services/prompts/modules/json_based_rules_module.py
  src/services/validation/evaluators/generic.py
  src/services/validation/evaluators/judgment_review.py
  src/services/validation/evaluators/positive_indicator.py
  src/services/validation/modular_validation_service.py
  src/toetsregels/regels/ESS-03.json
  src/ui/components/validation_renderer.py
  src/ui/components/validation_view.py
  tests/fixtures/toetsregels/runtime_cases.yaml
  tests/integration/test_offline_core_journey.py
  tests/unit/services/prompts/test_def766_ess03_promptnorm.py
  tests/unit/validation/test_contractinvarianten_def676.py
  tests/unit/validation/test_def766_ess03_telbaarheid.py
  tests/unit/validation/test_rule_runtime_matrix.py
  tests/unit/validation/test_v2_golden_ess_more.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

chore(DEF-766): wissel app-default van Opus 4.8 naar Opus 5
  src/services/ai/model_router.py
  tests/unit/test_config_system.py
  tests/unit/test_model_pricing_single_source.py
  tests/unit/test_model_router.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-767): Harmoniseer het ESS-04-record op besluit N2 (toetsbaarheid)
  src/toetsregels/regels/ESS-04.json
  tests/unit/validation/test_def767_ess04_record.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-766): thinking uit op Opus 5, stop_reason zichtbaar, afkapping fail-closed
  config/config.yaml
  src/services/ai/anthropic_client.py
  src/services/ai/base_client.py
  src/services/ai/model_router.py
  src/services/ai_service_v2.py
  src/services/validation/ess03_assessment_service.py
  src/ui/components/definition_edit_tab.py
  src/utils/async_api.py
  tests/unit/services/ai/test_anthropic_client_stop_reason.py
  tests/unit/services/ai/test_anthropic_client_thinking_guard.py
  tests/unit/validation/test_def766_ess03_truncation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-767): Geef ESS-04 een passagehulp, open weergave en betekenisgerichte hint
  src/services/validation/evaluators/judgment_review.py
  src/services/validation/modular_validation_service.py
  src/ui/components/validation_renderer.py
  src/ui/components/validation_view.py
  tests/unit/validation/test_def767_ess04_toetsbaarheid.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-767): Verwerk reviewbevindingen R-01, R-03 en R-04 (ESS-04)
  src/services/validation/evaluators/judgment_review.py
  tests/fixtures/toetsregels/runtime_cases.yaml
  tests/unit/validation/test_def767_ess04_record.py
  tests/unit/validation/test_def767_ess04_toetsbaarheid.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-766): bevroren AI-fakes volgen het Protocol; ESS-03-antwoord in kernjourney; DEF-563-baseline
  docs/testing/def563-timing-baseline.json
  docs/testing/def563-timing-inventaris.md
  tests/integration/functionality/conftest.py
  tests/integration/test_offline_core_journey.py
  tests/integration/test_synonym_orchestrator_e2e.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-820): Leg ESS-03-vraag bij verwijzende formuleringen uit in de editor
  src/ui/components/definition_edit_tab.py
  src/ui/components/validation_view.py
  tests/unit/domain/test_def766_ess03_correcties_reproducties.py
  tests/unit/ui/test_def766_ess03_weergave.py
  tests/unit/ui/test_def820_ess03_hulptekst.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-767): Scherp ESS-04-tests aan na review (renderer, meerdere passages, drift-gate, C04/C05)
  tests/unit/validation/test_def767_ess04_record.py
  tests/unit/validation/test_def767_ess04_toetsbaarheid.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-820): Leg ESS-03-vraag bij verwijzende formuleringen uit in de editor (#470)
  src/ui/components/definition_edit_tab.py
  src/ui/components/validation_view.py
  tests/unit/domain/test_def766_ess03_correcties_reproducties.py
  tests/unit/ui/test_def766_ess03_weergave.py
  tests/unit/ui/test_def820_ess03_hulptekst.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

test(DEF-767): Laat meervoudige-passagetest sortering en dedup bewijzen; ontkoppel van patroonkalibratie
  tests/unit/validation/test_def767_ess04_record.py
  tests/unit/validation/test_def767_ess04_toetsbaarheid.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
