Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

sec: add gitleaks ignore for config API keys
  .github/workflows/agent-quick-checks.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitleaksignore
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/CI_FAILURES_ANALYSIS.html
  docs/portal/rendered/analyses/SECURITY_AUDIT_REPORT.html
  docs/prd.md
  exports/definitie_test_begrip_20251017_152036.txt
  exports/definitie_test_begrip_20251019_072307.txt
Due: generate-portal-on-docs-change

fix(tests): use correct function name from validation_view
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/smoke/test_validation_v2_smoke.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(tests): remove reference to non-existent test file
  .github/workflows/test.yml
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/testing/run_tests.sh
Due: none

style: ruff auto-fix phase 1 (775 warnings → 341)
  COMMIT_MESSAGE.txt
  IMPLEMENTATION_SUMMARY.md
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/verify_classification_refactor.sh
  src/ui/tabbed_interface.py
  tests/unit/test_classification_single_path.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(F821): Add missing imports and define undefined variables
  docs/backlog/EPIC-014/US-300/UFO_CLASSIFIER_FIXES.py
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/maintenance/clean_history_session_state.py
  src/ui/components.py
  src/ui/components/definition_generator_tab.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(security): Update gitleaksignore with current commit fingerprints
  .gitleaksignore
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

fix(security): Use commit-agnostic gitleaks ignore patterns
  .gitleaksignore
Due: none

feat(classification): implement single-path classification with hash-based caching (DEF-36)
  .gitleaks.toml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

fix(security): Expand gitleaks allowlist for false positives
  .gitleaks.toml
Due: none

fix(security): Remove invalid .gitleaksignore and fix shallow clone
  .github/workflows/security.yml
  .gitleaksignore
Due: none

docs(ci): update CI failures analysis with Phase 1 completion
  docs/analyses/CI_FAILURES_ANALYSIS.md
Due: generate-portal-on-docs-change

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
