Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF-170): Phase 1 Quick Wins - mypy type errors
  requirements-dev.txt
  scripts/recover_voorbeelden.py
  src/config/config_manager.py
  src/services/definition_generator_config.py
  src/services/ufo_pattern_matcher.py
  tests/integration/test_def_154_prompt_module_pipeline.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-170): Phase 1 mypy fixes - types-PyYAML, callable→Callable, any→Any
  requirements-dev.txt
  scripts/recover_voorbeelden.py
  src/config/config_manager.py
  src/services/definition_generator_config.py
  src/services/ufo_pattern_matcher.py
  tests/integration/test_def_154_prompt_module_pipeline.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(prompt): fix 5 blocking contradictions + transform TOP 10 validation→instruction
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/grammar_module.py
  src/services/prompts/modules/json_based_rules_module.py
  src/services/prompts/modules/output_specification_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-126): Phase 2 - transform 12 high-priority rules (22% → 48% coverage)
  src/services/prompts/modules/json_based_rules_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-126): Phase 3 - transform 16 medium-priority rules (48% → 83% coverage)
  src/services/prompts/modules/json_based_rules_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-126): Phase 4 (FINAL) - transform last 8 STR rules → 100% COVERAGE! 🏆
  src/services/prompts/modules/json_based_rules_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(workflows): add prompt analysis & improvement workflows for DEF-171
  docs/workflows/bounded-prompt-analysis.md
  docs/workflows/implement-prompt-fixes.md
  docs/workflows/prompt-analysis-DEF-171-v2-summary.md
  docs/workflows/prompt-analysis-DEF-171-v2.json
  docs/workflows/prompt-analysis-workflow.md
  docs/workflows/prompt-improvement-workflow.md
  tests/services/orchestrators/test_definition_orchestrator_v2_failure.py
  tests/services/orchestrators/test_definition_orchestrator_v2_feedback.py
  tests/services/orchestrators/test_definition_orchestrator_v2_happy.py
  tests/services/orchestrators/test_definition_orchestrator_v2_monitoring.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(ci): update branch patterns to DEF-* convention + add GITLEAKS_LICENSE
  .github/workflows/epic-010-gates.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  docs/technisch/github-secrets-configuration.md
Due: generate-portal-on-docs-change

refactor(ci): remove GITLEAKS_LICENSE - use open source mode
  .github/workflows/security.yml
  docs/technisch/github-secrets-configuration.md
Due: generate-portal-on-docs-change

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  docs/workflows/DEF-171-action-checklist.md
  docs/workflows/DEF-171-architectural-debt-visualization.md
  docs/workflows/DEF-171-executive-summary.md
  docs/workflows/DEF-171-root-cause-analysis.md
  docs/workflows/prompt-analysis-DEF-171-comparison.md
  docs/workflows/prompt-analysis-DEF-171-v3-bounded.json
  docs/workflows/prompt-analysis-DEF-171-v3-index.md
  docs/workflows/prompt-analysis-DEF-171-v3-summary.md
  docs/workflows/prompt-analysis-DEF-171-v3-visual.txt
  requirements.txt
Due: generate-portal-on-docs-change

feat(DEF-171): Phase 1 prompt optimization - 19.8% token reduction
  docs/workflows/DEF-171-phase1-implementation-summary.md
Due: generate-portal-on-docs-change

docs(DEF-171): add implementation prompt for next session
  docs/workflows/DEF-171-phase1-implementation-prompt.md
Due: generate-portal-on-docs-change

feat(DEF-171): Phase 1 - remove redundant validation content from prompt modules
  src/services/prompts/modules/integrity_rules_module.py
  src/services/prompts/modules/json_based_rules_module.py
  src/services/prompts/modules/metrics_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
  src/services/prompts/modules/structure_rules_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-171): apply review fixes - remove dead code + add tests
  src/services/prompts/modules/metrics_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
  tests/unit/services/prompts/test_def171_optimization.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
