Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(edit): default results in Bewerk-tab when no filters; add DefinitieRecord fields for voorkeursterm compatibility; stabilize edit repository search
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
  src/services/definition_edit_repository.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers

Portal: prefer rendered_url in All view; dynamic type counts by current view/filter; regenerate portal index
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

Portal UI: clickable titles, copy-link button, canonical-only toggle, highlighted matches, keyboard shortcuts; hash params for type/status/sprint/canonical
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.css
  docs/portal/portal.js
Due: none

Portal UI: add badges for selected type/status filters (avoid duplicates with query tokens)
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
Due: none

Backlog coverage for External Sources Tab: add EPIC-022 and REQ-102..107 with US-413..418; regenerate portal
  docs/backlog/EPIC-022/EPIC-022.md
  docs/backlog/EPIC-022/US-413/US-413.md
  docs/backlog/EPIC-022/US-414/US-414.md
  docs/backlog/EPIC-022/US-415/US-415.md
  docs/backlog/EPIC-022/US-416/US-416.md
  docs/backlog/EPIC-022/US-417/US-417.md
  docs/backlog/EPIC-022/US-418/US-418.md
  docs/backlog/requirements/REQ-102.md
  docs/backlog/requirements/REQ-103.md
  docs/backlog/requirements/REQ-104.md
  docs/backlog/requirements/REQ-105.md
  docs/backlog/requirements/REQ-106.md
  docs/backlog/requirements/REQ-107.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-022/EPIC-022.html
  docs/portal/rendered/backlog/EPIC-022/US-413/US-413.html
  docs/portal/rendered/backlog/EPIC-022/US-414/US-414.html
  docs/portal/rendered/backlog/EPIC-022/US-415/US-415.html
  docs/portal/rendered/backlog/EPIC-022/US-416/US-416.html
  docs/portal/rendered/backlog/EPIC-022/US-417/US-417.html
  docs/portal/rendered/backlog/EPIC-022/US-418/US-418.html
  docs/portal/rendered/backlog/requirements/REQ-102.html
  docs/portal/rendered/backlog/requirements/REQ-103.html
  docs/portal/rendered/backlog/requirements/REQ-104.html
  docs/portal/rendered/backlog/requirements/REQ-105.html
  docs/portal/rendered/backlog/requirements/REQ-106.html
  docs/portal/rendered/backlog/requirements/REQ-107.html
Due: generate-portal-on-docs-change

Traceability: add EPIC-022 with US-413..418 and REQ-043, REQ-102..107; regenerate portal
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: none

ci(pre-commit): add requirements frontmatter normalizer hook before portal generation
  .pre-commit-config.yaml
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

refactor: verwijder External Sources tab (95% overlap met Export tab)
  docs/backlog/EPIC-005/US-138/US-138.md
  docs/backlog/EPIC-022/BUSINESS-KNOWLEDGE.md
  docs/backlog/EPIC-022/EPIC-022.md
  docs/implementation/SINGLE-DEFINITION-IMPORT-MVP.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-005/US-138/US-138.html
  docs/portal/rendered/backlog/EPIC-022/BUSINESS-KNOWLEDGE.html
  docs/portal/rendered/backlog/EPIC-022/EPIC-022.html
  docs/portal/rendered/implementation/SINGLE-DEFINITION-IMPORT-MVP.html
  samples/import/README.md
  src/external/__init__.py
  src/external/external_source_adapter.py
  src/services/definition_import_service.py
  src/ui/components/external_sources_tab.py
  src/ui/components/management_tab.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, generate-portal-on-docs-change

docs: retire single import flow
  docs/backlog/EPIC-005/US-062/US-062.md
  docs/backlog/EPIC-005/US-138/US-138.md
  docs/implementation/SINGLE-DEFINITION-IMPORT-MVP.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-005/US-062/US-062.html
  docs/portal/rendered/backlog/EPIC-005/US-138/US-138.html
  docs/portal/rendered/implementation/SINGLE-DEFINITION-IMPORT-MVP.html
  src/services/container.py
  src/services/definition_import_service.py
  src/ui/components/management_tab.py
Due: no-todo-markers, generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
