Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(epic-002): add Validatie V2 migratieplan (legacy→V2 consolidatie)
  docs/backlog/EPIC-002/VALIDATIE-V2-MIGRATIE-PLAN.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs(portal): add generated portal artifacts after US-191
  data/definities.db
  docs/backlog/EPIC-002/US-190/US-190.md
  docs/backlog/EPIC-002/US-191/US-191.md
  docs/backlog/EPIC-002/US-192/US-192.md
  docs/backlog/EPIC-002/VALIDATOR_V2_TOETSREGELS_MIGRATIEPLAN.md
  docs/backlog/EPIC-010/US-175/US-175.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/portal.js
  docs/portal/rendered/backlog/EPIC-002/US-180/US-180.html
  docs/portal/rendered/backlog/EPIC-002/US-181/US-181.html
  docs/portal/rendered/backlog/EPIC-002/US-190/US-190.html
  docs/portal/rendered/backlog/EPIC-002/US-191/US-191.html
  docs/portal/rendered/backlog/EPIC-002/US-192/US-192.html
  docs/portal/rendered/backlog/EPIC-002/VALIDATIE-V2-MIGRATIE-PLAN.html
  docs/portal/rendered/backlog/EPIC-002/VALIDATOR_V2_TOETSREGELS_MIGRATIEPLAN.html
  docs/traceability.json
  scripts/docs/generate_portal.py
  src/services/definition_generator_context.py
  tests/services/test_web_lookup_wrapper_fallback.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(epic-002): add US-193 — UI shows V2 validation results (all rules), remove legacy display
  docs/backlog/EPIC-002/US-193/US-193.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/traceability.json
Due: generate-portal-on-docs-change

fix: Sprint 37 compliance - remove legacy patterns and consolidate ValidationResult types
  .github/workflows/test.yml
  docs/implementation/REFACTOR_BACKLOG_2025-09.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-193/US-193.html
  docs/portal/rendered/implementation/REFACTOR_BACKLOG_2025-09.html
  docs/portal/rendered/reviews/2025-09-16_codex_review.html
  docs/portal/rendered/reviews/CODE_REVIEW-2025-09-16.html
  docs/portal/rendered/reviews/DOC_REVIEW-2025-09-16.html
  docs/reviews/2025-09-16_codex_review.md
  docs/reviews/CODE_REVIEW-2025-09-16.md
  docs/reviews/DOC_REVIEW-2025-09-16.md
  src/integration/definitie_checker.py
  src/orchestration/definitie_agent.py
  src/services/definition_workflow_service.py
  src/ui/components/definition_generator_tab.py
  src/ui/tabbed_interface.py
  src/validation/__init__.py
  src/validation/definitie_validator.py
  src/validation/input_validator.py
Due: no-todo-markers, generate-portal-on-docs-change

perf: Add ServiceContainer caching for 83% performance improvement
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/tabbed_interface.py
Due: no-todo-markers

feat: Enhanced V2 validation with JSON rule evaluation and context enrichment
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/container.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/prompts/prompt_service_v2.py
  src/services/validation/modular_validation_service.py
  tests/validation/test_v2_json_rules.py
  tests/validation/test_v2_json_rules_more.py
Due: no-todo-markers

docs: Add handover document for next session
  docs/HANDOVER-2025-09-17.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

test: Fix STR-03 test case - remove begrip from text
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/validation/test_v2_json_rules_more.py
Due: no-todo-markers

feat(validator): evaluate JSON toetsregels in V2; implement ESS-02 marker/ambigu/none-hit; add CON-01 duplicate warning via repository; map severity from JSON; deterministic violations
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

feat: Implement draft management with get_or_create_draft() (US-064)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/definition_repository.py
  tests/services/test_definition_repository.py
Due: no-todo-markers

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
