Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

fix(DEF-465): forbidden-patterns-hook blokkerend + log-pad project-root-relatief
  .pre-commit-config.yaml
  scripts/ci/check-forbidden-patterns.sh
  src/services/synonym_orchestrator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-465): VIOLATIONS-aggregatie + precieze key-exclusie (review PR #324)
  scripts/ci/check-forbidden-patterns.sh
Due: none

fix(DEF-484): context per-sessie i.p.v. proces-globale ContextManager-singleton
  src/services/context/context_manager.py
  src/ui/components/enhanced_context_manager_selector.py
  src/ui/helpers/context_adapter.py
  tests/unit/test_context_adapter_error_handling.py
  tests/unit/ui/test_context_session_isolation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-484): defensieve context-read + rename + extra tests (review PR #325)
  src/ui/helpers/context_adapter.py
  tests/unit/ui/test_context_session_isolation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-486): PII-redactiefilter op log-handlers i.p.v. root-logger
  src/main.py
  src/utils/logging_filters.py
  tests/integration/security/test_logging_redaction.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(DEF-486): regressietests naar unit-gate + robuuster (PR-review #326)
  tests/integration/security/test_logging_redaction.py
  tests/unit/utils/test_pii_redaction_wiring.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-489): make dev verwijst naar bestaand run-script
  Makefile
Due: none

fix(DEF-491): redigeer gelekte OpenAI-key uit git-getrackte docs
  docs/analyses/CONFIG_ENVIRONMENT_MASTERPLAN.md
  docs/analyses/CONFIG_ENVIRONMENT_VERIFICATION_REPORT.md
  docs/analyses/MASTER_IMPROVEMENT_PLAN.md
  docs/analyses/SECURITY_AUDIT_REPORT.md
Due: none

test(DEF-493): verplaats 7 assert-loze scratch-scripts naar tests/manual/scratch
  .prompt-forge/analysis-report.md
  .prompt-forge/linear-vs-codereview-report.md
  .prompt-forge/werklijst-security-sprint.md
  docs/analyses/architectuur-product-review-2026-07-02.md
  docs/analyses/code-review-breed-2026-06-24.md
  docs/valor/valor-ontology-architecture.html
  docs/valor/valor-ontology-architecture.mermaid
  docs/valor/valor-ontology-linked-data.html
  docs/voorbeelden/Identiteitsbehandeling_fixed.json
  docs/voorbeelden/Identiteitsbehandeling_fixed_v2.json
  tests/fixtures/import/test_import_100_rows.csv
  tests/fixtures/import/test_import_10_rows.csv
  tests/fixtures/import/test_import_200_rows.csv
  tests/fixtures/import/test_import_50_rows.csv
  tests/manual/scratch/README.md
  tests/manual/scratch/test_contradictions.py
  tests/manual/scratch/test_csv_import_websocket.py
  tests/manual/scratch/test_def126_simple.py
  tests/manual/scratch/test_env.py
  tests/manual/scratch/test_new_default.py
  tests/manual/scratch/test_ui_new_services.py
  tests/manual/scratch/test_ui_scores.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

perf(DEF-496): in-memory memo in RuleCache i.p.v. disk-read per call
  src/toetsregels/rule_cache.py
  tests/unit/test_rule_cache_memory.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-489): corrigeer feitelijk onjuiste README-claims
  README.md
Due: none

refactor(DEF-494): verwijder dode legacy-shim orchestration/definitie_agent.py
  src/orchestration/definitie_agent.py
  src/services/interfaces.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-496): voeg CHANGELOG.md toe + herlink version-badge
  CHANGELOG.md
  README.md
Due: none

test(DEF-493): regressietests voor UI async-bridge run_async
  tests/unit/ui/test_async_bridge_run_async.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
