Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(tests): remove outdated golden test file
  tests/golden/test_toetsregels_golden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(portal): update portal after golden test removal
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/CODEBASE_FINDINGS_SUMMARY.html
  docs/portal/rendered/analyses/CODEBASE_INVENTORY_ANALYSIS.html
  docs/portal/rendered/analyses/CODE_QUALITY_REVIEW.html
  docs/portal/rendered/analyses/CODE_QUALITY_SUMMARY.html
  docs/portal/rendered/analyses/COMPLEXITY_ANALYSIS.html
  docs/portal/rendered/analyses/COMPLEXITY_HEATMAP.html
  docs/portal/rendered/analyses/COMPLEXITY_SUMMARY.html
  docs/portal/rendered/analyses/DEF-110-postmortem.html
  docs/portal/rendered/analyses/EXECUTIVE_SUMMARY.html
  docs/portal/rendered/analyses/MULTIAGENT_CONSENSUS_REPORT.html
  docs/portal/rendered/analyses/PERFORMANCE_REGRESSION_2025-11-06.html
  docs/portal/rendered/analyses/PHASE3_INDEX.html
  docs/portal/rendered/analyses/PHASE_2_DELIVERABLES.html
  docs/portal/rendered/analyses/REGRESSION_SUMMARY_2025-11-06.html
  docs/portal/rendered/analyses/REVIEW_INDEX.html
  docs/portal/rendered/guidelines/STREAMLIT_PATTERNS.html
Due: none

style: apply ruff/black formatting to DEF-110 files
  scripts/verify_def110_fix.py
  src/ui/tabbed_interface.py
  tests/performance/test_def110_regression.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(deps): downgrade pyarrow to 21.0.0 for streamlit 1.51.0 compatibility
  docs/portal/index.html
  docs/portal/portal-index.json
  requirements.txt
Due: none

fix(monitoring): replace flag-based with timing-based heavy operation detection (DEF-111)
  scripts/verify_render_metric_fix.py
  src/main.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

test(def-111): add integration tests for render metric fix
  tests/test_def111_render_metric_fix.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs: consolidate migration documentation to archief
  CHANGELOG.md
  docs/ARCHIEF/2025-01-cleanup/migrations/README.md
  docs/INDEX.md
  docs/analyses/MIGRATION_DOCUMENTATION_RELEVANCE_ANALYSIS.md
  docs/archief/2025-01-cleanup/migrations/synoniemen/synoniemen-migratie-strategie.md
  docs/archief/2025-01-cleanup/migrations/v1-v2-validation/legacy-code-inventory.md
  docs/archief/2025-01-cleanup/migrations/v1-v2-validation/remove-legacy-validation-plan.md
  docs/guidelines/CANONICAL_LOCATIONS.md
  docs/migrations/history_tab_removal.md
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

docs: regenerate portal HTML for migration consolidation
  docs/portal/portal-index.json
  docs/portal/rendered/INDEX.html
  docs/portal/rendered/analyses/MIGRATION_DOCUMENTATION_RELEVANCE_ANALYSIS.html
  docs/portal/rendered/guidelines/CANONICAL_LOCATIONS.html
Due: none

docs: add Documentation Cleanup Workflow guide (DEF-136)
  docs/guidelines/DOCUMENTATION_CLEANUP_WORKFLOW.md
Due: generate-portal-on-docs-change

feat(prompt): implement DEF-101 EPIC - comprehensive prompt optimization
  docs/analyses/DEF-102_DETAILED_CONTRADICTIONS_ANALYSIS.md
  docs/analyses/DEF-138_VALIDATION_RULES_COMPATIBILITY.md
  docs/implementation/DEF-127_CONSOLIDATION_PLAN.md
  docs/implementation/DEF-127_IMPLEMENTATION_SUMMARY.md
  docs/implementation/DEF-135-transformation-summary.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-102_DETAILED_CONTRADICTIONS_ANALYSIS.html
  docs/portal/rendered/analyses/DEF-138_VALIDATION_RULES_COMPATIBILITY.html
  docs/portal/rendered/guidelines/DOCUMENTATION_CLEANUP_WORKFLOW.html
  docs/portal/rendered/implementation/DEF-127_CONSOLIDATION_PLAN.html
  docs/portal/rendered/implementation/DEF-127_IMPLEMENTATION_SUMMARY.html
  docs/portal/rendered/implementation/DEF-135-transformation-summary.html
  docs/portal/rendered/reviews/DEF-138_CODE_REVIEW.html
  docs/reviews/DEF-138_CODE_REVIEW.md
  src/services/prompts/modular_prompt_adapter_v2.py
  src/services/prompts/modules/__init__.py
  src/services/prompts/modules/error_prevention_module.py
  src/services/prompts/modules/linguistic_rules_module.py
  src/services/prompts/modules/output_format_module.py
  src/services/prompts/modules/semantic_categorisation_module.py
  src/services/prompts/modules/unified_validation_rules_module.py
  tests/integration/test_module_consolidation_def127.py
  tests/test_def137_container_terms.py
  tests/test_def138_ontological_fixes.py
  tests/unit/services/prompts/test_consolidated_modules.py
  tests/unit/services/prompts/test_error_prevention_transformation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
