Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

feat(web-lookup): improve recall with synonyms and juridical ranking
  config/juridische_synoniemen.yaml
  config/web_lookup_defaults.yaml
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/technisch/IMPLEMENTATION_SUMMARY_SYNONIEMEN.md
  docs/technisch/web_lookup_synoniemen.md
  docs/testing/web-lookup-improvements-test-summary.md
  docs/testing/web-lookup-test-quick-reference.md
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/juridisch_ranker.py
  src/services/web_lookup/sru_service.py
  src/services/web_lookup/synonym_service.py
  src/services/web_lookup/wikipedia_service.py
  tests/fixtures/web_lookup_fixtures.py
  tests/integration/test_improved_web_lookup.py
  tests/services/web_lookup/test_juridisch_ranker.py
  tests/services/web_lookup/test_synonym_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

feat(synonym-workflow): add workflow orchestrator and multipage review UI
  pages/synonym_review.py
  src/services/synonym_automation/workflow.py
  src/ui/tabs/__init__.py
  src/ui/tabs/synonym_review_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(synonym-ui): add generate section to review page
  docs/portal/index.html
  docs/portal/portal-index.json
  pages/synonym_review.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(synonym-ui): auto-refresh after generating suggestions
  pages/synonym_review.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(multipage): move pages/ to src/pages/ for Streamlit multipage detection
  src/pages/synonym_review.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(synonym-ui): remove nested expanders to resolve Streamlit error
  docs/portal/index.html
  docs/portal/portal-index.json
  src/pages/synonym_review.py
  src/ui/tabs/synonym_review_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(web-lookup): implement quality gate for juridical ranking (FASE 3)
  config/web_lookup_defaults.yaml
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/validate_provider_weighting.py
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/juridisch_ranker.py
  tests/fixtures/web_lookup_mocks.py
  tests/services/test_modern_web_lookup_service_unit.py
  tests/services/web_lookup/test_juridisch_ranker.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs: add web lookup and synonym optimization analysis documents
  docs/analyses/ACTION_PLAN_double_weighting_followup.md
  docs/analyses/double-weighting-bug-analysis.md
  docs/analyses/double-weighting-bug-root-cause-analysis.md
  docs/analyses/double-weighting-comprehensive-solution.md
  docs/analyses/multi-agent-consensus-single-dev-context.md
  docs/analyses/synoniemen-optimalisatie-unified-solution.md
  docs/analyses/synonym-optimization-risk-analysis.md
  docs/analyses/synonym-system-edge-case-analysis.md
  docs/analyses/unified-synonym-solution.md
  docs/architectuur/provider-weighting-architecture-design.md
  docs/architectuur/provider-weighting-diagrams.md
  docs/architectuur/provider-weighting-executive-summary.md
  docs/architectuur/synonym-management-architecture-design.md
  docs/planning/synonym-optimization-code-examples.md
  docs/planning/synonym-optimization-implementation-plan.md
  docs/planning/week-1-hourly-schedule.md
  project-documentation/synonym-ux-analysis.md
Due: generate-portal-on-docs-change
