Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

fix: add src. prefix to imports in synonym and monitoring modules
  docs/portal/index.html
  docs/portal/portal-index.json
  src/pages/synonym_admin.py
  src/repositories/synonym_registry.py
  src/services/synonym_orchestrator.py
  src/services/web_lookup/synonym_service_refactored.py
  src/ui/components/synonym_review.py
  tests/monitoring/test_cache_monitoring.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: remove duplicate Ontkoppel button and add bidirectional group search
  docs/portal/index.html
  docs/portal/portal-index.json
  src/pages/synonym_admin.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor: remove deprecated OntologyClassifierService (TYPE/EXEMPLAAR/PROCES/RESULTAAT)
  config/prompts/ontology_classification.yaml
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/classification/__init__.py
  src/services/classification/config.py
  src/services/classification/ontology_classifier.py
  src/services/classification/ontology_validator.py
  src/services/container.py
  src/ui/components/ontology_classification_display.py
  tests/integration/test_ontology_classification_integration.py
  tests/services/classification/test_ontology_classifier.py
  tests/services/classification/test_ontology_validator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-36): implement ontologie pre-classification before 'Genereer Definitie'
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-36): trigger classification in _render_category_preview instead of on_change
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: resolve rate limiter timeout deadlock in voorbeelden generation
  docs/portal/index.html
  docs/portal/portal-index.json
  src/config/rate_limit_config.py
  src/services/container.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-36): remove fallback classification, enforce pre-classification requirement
  docs/archief/2025-01-cleanup/bug-analyses/ACTION_PLAN_double_weighting_followup.md
  docs/archief/2025-01-cleanup/bug-analyses/CLASSIFICATION_IMPLEMENTATION_CODE_EXAMPLES.md
  docs/archief/2025-01-cleanup/bug-analyses/CLASSIFICATION_PIPELINE_COMPARISON.md
  docs/archief/2025-01-cleanup/bug-analyses/CONFIG_DEPENDENCY_GRAPH.md
  docs/archief/2025-01-cleanup/bug-analyses/CONFIG_ENVIRONMENT_MASTERPLAN.md
  docs/archief/2025-01-cleanup/bug-analyses/CONFIG_ENVIRONMENT_VERIFICATION_REPORT.md
  docs/archief/2025-01-cleanup/bug-analyses/CONFIG_MANAGER_ENVIRONMENT_ANALYSIS.md
  docs/archief/2025-01-cleanup/bug-analyses/CONTAINER_CACHE_KEY_PROBLEM.md
  docs/archief/2025-01-cleanup/bug-analyses/CONTAINER_DUPLICATION_ROOT_CAUSE.md
  docs/archief/2025-01-cleanup/bug-analyses/CONTAINER_FIX_IMPLEMENTATION.md
  docs/archief/2025-01-cleanup/bug-analyses/CONTAINER_FIX_IMPLEMENTATION_PLAN.md
  docs/archief/2025-01-cleanup/bug-analyses/CONTAINER_ISSUE_SUMMARY.md
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs: add complete Vibe Coding workflow design for Claude Code
  docs/guidelines/VIBE_CODING_INTEGRATION_SUMMARY.md
  docs/guidelines/VIBE_CODING_QUICK_REFERENCE.md
  docs/guidelines/VIBE_CODING_TEMPLATE_OPTIMIZATION_GUIDE.md
  docs/guidelines/VIBE_CODING_WORKFLOW.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: generate-portal-on-docs-change

style: format debug tests with black/ruff
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/debug/test_analyzer_comparison.py
  tests/debug/test_level_classifier_integration.py
  tests/debug/test_ontologie_realtime.py
  tests/debug/test_structured_logging.py
  tests/debug/test_weblookup_direct.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs: add VIBE Coding methodology and analysis
  docs/analyses/BMAD-VIBE-CODING-INTEGRATION-ANALYSIS.md
  docs/analyses/VIBE_CODING_METHODOLOGY_DEEP_ANALYSIS.md
  docs/guidelines/VIBE_CODING_BROWNFIELD_ADAPTATION.md
  docs/methodologies/vibe-coding/CONSENSUS_ANALYSIS_EXECUTIVE_SUMMARY.md
  docs/methodologies/vibe-coding/VOORSTEL_IMPLEMENTATIE.md
  docs/workflows/vibe-coding-quick-reference.md
Due: generate-portal-on-docs-change

feat(DEF-36): implement ontologie pre-classification before 'Genereer Definitie'
  docs/portal/index.html
  docs/portal/portal-index.json
  src/config/rate_limit_config.py
  src/services/container.py
  src/ui/tabbed_interface.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
