Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF-469): resterende stille failures zichtbaar maken (deelstap 2b)
  src/services/definition_edit_repository.py
  src/services/definition_workflow_service.py
  src/services/modern_web_lookup_service.py
  tests/unit/services/test_silent_failures_2b.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-469): verwerk review-bevindingen PR #312
  src/ui/components/expert_review_tab.py
  tests/unit/services/test_silent_failures_2b.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-469): auto-save geeft feedback bij dataverlies (#5, sluit deelstap)
  src/services/definition_edit_repository.py
  src/services/definition_edit_service.py
  src/ui/components/definition_edit_tab.py
  tests/unit/services/test_auto_save_feedback.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-469): verwerk review-bevindingen PR #313
  src/services/definition_edit_service.py
  src/ui/components/definition_edit_tab.py
  tests/unit/services/test_auto_save_feedback.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

build(deps): bump 9 deps (supersedes dependabot #303) + sync ruff pre-commit-rev
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
Due: none

build(deps): houd numpy op 2.4.6 (2.5.0 vereist Python >=3.12, CI draait 3.11)
  requirements.txt
Due: none

build(deps): bump anthropic/jiter/PyMuPDF/fastapi (supersedes dependabot #314)
  requirements.txt
Due: none

ci(DEF-426): migreer CI van Python 3.11 naar 3.13
  .github/workflows/agent-quick-checks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-tests.yml
  .github/workflows/coverage-badge.yml
  .github/workflows/epic-validation.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/update-feature-status.yml
Due: none

build(deps): numpy 2.4.6->2.5.0 (nu CI 3.13) + pandas 3.0.4->3.0.3 (yanked)
  requirements.txt
Due: none

chore(DEF-426): stop root-vervuiling door CSV-test + gitignore-vangnet
  .gitignore
  tests/unit/test_csv_import_websocket.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

build(DEF-426): hashed requirements-lockfiles via uv pip compile (supply-chain-integriteit)
  Makefile
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

fix(DEF-391): DB-transactie-atomiciteit voor multi-step operaties
  src/database/audit_helpers.py
  src/database/db_connection.py
  src/database/definitie_crud.py
  src/database/voorbeelden_repository.py
  tests/unit/database/test_transactie_atomiciteit.py
  tests/unit/database/test_voorbeelden_voorkeursterm.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-391): hardening transaction() foutpad + extra coverage (review PR #323)
  src/database/db_connection.py
  tests/unit/database/test_transactie_atomiciteit.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-465): forbidden-patterns-hook blokkerend + log-pad project-root-relatief
  .pre-commit-config.yaml
  scripts/ci/check-forbidden-patterns.sh
  src/services/synonym_orchestrator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
