Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

fix(DEF-151): add missing generation metadata to prompt storage
  docs/analyses/DEF-102_CONTEXT_USAGE_ANALYSIS.md
  docs/analyses/DEF-102_CONTEXT_USAGE_QUICK_REFERENCE.md
  docs/analyses/DEF-102_CONTRADICTION_5_FINAL_VERDICT.md
  docs/analyses/DEF-102_CONTRADICTION_5_ULTRATHINK_ANALYSIS.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-102_CONTEXT_USAGE_ANALYSIS.html
  docs/portal/rendered/analyses/DEF-102_CONTEXT_USAGE_QUICK_REFERENCE.html
  docs/portal/rendered/analyses/DEF-102_CONTRADICTION_5_FINAL_VERDICT.html
  docs/portal/rendered/analyses/DEF-102_CONTRADICTION_5_ULTRATHINK_ANALYSIS.html
  docs/portal/rendered/analyses/DEF-151_ARCHITECTURE_INTEGRATION_ANALYSIS.html
  docs/portal/rendered/specifications/DEF-151_GENERATION_PROMPT_STORAGE_SPEC.html
  src/services/orchestrators/definition_orchestrator_v2.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(voorbeelden): remove session state flag causing silent save failures
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-151): enable generation prompt viewing in edit tab
  .gitignore
  docs/analyses/DEF-101_ANALYSIS_INDEX.md
  docs/analyses/DEF-101_DECISION_FLOWCHART.md
  docs/analyses/DEF-101_EXECUTIVE_DECISION_BRIEF.md
  docs/analyses/DEF-101_ULTRATHINK_VIABILITY_ANALYSIS.md
  docs/analyses/DEF-XXX_DEF110_CAUSALITY_ULTRATHINK.md
  docs/analyses/DEF-XXX_VOORBEELDEN_SAVE_FAILURE_QUICK_REFERENCE.md
  docs/analyses/DEF-XXX_VOORBEELDEN_SAVE_FAILURE_ROOT_CAUSE.md
  docs/analyses/SECURITY_AUDIT_REPORT.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-101_ANALYSIS_INDEX.html
  docs/portal/rendered/analyses/DEF-101_DECISION_FLOWCHART.html
  docs/portal/rendered/analyses/DEF-101_EXECUTIVE_DECISION_BRIEF.html
  docs/portal/rendered/analyses/DEF-101_ULTRATHINK_VIABILITY_ANALYSIS.html
  docs/portal/rendered/analyses/DEF-XXX_DEF110_CAUSALITY_ULTRATHINK.html
  docs/portal/rendered/analyses/DEF-XXX_VOORBEELDEN_SAVE_FAILURE_QUICK_REFERENCE.html
  docs/portal/rendered/analyses/DEF-XXX_VOORBEELDEN_SAVE_FAILURE_ROOT_CAUSE.html
  docs/portal/rendered/analyses/SECURITY_AUDIT_REPORT.html
  src/database/definitie_repository.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs(DEF-126): add comprehensive prompt module transformation analysis
  docs/analyses/DEF-126_MODULES_QUICK_REFERENCE.md
  docs/analyses/PROMPT_MODULE_ACTION_CHECKLIST.md
  docs/analyses/PROMPT_MODULE_CONSOLIDATION_VISUAL.md
  docs/analyses/PROMPT_MODULE_OPTIMIZATION_ANALYSIS.md
  docs/analyses/PROMPT_MODULE_OPTIMIZATION_INDEX.md
  docs/analyses/PROMPT_MODULE_OPTIMIZATION_SUMMARY.md
  docs/analyses/PROMPT_OPTIMIZATION_EXECUTIVE_BRIEF.md
  docs/analyses/PROMPT_OPTIMIZATION_INDEX.md
  docs/analyses/PROMPT_OPTIMIZATION_ULTRATHINK_ANALYSIS.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-126_MODULES_QUICK_REFERENCE.html
  docs/portal/rendered/analyses/DEF-151_PROMPT_MODULES_ANALYSIS.html
  docs/portal/rendered/analyses/DEF-151_PROMPT_MODULE_TRANSFORMATION_ANALYSIS.html
  docs/portal/rendered/analyses/PROMPT_MODULE_ACTION_CHECKLIST.html
  docs/portal/rendered/analyses/PROMPT_MODULE_CONSOLIDATION_VISUAL.html
  docs/portal/rendered/analyses/PROMPT_MODULE_OPTIMIZATION_ANALYSIS.html
  docs/portal/rendered/analyses/PROMPT_MODULE_OPTIMIZATION_INDEX.html
  docs/portal/rendered/analyses/PROMPT_MODULE_OPTIMIZATION_SUMMARY.html
  docs/portal/rendered/analyses/PROMPT_OPTIMIZATION_EXECUTIVE_BRIEF.html
  docs/portal/rendered/analyses/PROMPT_OPTIMIZATION_INDEX.html
  docs/portal/rendered/analyses/PROMPT_OPTIMIZATION_ULTRATHINK_ANALYSIS.html
Due: generate-portal-on-docs-change

docs(DEF-126): add detailed implementation plan with stakeholder focus
  docs/implementation/DEF-126_EXECUTIVE_SUMMARY.md
  docs/implementation/DEF-126_IMPLEMENTATION_PLAN.md
Due: generate-portal-on-docs-change

docs(DEF-126): add complete document index for all analyses and plans
  docs/implementation/DEF-126_DOCUMENT_INDEX.md
Due: generate-portal-on-docs-change

feat(DEF-126): minimale stakeholder focus transformatie (3 strings)
  docs/analyses/DEF-151_MODULES_QUICK_REFERENCE.md
  docs/analyses/DEF-151_PROMPT_MODULES_ANALYSIS.md
  docs/analyses/DEF-151_PROMPT_MODULE_TRANSFORMATION_ANALYSIS.md
  docs/analyses/PROMPT_MODULE_FORENSIC_DEBUG_REPORT.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-151_MODULES_QUICK_REFERENCE.html
  docs/portal/rendered/analyses/PROMPT_MODULE_FORENSIC_DEBUG_REPORT.html
  docs/portal/rendered/implementation/DEF-126_DOCUMENT_INDEX.html
  docs/portal/rendered/implementation/DEF-126_EXECUTIVE_SUMMARY.html
  docs/portal/rendered/implementation/DEF-126_IMPLEMENTATION_PLAN.html
  project-documentation/DEF-126-business-value-assessment.md
  project-documentation/product-manager-output.md
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/error_prevention_module.py
  src/services/prompts/modules/expertise_module.py
  tests/debug/test_contradictions.py
  tests/services/prompts/modules/TEST_SUMMARY_DEF126.md
  tests/services/prompts/modules/test_definition_task_transformation.py
  tests/services/prompts/modules/test_expertise_transformation.py
  tests/services/prompts/modules/test_quality_enhancement.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

refactor(DEF-154): remove word_type_advice from ExpertiseModule
  docs/reviews/DEF-154_TEST_ANALYSIS_REPORT.md
  docs/reviews/DEF-154_WORD_TYPE_ADVICE_REMOVAL_REVIEW.md
  src/services/prompts/modules/expertise_module.py
  tests/debug/test_def154_downstream_integration.py
  tests/debug/test_def154_prompt_output.py
  tests/debug/test_def154_verification.py
  tests/integration/test_def_154_prompt_module_pipeline.py
  tests/services/prompts/modules/test_expertise_transformation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

style(DEF-154): apply ruff auto-fixes to test decorators
  tests/integration/test_def_154_prompt_module_pipeline.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(database): resolve definities_old FK errors + comprehensive analysis docs
  docs/analyses/DEF-126-ACTION-CHECKLIST.md
  docs/analyses/DEF-126-ANALYSIS-COMPLETE.md
  docs/analyses/DEF-126-CATEGORIE-SPECIFIEKE-INJECTIE.md
  docs/analyses/DEF-126-CONTEXT-CONSOLIDATION-IMPLEMENTATION-PLAN.md
  docs/analyses/DEF-126-CONTEXT-INJECTION-SUMMARY.md
  docs/analyses/DEF-126-EXECUTIVE-RISK-SUMMARY.md
  docs/analyses/DEF-126-IMPLEMENTATION-PLAN.md
  docs/analyses/DEF-126-ONTOLOGICAL-INJECTION-FORENSIC-ANALYSIS.md
  docs/analyses/DEF-126-ONTOLOGISCHE-CATEGORIE-MAPPING.md
  docs/analyses/DEF-126-PROMPT-SYSTEM-ARCHITECTURE.md
  docs/analyses/DEF-126-REDUNDANTIE-OPLOSSING.md
  docs/analyses/DEF-126-RISK-ASSESSMENT-FMEA.md
  docs/analyses/PROMPT_MODULE_MAPPING.md
  docs/portal/portal-index.json
  docs/portal/rendered/analyses/DEF-126-ACTION-CHECKLIST.html
  docs/portal/rendered/analyses/DEF-126-ANALYSIS-COMPLETE.html
  docs/portal/rendered/analyses/DEF-126-CATEGORIE-SPECIFIEKE-INJECTIE.html
  docs/portal/rendered/analyses/DEF-126-CONTEXT-CONSOLIDATION-IMPLEMENTATION-PLAN.html
  docs/portal/rendered/analyses/DEF-126-CONTEXT-INJECTION-SUMMARY.html
  docs/portal/rendered/analyses/DEF-126-EXECUTIVE-RISK-SUMMARY.html
  docs/portal/rendered/analyses/DEF-126-IMPLEMENTATION-PLAN.html
  docs/portal/rendered/analyses/DEF-126-ONTOLOGICAL-INJECTION-FORENSIC-ANALYSIS.html
  docs/portal/rendered/analyses/DEF-126-ONTOLOGISCHE-CATEGORIE-MAPPING.html
  docs/portal/rendered/analyses/DEF-126-PROMPT-SYSTEM-ARCHITECTURE.html
  docs/portal/rendered/analyses/DEF-126-REDUNDANTIE-OPLOSSING.html
  docs/portal/rendered/analyses/DEF-126-RISK-ASSESSMENT-FMEA.html
  docs/portal/rendered/analyses/PROMPT_MODULE_MAPPING.html
  docs/portal/rendered/reviews/DEF-154_WORD_TYPE_ADVICE_REMOVAL_REVIEW.html
  scripts/fix_definities_old_fk.py
  tests/debug/test_contradictions.py
  tests/debug/test_def126_redundancy.py
  tests/debug/test_def126_simple.py
  tests/services/prompts/modules/test_definition_task_transformation.py
  tests/services/prompts/modules/test_quality_enhancement.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs(DEF-126): add comprehensive multi-agent analysis
  docs/analyses/DEF-126-MULTI-AGENT-ANALYSIS-EXECUTIVE-SUMMARY.md
  docs/analyses/DEF-126-QUICK-DECISION-GUIDE.md
  docs/analyses/DEF-126-RECOMMENDED-IMPLEMENTATION-PLAN.md
Due: generate-portal-on-docs-change

refactor(docs): hernoem DEF-126 analyses naar DEF-155
  docs/analyses/DEF-155-ACTION-CHECKLIST.md
  docs/analyses/DEF-155-ANALYSIS-COMPLETE.md
  docs/analyses/DEF-155-CATEGORIE-SPECIFIEKE-INJECTIE.md
  docs/analyses/DEF-155-CONTEXT-CONSOLIDATION-IMPLEMENTATION-PLAN.md
  docs/analyses/DEF-155-CONTEXT-INJECTION-SUMMARY.md
  docs/analyses/DEF-155-CRITICAL-VALIDATION-REPORT.md
  docs/analyses/DEF-155-EXECUTIVE-RISK-SUMMARY.md
  docs/analyses/DEF-155-IMPLEMENTATION-PLAN.md
  docs/analyses/DEF-155-MULTI-AGENT-ANALYSIS-EXECUTIVE-SUMMARY.md
  docs/analyses/DEF-155-ONTOLOGICAL-INJECTION-FORENSIC-ANALYSIS.md
  docs/analyses/DEF-155-ONTOLOGISCHE-CATEGORIE-MAPPING.md
  docs/analyses/DEF-155-PROMPT-SYSTEM-ARCHITECTURE.md
  docs/analyses/DEF-155-QUICK-DECISION-GUIDE.md
  docs/analyses/DEF-155-RECOMMENDED-IMPLEMENTATION-PLAN.md
  docs/analyses/DEF-155-REDUNDANTIE-OPLOSSING.md
  docs/analyses/DEF-155-RISK-ASSESSMENT-FMEA.md
  docs/analyses/DEF-155-ULTRATHINK-CONSENSUS-ANALYSIS.md
  docs/reviews/DEF-126-IMPLEMENTATION-PLAN-REVIEW.md
  docs/reviews/DEF-126-REVIEW-SUMMARY.md
Due: generate-portal-on-docs-change

refactor(docs): cleanup DEF-126 documenten - behoud alleen executive summary
  docs/analyses/DEF-126_MODULES_QUICK_REFERENCE.md
  docs/implementation/DEF-126_DOCUMENT_INDEX.md
  docs/implementation/DEF-126_IMPLEMENTATION_PLAN.md
  docs/reviews/DEF-155-IMPLEMENTATION-PLAN-REVIEW.md
  docs/reviews/DEF-155-REVIEW-SUMMARY.md
Due: generate-portal-on-docs-change

fix(DEF-155): resolve all 3 critical issues from implementation plan review
  docs/analyses/DEF-155-MULTI-AGENT-ANALYSIS-EXECUTIVE-SUMMARY.md
  docs/analyses/DEF-155-QUICK-DECISION-GUIDE.md
  docs/analyses/DEF-155-RECOMMENDED-IMPLEMENTATION-PLAN.md
  docs/reviews/DEF-155-CRITICAL-FIXES-APPLIED.md
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/modules/metrics_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(cache): resolve race condition in @cached decorator with function-level lock
  CLAUDE.md
  docs/architectuur/ENTERPRISE_ARCHITECTURE.md
  docs/architectuur/README.md
  docs/architectuur/SOLUTION_ARCHITECTURE.md
  docs/architectuur/TECHNICAL_ARCHITECTURE.md
  docs/guidelines/CANONICAL_LOCATIONS.md
  src/toetsregels/cached_manager.py
  src/toetsregels/rule_cache.py
  src/utils/cache.py
  tests/unit/test_cache_utilities_comprehensive.py
  tests/unit/test_container_cache_singleton.py
  tests/utils/test_cached_decorator_concurrency.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

feat(DEF-156): consolidate JSON-based rules + fix RuleCache prompt content
  docs/analyses/CACHED_DECORATOR_RACE_CONDITION_PROOF.md
  docs/analyses/DEF-155-IMPLEMENTATION-EFFECTIVENESS-ANALYSIS.md
  docs/analyses/DEF-155-MULTI-AGENT-CONSENSUS-REPORT.md
  docs/analyses/DEF-155-NEXT-STEPS.md
  docs/analyses/DEF-156-ARCHAEOLOGY-SUMMARY.txt
  docs/analyses/DEF-156-CODE-REVIEW-EXECUTIVE-SUMMARY.md
  docs/analyses/DEF-156-CODEBASE-ARCHAEOLOGY-REPORT.md
  docs/analyses/DEF-156-CONSOLIDATIE-VOORSTEL.md
  docs/analyses/DEF-156-CONTEXT-FLOW-DIAGRAM.md
  docs/analyses/DEF-156-EXECUTIVE-SUMMARY.md
  docs/analyses/DEF-156-PHASE-1-RESULTATEN.md
  docs/analyses/DEF-156-PRE-CONSOLIDATION-CHECK.md
  docs/analyses/DEF-156-PROMPT-MODULE-CODE-REVIEW.md
  docs/analyses/DEF-156-ROOT-CAUSE-ANALYSIS.md
  docs/analyses/DEF-156-ULTRATHINK-ANALYSIS-FINAL.md
  docs/analyses/PROMPT_TEMPLATE_BLOAT_ANALYSIS.md
  docs/analyses/RACE_CONDITION_ANALYSIS_INDEX.md
  docs/analyses/RACE_CONDITION_EXECUTIVE_SUMMARY.md
  docs/analyses/RACE_CONDITION_TIMELINE.md
  docs/analyses/TOETSREGEL_FILE_IO_EVIDENCE.md
  docs/architectuur/ARCHITECTURE.md
  docs/backlog/EPIC-010/DEF-156/COMPLETE_MODULE_DOCUMENTATION.md
  docs/backlog/EPIC-010/US-156/DEF-156-ARCHITECTURE-DIAGRAM.md
  docs/backlog/EPIC-010/US-156/DEF-156-CONSOLIDATION-ARCHITECTURE.md
  src/services/prompts/modular_prompt_adapter.py
  src/services/prompts/modules/__init__.py
  src/services/prompts/modules/arai_rules_module.py
  src/services/prompts/modules/con_rules_module.py
  src/services/prompts/modules/ess_rules_module.py
  src/services/prompts/modules/json_based_rules_module.py
  src/services/prompts/modules/sam_rules_module.py
  src/services/prompts/modules/ver_rules_module.py
  src/toetsregels/rule_cache.py
  tests/services/prompts/test_json_based_rules_consolidation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(DEF-156): resolve voorbeelden data loss in Bewerk tab + add auto-save confirmation
  src/services/definition_repository.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/definition_generator_tab.py
  src/ui/helpers/examples.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-157): add integrated prompt improvement analysis & roadmap
  docs/analyses/INTEGRATED_PROMPT_IMPROVEMENT_STRATEGY.md
  docs/analyses/PROMPT_ULTRA_ANALYSIS_2025-11-17.md
  docs/implementation-plans/prompt-orchestrator-roadmap.md
Due: generate-portal-on-docs-change

feat(prompt): migrate STR/INT to JSONBasedRulesModule + add KISS enforcement
  CLAUDE.md
  src/services/prompts/modular_prompt_adapter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(instructions): fix hierarchy conflict + cleanup old prompt analysis docs
  AGENTS.md
  docs/analyses/PROMPT_ANALYSIS_CONSENSUS_REPORT.md
  docs/analyses/PROMPT_ARCHITECTURE_ANALYSIS.md
  docs/analyses/PROMPT_COMPREHENSIVE_ANALYSIS_AND_IMPROVEMENT_PLAN.md
  docs/analyses/PROMPT_MODULE_ACTION_CHECKLIST.md
  docs/analyses/PROMPT_MODULE_CONSOLIDATION_VISUAL.md
  docs/analyses/PROMPT_MODULE_FORENSIC_DEBUG_REPORT.md
  docs/analyses/PROMPT_MODULE_MAPPING.md
  docs/analyses/PROMPT_MODULE_OPTIMIZATION_ANALYSIS.md
  docs/analyses/PROMPT_MODULE_OPTIMIZATION_INDEX.md
  docs/analyses/PROMPT_MODULE_OPTIMIZATION_SUMMARY.md
  docs/analyses/PROMPT_OPTIMIZATION_ANALYSIS.md
  docs/analyses/PROMPT_OPTIMIZATION_EXECUTIVE_BRIEF.md
  docs/analyses/PROMPT_OPTIMIZATION_INDEX.md
  docs/analyses/PROMPT_OPTIMIZATION_SUMMARY.md
  docs/analyses/PROMPT_OPTIMIZATION_ULTRATHINK_ANALYSIS.md
  docs/analyses/PROMPT_TEMPLATE_BLOAT_ANALYSIS.md
  docs/analyses/PROMPT_ULTRA_ANALYSIS_2025-11-17.md
  docs/analyses/PROMPT_VS_PARSING_ANALYSIS.md
Due: generate-portal-on-docs-change

docs(prompt): add 1-page action plan, archive 45 analysis docs
  docs/PROMPT_ACTION_PLAN.md
Due: generate-portal-on-docs-change

docs(claude): consolidate CLAUDE.md + CLAUDE_QUICK.md into v3.0
  CLAUDE.md
Due: none

docs(analysis): instruction files optimization research & deliverables
  CLAUDE.md.v4.0
  docs/analyses/FINAL_DELIVERABLES_CHECKLIST.md
  docs/analyses/IMPLEMENTATION_ROADMAP.md
  docs/analyses/INSTRUCTION_FILES_OPTIMIZATION_ANALYSIS.md
  docs/analyses/INSTRUCTION_OPTIMIZATION_EXECUTIVE_SUMMARY.md
  docs/analyses/OPTIMIZATION_STRATEGY.md
  docs/planning/INSTRUCTION_OPTIMIZATION_OPDRACHT.md
  tests/integration/test_instruction_optimization.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

docs(claude): deploy CLAUDE.md v4.0 - 20% token reduction
  CLAUDE.md
  CLAUDE.md.v4.0
  src/services/prompts/modular_prompt_adapter.py
  src/services/prompts/modules/__init__.py
  tests/services/prompts/modules/test_quality_enhancement.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(prompt): disable ErrorPreventionModule - redundant with JSONBasedRulesModule (DEF-169)
  src/services/prompts/modular_prompt_adapter.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
