Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

docs(DEF-835): Manifest v11 als technische herstart van v10 (besluit 24)
  .gitleaks.toml
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/gitleaks-metadata-akkoord-v2.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-akkoord-v11.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-manifest-v11.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatie-payloads-v11.json
  docs/technisch/def522-secret-scan-runbook.md
Due: none

docs(DEF-835): Leg uitslag v11 vast — fase 1+2 geslaagd (23/24, 0 onterechte passes)
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11-uitslag-v1.md
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/grootboek.jsonl
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/grootboek.slot
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/ontwikkeling-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/ontwikkeling-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/ontwikkeling-resultaat.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/regressie-afronding.voltooid
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/regressie-bundel.json
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/goldset-voorbereiding/goldset-freeze-v1/kwalificatieproef-v11/regressie-resultaat.json
Due: none

docs(DEF-835): Besluit 25 — O2-onderdeel afgerond, hold-out uitgesteld
  docs/analyses/def606-regeldossiers/INT-02-verdieping/onderzoek-20260925/gedeeld/uitvoering/o2/besluit-chris-promptcorrectie-en-v3-v1.md
Due: none

Validatie: CON-02, ESS-03 en INT-03 gelijktijdig beoordelen
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/validation/ess03_assessment_service.py
  tests/unit/services/orchestrators/test_beoordelingen_gelijktijdig.py
  tests/unit/validation/test_pogingenteller_gelijktijdig.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Pogingenteller: een blijvend dispatcherfilter i.p.v. filters per aanroep
  src/services/validation/ess03_assessment_service.py
  tests/unit/validation/test_pogingenteller_gelijktijdig.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Voorbeelden: max_tokens 3000 voor praktijk- en tegenvoorbeelden
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_unified_voorbeelden_max_tokens.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Generatie: toetsing gelijktijdig met de voorbeelden
  src/services/orchestrators/definition_orchestrator_v2.py
  tests/unit/services/orchestrators/test_toetsing_naast_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Voorbeelden: timeout 60 s voor praktijk- en tegenvoorbeelden
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_def840_generatie_timeout.py
  tests/unit/test_unified_voorbeelden_max_tokens.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Test toetsing naast voorbeelden: vergelijk met echte sequentiele referentie
  tests/unit/services/orchestrators/test_toetsing_naast_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-846: regelingenregister — matrix wet- en regelgeving × rechtsgebied
  config/bronnenlijst.yaml
  config/config.yaml
  docs/analyses/2026-10-09-rag-meting/matrix-concept-v1.md
  docs/analyses/2026-10-09-rag-meting/matrix-concept-v2.md
  docs/analyses/2026-10-09-rag-meting/meet-v1.py
  docs/analyses/2026-10-09-rag-meting/resultaat-v1.json
  docs/analyses/2026-10-09-rag-meting/werkstaat.md
  docs/plans/2026-10-09-RAG-kwaliteit-werkplan-v1.md
  docs/plans/2026-10-09-RAG-kwaliteit-werkplan-v2.md
  scripts/rag_bronnenlijst.py
  src/config/config_manager.py
  src/domain/sources/regelingen.py
  src/services/validation/context_validator.py
  src/ui/components.py
  src/ui/components/context_state_cleaner.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/enhanced_context_manager_selector.py
  tests/unit/domain/test_def846_regelingenregister.py
  tests/unit/scripts/test_def620_bronnenlijst.py
  tests/unit/ui/test_def846_wettelijke_basis_opties.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

DEF-846: reviewbevindingen verwerkt
  config/bronnenlijst.yaml
  docs/analyses/2026-10-09-rag-meting/werkstaat.md
  scripts/maintenance/debug_session_state.py
  scripts/rag_bronnenlijst.py
  src/domain/sources/regelingen.py
  src/main.py
  src/ui/components/definition_edit_tab.py
  src/ui/components/enhanced_context_manager_selector.py
  tests/unit/domain/test_def846_regelingenregister.py
  tests/unit/scripts/test_def620_bronnenlijst.py
  tests/unit/ui/test_def846_wettelijke_basis_opties.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check
