Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(DEF-123): implement context-aware module loading
  src/services/definition_generator_context.py
  src/services/prompts/modules/prompt_orchestrator.py
  tests/services/prompts/test_prompt_orchestrator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-123): implement context-aware module loading (#112)
  src/services/definition_generator_context.py
  src/services/prompts/modules/prompt_orchestrator.py
  tests/services/prompts/test_prompt_orchestrator.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-135): transform validation rules to instruction language
  src/services/prompts/modules/integrity_rules_module.py
  src/services/prompts/modules/structure_rules_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-135): transform validation rules to instruction language (#113)
  src/services/prompts/modules/integrity_rules_module.py
  src/services/prompts/modules/structure_rules_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-140): extract _generate_scores() into 5 focused methods
  src/ontologie/improved_classifier.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-140): extract _generate_scores() into 5 focused methods (#115)
  src/ontologie/improved_classifier.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(DEF-141): extract DefinitionGenerationHandler from TabbedInterface
  src/ui/handlers/__init__.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-141): extract DocumentUploadRenderer from TabbedInterface
  src/ui/renderers/__init__.py
  src/ui/renderers/document_upload_renderer.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-283): add macOS desktop launcher for DefinitieAgent
  .gitignore
  scripts/build_macos_app.sh
  scripts/deployment/launcher.sh
Due: none

refactor(DEF-141): extract GlobalContextRenderer from TabbedInterface
  src/ui/renderers/__init__.py
  src/ui/renderers/global_context_renderer.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-141): split tabbed_interface.py god object into focused modules (#116)
  .gitignore
  scripts/build_macos_app.sh
  scripts/deployment/launcher.sh
  src/ui/handlers/__init__.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/renderers/__init__.py
  src/ui/renderers/document_upload_renderer.py
  src/ui/renderers/global_context_renderer.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF): implement provider-agnostic AI architecture with sidebar UI
  requirements.txt
  src/config/config_manager.py
  src/services/ai/__init__.py
  src/services/ai/anthropic_client.py
  src/services/ai/base_client.py
  src/services/ai/openai_client.py
  src/services/ai_service_v2.py
  src/services/container.py
  src/services/definition_generator_config.py
  src/ui/components/ai_provider_sidebar.py
  src/ui/tabbed_interface.py
  src/utils/async_api.py
  src/utils/enhanced_retry.py
  tests/test_ai_clients.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF): implement provider-agnostic AI architecture with sidebar UI (#118)
  requirements.txt
  src/config/config_manager.py
  src/services/ai/__init__.py
  src/services/ai/anthropic_client.py
  src/services/ai/base_client.py
  src/services/ai/openai_client.py
  src/services/ai_service_v2.py
  src/services/container.py
  src/services/definition_generator_config.py
  src/ui/components/ai_provider_sidebar.py
  src/ui/tabbed_interface.py
  src/utils/async_api.py
  src/utils/enhanced_retry.py
  tests/test_ai_clients.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

refactor(DEF-309): convert 290 print() statements to structured logging
  src/config/config_manager.py
  src/database/migrate_database.py
  src/monitoring/api_monitor.py
  src/security/security_middleware.py
  src/services/web_lookup/juridisch_ranker.py
  src/services/web_lookup/sru_service.py
  src/services/web_lookup/wikipedia_service.py
  src/services/web_lookup/wikipedia_synonym_extractor.py
  src/services/web_lookup/wiktionary_service.py
  src/toetsregels/adapter.py
  src/toetsregels/manager.py
  src/tools/definitie_manager.py
  src/tools/setup_database.py
  src/utils/container_manager.py
  src/utils/enhanced_retry.py
  src/utils/integrated_resilience.py
  src/utils/resilience.py
  src/utils/smart_rate_limiter.py
  src/validation/definitie_validator.py
  src/validation/dutch_text_validator.py
  src/validation/input_validator.py
  src/validation/sanitizer.py
  src/voorbeelden/unified_voorbeelden.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-309): remove 53 unused/dev-only dependencies from requirements.txt
  requirements.txt
Due: none

fix(DEF): harden AI clients with validation, sanitization, and timeouts
  src/services/ai/__init__.py
  src/services/ai/anthropic_client.py
  src/services/ai/base_client.py
  src/services/ai/openai_client.py
  tests/test_ai_clients.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF): clean up gitignore and remove tracked runtime artifacts
  .gitignore
  data/uploaded_documents/documents_metadata.json
Due: none

docs(DEF): add architecture documentation
  .gitignore
  docs/definitie-app-architecture.md
Due: none

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
