Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(DEF-174): fix gitleaks fingerprints and make coverage advisory
  .github/workflows/test.yml
  .gitleaksignore
Due: none

fix(DEF-174): install ripgrep in CI + make docs-integrity advisory
  .github/workflows/docs-integrity.yml
  .github/workflows/quality-gates.yml
Due: none

fix(DEF-174): resolve CI/CD failures - 5 fixes (#63)
  .github/workflows/contract-tests.yml
  .github/workflows/docs-integrity.yml
  .github/workflows/epic-010-gates.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitleaksignore
  scripts/fetch_linear_issues.py
  tests/services/orchestrators/test_definition_orchestrator_v2_enhancement_success.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore: ruff autofix formatting (imports + blank lines)
  src/services/definition_repository.py
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/tabs/import_export_beheer/bulk_operations.py
  src/ui/components/tabs/import_export_beheer/csv_importer.py
  src/ui/components/tabs/import_export_beheer/database_manager.py
  src/ui/components/tabs/import_export_beheer/format_exporter.py
  src/ui/components/tabs/import_export_beheer/orchestrator.py
  src/ui/services/definition_ui_service.py
  src/ui/tabbed_interface.py
  tests/ci/test_forbidden_symbols.py
  tests/compliance/test_astra_nora_context_compliance.py
  tests/debug/test_ufo_classifier_bugs_reproduction.py
  tests/functionality/test_deep_functionality.py
  tests/integration/test_improved_web_lookup.py
  tests/legacy/test_legacy_vs_new_parity.py
  tests/performance/test_context_flow_performance.py
  tests/performance/test_story_2_4_performance.py
  tests/regression/test_story_2_4_regression.py
  tests/security/test_async_security_comprehensive.py
  tests/services/test_batch_validation.py
  tests/services/test_service_factory_overall_score_fix.py
  tests/services/test_ufo_classifier_edge_cases.py
  tests/services/test_ufo_classifier_service_comprehensive.py
  tests/services/test_validation_performance_baseline.py
  tests/services/validation/test_mappers.py
  tests/test_regression_suite.py
  tests/unit/test_cache_system.py
  tests/unit/test_context_payload_schema.py
  tests/unit/test_feature_flags_context_flow.py
  tests/unit/test_story_2_4_unit.py
  tests/unit/test_us041_context_field_mapping.py
  tests/unit/test_us042_anders_option_fix.py
  tests/unit/test_us043_remove_legacy_routes.py
  tests/unit/web_lookup/test_modern_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-175): fix DefinitieRecord runtime NameError
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-170): remove dead code causing final mypy error
  src/services/prompts/modular_prompt_builder.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

style: format definition_generator_tab.py with Black
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(database): DEF-176 - Fix unbounded query in fuzzy match search
  src/database/definitie_repository.py
  src/database/migrations/20250126_def176_optimize_duplicates.sql
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(database): DEF-176 - Remove ineffective fuzzy matching + dead code
  src/database/definitie_repository.py
  src/services/container.py
  src/services/definition_repository.py
  src/services/duplicate_detection_service.py
  tests/services/test_duplicate_detection_service.py
  tests/smoke/test_critical_paths.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-176: Fix unbounded query + remove dead code (~750 LOC) (#66)
  src/database/definitie_repository.py
  src/database/migrations/20250126_def176_optimize_duplicates.sql
  src/services/container.py
  src/services/definition_repository.py
  src/services/duplicate_detection_service.py
  tests/services/test_duplicate_detection_service.py
  tests/smoke/test_critical_paths.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

perf(DEF-181): Add singleton caching to get_definitie_repository()
  src/database/definitie_repository.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

perf(DEF-181): Add first-load detection and connection validation
  src/database/definitie_repository.py
  src/main.py
  src/ui/cached_services.py
  src/utils/container_manager.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-177): Remove deprecated code (~235 LOC)
  src/analysis/toetsregels_usage_analysis.py
  src/services/prompts/prompt_service_v2.py
  tests/services/test_definition_generator_context_per007.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore: Remove outdated codebase analysis artifacts
  docs/analyse/codebase-analysis-consensus-report.md
  docs/analyse/codebase-analysis-corrected-output.json
  docs/analyse/codebase-analysis-output.json
Due: none

docs(DEF-38): Add implementation plan after multi-agent conflict analysis
  docs/implementation/DEF-38-implementation-plan.md
Due: none

docs: Add DEF-176 implementation docs and planning artifacts
  .gitignore
  docs/implementation/DEF-176-fix-unbounded-query.md
  docs/planning/LINEAR_ISSUE_VALIDATION_PLAN.md
  tests/manual/test_def176_duplicate_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

style: Format test file with Black
  tests/manual/test_def176_duplicate_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

style: fix ruff lint errors (import sort + f-string cleanup)
  tests/manual/test_def176_duplicate_performance.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

DEF-181: TabbedInterface Performance + Cleanup (#67)
  .gitignore
  docs/analyse/codebase-analysis-consensus-report.md
  docs/analyse/codebase-analysis-corrected-output.json
  docs/analyse/codebase-analysis-output.json
  docs/implementation/DEF-176-fix-unbounded-query.md
  docs/implementation/DEF-38-implementation-plan.md
  docs/planning/LINEAR_ISSUE_VALIDATION_PLAN.md
  src/analysis/toetsregels_usage_analysis.py
  src/database/definitie_repository.py
  src/main.py
  src/services/prompts/prompt_service_v2.py
  src/ui/cached_services.py
  src/utils/container_manager.py
  tests/manual/test_def176_duplicate_performance.py
  tests/services/test_definition_generator_context_per007.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

chore: remove deprecated portal workflow
  .github/workflows/portal.yml
Due: none

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
