Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(ci): update CI failures analysis with Phase 1 completion
  docs/analyses/CI_FAILURES_ANALYSIS.md
Due: generate-portal-on-docs-change

feat(github): add GitHub best practices and automation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  docs/analyses/GITHUB_BEST_PRACTICES.md
Due: generate-portal-on-docs-change

docs(workflow): add CI/CD methodology to project documentation
  CLAUDE.md
  docs/INDEX.md
Due: generate-portal-on-docs-change

feat(github): add auto-labeling and PR automation
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-size-labeler.yml
  CLAUDE.md
  scripts/setup-github-labels.sh
Due: none

docs(guides): add comprehensive testing guides for GitHub features
  docs/guides/BRANCH_PROTECTION_SETUP.md
  docs/guides/ISSUE_TEMPLATE_TESTING.md
Due: generate-portal-on-docs-change

docs(quick-ref): add GitHub setup TODO quick reference
  docs/quick-reference/GITHUB_SETUP_TODO.md
Due: generate-portal-on-docs-change

chore(docs): cleanup backup files and macOS artifacts
  docs/INDEX.md.linkfix_backup
  docs/archiveer-simpel.sh
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/INDEX.html
  docs/portal/rendered/analyses/CI_FAILURES_ANALYSIS.html
  docs/portal/rendered/analyses/GITHUB_BEST_PRACTICES.html
  docs/portal/rendered/guides/BRANCH_PROTECTION_SETUP.html
  docs/portal/rendered/quick-reference/GITHUB_SETUP_TODO.html
Due: none

fix(deps): downgrade mando to 0.7.1 for radon compatibility
  docs/portal/index.html
  docs/portal/portal-index.json
  requirements.txt
Due: none

fix(deps): downgrade mando to 0.7.1 for radon compatibility
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/INDEX.html
  docs/portal/rendered/analyses/CI_FAILURES_ANALYSIS.html
  docs/portal/rendered/analyses/GITHUB_BEST_PRACTICES.html
  docs/portal/rendered/guides/BRANCH_PROTECTION_SETUP.html
  docs/portal/rendered/quick-reference/GITHUB_SETUP_TODO.html
  requirements.txt
Due: none

security: add .gitleaksignore for already-rotated keys
  .gitleaksignore
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

fix: remove invalid wildcard entries from .gitleaksignore
  .gitleaksignore
Due: none

fix(database): add missing get_all() and get_by_status() methods to DefinitieRepository
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  file-size-check: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
