Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

fix-requirements-frontmatter:
  name: Normalize requirements frontmatter (policy)
  entry: python3 scripts/docs/fix_requirements_frontmatter.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: Run smoke tests (quick validation)
  entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

forbidden-patterns:
  name: Check forbidden patterns (streamlit in services)
  entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

streamlit-anti-patterns:
  name: Check Streamlit anti-patterns (DEF-56 lessons)
  entry: python3 scripts/check_streamlit_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

file-size-check:
  name: Warn on large files (>500 LOC)
  entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
  language: system
  stages:
  - pre-commit

validate-juridische-synoniemen:
  name: Validate juridische_synoniemen.yaml
  entry: python3 scripts/validate_synonyms.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(DEF-401): delete 22 dead/obsolete test files (-3966 LOC)
  tests/debug/analyze_module_overlap.py
  tests/debug/benchmark_lru_eviction.py
  tests/debug/benchmark_orchestrator_caching.py
  tests/debug/test_async_debug.py
  tests/debug/test_batch_import.py
  tests/debug/test_container_caching.py
  tests/debug/test_debug_voorbeelden.py
  tests/debug/test_def126_redundancy.py
  tests/debug/test_improved_async.py
  tests/debug/test_orchestrator_singleton.py
  tests/debug/test_overwrite_import.py
  tests/debug/test_prompt_token_analysis.py
  tests/debug/test_streamlit_caching.py
  tests/debug/verify_orchestrator_logging.py
  tests/manual/test_def99_fix.py
  tests/manual/test_us042_manual.py
  tests/manual_test_category.py
  tests/manual_test_enhanced_ui_flow.py
  tests/manual_test_prompt_debug.py
  tests/manual_test_regeneration.py
  tests/test_def138_fix.py
  tests/test_orchestrator_monitoring_fixes.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-402): clean up Makefile test targets and document in CLAUDE.md
  CLAUDE.md
  Makefile
Due: none

feat(DEF-400): mark slow tests and exclude from make test (82s → 10s)
  Makefile
  tests/services/test_synonym_orchestrator.py
  tests/services/web_lookup/test_sru_circuit_breaker.py
  tests/test_container.py
  tests/unit/test_anders_edge_cases.py
  tests/unit/test_cache_system.py
  tests/unit/test_smart_rate_limiter.py
  tests/web_lookup/test_e2e_orchestrator_prompt.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-398): verwijder lege oude test directories
  tests/golden/__init__.py
  tests/monitoring/__init__.py
  tests/monitoring/conftest.py
  tests/performance/__init__.py
  tests/regression/__init__.py
  tests/repositories/__init__.py
  tests/services/TEST_COVERAGE_OVERALL_SCORE.md
  tests/services/classification/__init__.py
  tests/services/orchestrators/__init__.py
  tests/services/prompts/modules/TEST_SUMMARY_DEF126.md
  tests/services/web_lookup/__init__.py
  tests/validation_rules/__init__.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-398): verwijder __init__.py uit test subdirs om namespace conflicten op te lossen
  pytest.ini
  tests/integration/compliance/__init__.py
  tests/integration/contracts/__init__.py
  tests/integration/contracts/test_validation_interface.py
  tests/integration/database/__init__.py
  tests/integration/functionality/__init__.py
  tests/integration/golden/__init__.py
  tests/integration/monitoring/__init__.py
  tests/integration/performance/__init__.py
  tests/integration/rate_limiting/__init__.py
  tests/integration/regression/__init__.py
  tests/integration/regression/test_validation_orchestrator_v2_regression.py
  tests/integration/repositories/__init__.py
  tests/integration/security/__init__.py
  tests/integration/services/__init__.py
  tests/integration/services/orchestrators/__init__.py
  tests/integration/services/prompts/__init__.py
  tests/integration/services/web_lookup/__init__.py
  tests/unit/database/__init__.py
  tests/unit/document_processing/__init__.py
  tests/unit/prompt/__init__.py
  tests/unit/rate_limiting/__init__.py
  tests/unit/security/__init__.py
  tests/unit/services/__init__.py
  tests/unit/services/classification/__init__.py
  tests/unit/services/orchestrators/__init__.py
  tests/unit/services/policies/__init__.py
  tests/unit/services/prompts/__init__.py
  tests/unit/services/prompts/modules/__init__.py
  tests/unit/services/web_lookup/__init__.py
  tests/unit/ui/__init__.py
  tests/unit/ui/components/__init__.py
  tests/unit/utils/__init__.py
  tests/unit/validation/__init__.py
  tests/unit/web_lookup/__init__.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

chore(DEF-189): verwijder dead code modules ai_toetser en hybrid_context (-2138 LOC)
  CLAUDE.md
  src/ai_toetser/__init__.py
  src/ai_toetser/modular_toetser.py
  src/ai_toetser/toetser.py
  src/ai_toetser/validators/__init__.py
  src/ai_toetser/validators/content_rules.py
  src/hybrid_context/__init__.py
  src/hybrid_context/context_fusion.py
  src/hybrid_context/hybrid_context_engine.py
  src/hybrid_context/smart_source_selector.py
  src/services/definition_generator_context.py
  src/toetsregels/json_validator_loader.py
  src/ui/handlers/definition_generation_handler.py
  tests/integration/performance/test_performance_comprehensive.py
  tests/integration/regression/test_regression_suite.py
  tests/unit/test_ai_toetser.py
  tests/unit/test_working_system.py
  tests/unit/validation/test_json_validators.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-390): verhoog logging bij JSON parse failures in context conversie
  src/services/definition_repository.py
  tests/unit/services/test_context_field_conversion.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-366,DEF-367): collection selector, zoek-test en chunk browser voor RAG management
  src/pages/rag_management.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/rag/rag_management_service.py
  src/services/rag/rag_service.py
  src/services/service_factory.py
  src/ui/handlers/definition_generation_handler.py
  src/ui/renderers/rag_management_renderer.py
  src/ui/tabbed_interface.py
  tests/unit/services/rag/test_rag_management_service.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-366): review fixes — embed 1x, cache selector, betere foutafhandeling
  src/services/rag/rag_service.py
  src/ui/renderers/rag_management_renderer.py
  src/ui/tabbed_interface.py
  tests/unit/services/orchestrators/test_orchestrator_rag_multi_collection.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

style(DEF-366): verwijder unused imports in orchestrator test
  tests/unit/services/orchestrators/test_orchestrator_rag_multi_collection.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-305): import v9 ontologisch model — 113 begrippen, 131 relaties
  scripts/import_v9_model.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_import_v9_model.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-305): review fixes — voorbeelden opslaan, idempotency, parse tests
  scripts/import_v9_model.py
  tests/unit/scripts/test_import_v9_model.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-403): OntologyModelService — dataclass + repository voor ontologie
  src/models/ontology_models.py
  src/services/container.py
  src/services/ontology/__init__.py
  src/services/ontology/ontology_model_service.py
  tests/unit/services/ontology/__init__.py
  tests/unit/services/ontology/test_ontology_model_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

Path conditions:
  fix-requirements-frontmatter: any of: ^docs/backlog/requirements/REQ-.*\.md$
  no-todo-markers: any of: \.py$
  pytest-smoke: any of: \.py$
  forbidden-patterns: any of: \.py$
  streamlit-anti-patterns: any of: ^src/ui/.*\.py$
  file-size-check: any of: \.py$
  validate-juridische-synoniemen: any of: ^config/juridische_synoniemen\.yaml$
