Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # isort - Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports (isort)
        args: ["--profile", "black"]
        types: [python]

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: generate-portal-on-docs-change
        name: Generate portal (docs â†’ portal)
        entry: bash scripts/docs/run_portal_generator.sh
        language: system
        pass_filenames: false
        files: ^docs/(?!portal/).+\.md$
        stages: [pre-commit]

fix(ci): comment out local package path in requirements.txt
  requirements.txt
Due: none

fix(ci): remove UNKNOWN==0.0.0 from requirements.txt
  requirements.txt
Due: none

refactor(lint): DEF-172 Phase 1 - fix 56 ruff errors (24% reduction)
  scripts/analysis/analyze_coverage.py
  scripts/analysis/analyze_coverage_targeted.py
  scripts/analysis/analyze_requirements.py
  scripts/analysis/analyze_test_performance.py
  scripts/analysis/analyze_test_scenarios.py
  scripts/analysis/deep_analysis.py
  scripts/docs/update_traceability.py
  scripts/docs/validate_migration.py
  scripts/fetch_linear_issues.py
  scripts/testing/final_verification.py
  scripts/testing/verify_history_removal.py
  tests/compliance/test_astra_nora_context_compliance.py
  tests/test_per007_single_source_red.py
  tests/test_regression_suite.py
  tests/unit/test_anders_edge_cases.py
  tests/unit/test_classification_single_path.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(lint): DEF-172 Phase 3 - test quality improvements (PT011/RUF043)
  tests/debug/test_ufo_classifier_bugs_reproduction.py
  tests/repositories/test_synonym_registry_delete.py
  tests/repositories/test_synonym_registry_idempotent.py
  tests/repositories/test_synonym_repository.py
  tests/security/test_security_comprehensive.py
  tests/services/test_duplicate_detection_service.py
  tests/services/test_export_service.py
  tests/services/test_ufo_classifier_edge_cases.py
  tests/services/test_ufo_classifier_service_comprehensive.py
  tests/services/test_workflow_service.py
  tests/services/web_lookup/test_weighted_synonyms.py
  tests/test_prompt_security_and_edge_cases.py
  tests/unit/test_cache_system.py
  tests/unit/test_working_system.py
  tests/unit/voorbeelden_functionality_tests.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

refactor(lint): DEF-172 Phase 2 - fix 44 HIGH-RISK errors (F821 + B023)
  docs/analysis/F821_ANALYSIS_SUMMARY.txt
  docs/analysis/F821_DETAILED_ERROR_TABLE.md
  docs/analysis/F821_ERROR_ANALYSIS_REPORT.md
  docs/analysis/F821_IMPLEMENTATION_CHECKLIST.md
  docs/analysis/F821_INDEX.md
  tests/compliance/test_astra_nora_context_compliance.py
  tests/performance/test_context_flow_performance.py
  tests/performance/test_performance.py
  tests/performance/test_performance_comprehensive.py
  tests/rate_limiting/test_rate_limiter.py
  tests/security/test_async_security_comprehensive.py
  tests/unit/test_cache_system.py
  tests/unit/test_feature_flags_context_flow.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check, generate-portal-on-docs-change

fix(prompt): remove conflicting LLM category question (Fix #1)
  src/services/prompts/modules/definition_task_module.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

docs(DEF-173): add multiagent analysis report
  docs/analyses/DEF-173-UI-IMPORT-VIOLATIONS-ANALYSIS.md
Due: generate-portal-on-docs-change

refactor(test): DEF-174 remove legacy tests + update pytest config
  data/uploaded_documents/documents_metadata.json
  pytest.ini
  tests/test_legacy_validation_removed.py
  tests/test_legacy_validation_removed_simple.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-173): resolve UI import violations in services/database layers
  .github/workflows/epic-010-gates.yml
  src/database/definitie_repository.py
  src/services/definition_repository.py
  src/services/orchestrators/validation_orchestrator_v2.py
  src/services/progress_context.py
  src/services/service_factory.py
  src/ui/helpers/examples.py
  src/utils/example_formatters.py
  src/utils/voorbeelden_debug.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(config): remove duplicate isort hook - ruff handles import sorting
  .pre-commit-config.yaml
Due: none

fix(DEF-173): sync local script exclusions with CI workflow
  scripts/ci/check-forbidden-patterns.sh
Due: none

fix(DEF-175): resolve database import violations in UI layer
  scripts/ci/check-forbidden-patterns.sh
  src/ui/components/definition_generator_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/tabs/import_export_beheer/bulk_operations.py
  src/ui/components/tabs/import_export_beheer/csv_importer.py
  src/ui/components/tabs/import_export_beheer/database_manager.py
  src/ui/components/tabs/import_export_beheer/format_exporter.py
  src/ui/components/tabs/import_export_beheer/orchestrator.py
  src/ui/services/definition_ui_service.py
  src/ui/tabbed_interface.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-174): resolve CI/CD failures - 5 fixes
  .github/workflows/contract-tests.yml
  .github/workflows/docs-integrity.yml
  .github/workflows/epic-010-gates.yml
  .gitleaksignore
  scripts/fetch_linear_issues.py
  tests/services/orchestrators/test_definition_orchestrator_v2_enhancement_success.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-174): additional CI fixes for PR checks
  .github/workflows/epic-010-gates.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none
