Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(import): convert SBB 'begrippen' CSV to canonical batch import CSV (36 rows), clean @nl tags; update converter to support NLSBB columns
  docs/portal/index.html
  docs/portal/portal-index.json
  samples/import/begrippen_import.csv
  scripts/import/convert_export_to_import_csv.py
Due: no-todo-markers

chore(import): add sample import CSVs and update conversion script
  docs/portal/index.html
  docs/portal/portal-index.json
  samples/import/begrippen (5).csv
Due: none

feat(status): add 'imported' status; set imported on new imports; allow workflow transitions (imported→review/draft/archived)
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/database/definitie_repository.py
  src/services/definition_import_service.py
  src/services/workflow_service.py
Due: no-todo-markers

fix(import/ui): treat NaN/None/null as empty in CSV import to avoid 'nan' values; chore(maintenance): add cleanup script to remove 'nan' from stored context lists
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/maintenance/cleanup_nan_contexts.py
  src/ui/components/management_tab.py
Due: no-todo-markers

fix(edit): stop persisting 'Anders...' selections; always persist resolved context lists; show 'imported' in status selector; fix CSV NaN in wet basis cleanup script
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/maintenance/cleanup_nan_contexts.py
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers

feat(ui): localize status labels in list/filter views (Geïmporteerd/Concept/In review/Vastgesteld/Gearchiveerd)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/management_tab.py
Due: no-todo-markers

feat(ui/edit): add 'Geïmporteerd' status filter and NL status badges in Edit tab
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/definition_edit_tab.py
Due: no-todo-markers

feat(management): add Archive (soft delete) and Permanent Delete actions in Database Browser; implement services hard_delete; confirm before actions
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/definition_repository.py
  src/ui/components/management_tab.py
Due: no-todo-markers

chore(portal): regenerate after UI validation view refactor
  data/definities.db
  docs/backlog/EPIC-004/EPIC-004.md
  docs/backlog/EPIC-004/US-235/US-235.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-004/EPIC-004.html
  docs/portal/rendered/backlog/EPIC-004/US-235/US-235.html
  src/ui/components/definition_edit_tab.py
  src/ui/components/expert_review_tab.py
  src/ui/components/validation_view.py
  src/voorbeelden/voorbeelden.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(EPIC-004): add US-235 per-onderdeel refresh knoppen; epic stories bijgewerkt
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

fix(ui/expert): render re-validation details full-width below actions using shared validation view; store result in session and rerun
  data/definities.db
  docs/portal/index.html
  docs/portal/portal-index.json
  src/ui/components/expert_review_tab.py
Due: no-todo-markers

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
