Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-requirements-frontmatter, no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check, validate-juridische-synoniemen

.pre-commit-config.yaml:

repos:
  # Ruff - Fast Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: Ruff linting
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  # Black - Code formatting
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        name: Black formatting
        types: [python]

  # NOTE: isort removed - Ruff handles import sorting via [tool.ruff.lint.isort]
  # Having both caused import splitting conflicts (see DEF-173 analysis)

  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false
        stages: [pre-commit]

  # Local custom hooks
  - repo: local
    hooks:
      - id: fix-requirements-frontmatter
        name: Normalize requirements frontmatter (policy)
        entry: python3 scripts/docs/fix_requirements_frontmatter.py
        language: system
        pass_filenames: false
        files: ^docs/backlog/requirements/REQ-.*\.md$
        stages: [pre-commit]
      - id: no-todo-markers
        name: Block TODO/FIXME markers in code
        entry: bash scripts/ci/check_no_todo_markers.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: block-root-db-files
        name: Block root-level *.db files
        entry: bash scripts/ci/check_no_root_db_files.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest-smoke
        name: Run smoke tests (quick validation)
        entry: bash -c 'pytest -m smoke --tb=short --maxfail=1 -q || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: forbidden-patterns
        name: Check forbidden patterns (streamlit in services)
        entry: bash -c 'bash scripts/ci/check-forbidden-patterns.sh || true'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
      - id: streamlit-anti-patterns
        name: Check Streamlit anti-patterns (DEF-56 lessons)
        entry: python3 scripts/check_streamlit_patterns.py
        language: system
        pass_filenames: false
        files: ^src/ui/.*\.py$
        stages: [pre-commit]
      - id: file-size-check
        name: Warn on large files (>500 LOC)
        entry: bash -c 'bash scripts/ci/check-file-size.sh || true'
        language: system
        types: [python]
        stages: [pre-commit]
      - id: validate-juridische-synoniemen
        name: Validate juridische_synoniemen.yaml
        entry: python3 scripts/validate_synonyms.py
        language: system
        pass_filenames: false
        files: ^config/juridische_synoniemen\.yaml$
        stages: [pre-commit]

feat(DEF-315): standaardiseer alle bronformatting naar XML-tags in prompts
  config/web_lookup_defaults.yaml
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/prompt_service_v2.py
  src/services/rag/rag_service.py
  src/services/web_lookup/provenance.py
  src/utils/xml_source_formatter.py
  tests/unit/prompt/test_prompt_snippet_injection.py
  tests/unit/utils/test_xml_source_formatter.py
  tests/unit/utils/test_xml_source_integration.py
  tests/web_lookup/test_config_loader.py
  tests/web_lookup/test_e2e_orchestrator_prompt.py
  tests/web_lookup/test_orchestrator_integration.py
  tests/web_lookup/test_prompt_augmentation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-315): code review fixes — deduplicate confidence_to_level, fix type hint
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/prompt_service_v2.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-315): standaardiseer alle bronformatting naar XML-tags in prompts (#134)
  config/web_lookup_defaults.yaml
  src/services/prompts/modules/context_awareness_module.py
  src/services/prompts/modules/definition_task_module.py
  src/services/prompts/prompt_service_v2.py
  src/services/rag/rag_service.py
  src/services/web_lookup/provenance.py
  src/utils/xml_source_formatter.py
  tests/unit/prompt/test_prompt_snippet_injection.py
  tests/unit/utils/test_xml_source_formatter.py
  tests/unit/utils/test_xml_source_integration.py
  tests/web_lookup/test_config_loader.py
  tests/web_lookup/test_e2e_orchestrator_prompt.py
  tests/web_lookup/test_orchestrator_integration.py
  tests/web_lookup/test_prompt_augmentation.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-314): ModelRouter met task_type routing — elimineer hardcoded model-namen
  config/config.yaml
  src/config/config_manager.py
  src/monitoring/api_monitor.py
  src/services/ai/model_router.py
  src/services/ai_service_v2.py
  src/services/container.py
  src/services/definition_generator_config.py
  src/services/service_factory.py
  src/services/synonym_orchestrator.py
  src/ui/components/ai_provider_sidebar.py
  src/ui/components/prompt_debug_section.py
  src/utils/async_api.py
  src/voorbeelden/async_voorbeelden.py
  src/voorbeelden/cached_voorbeelden.py
  src/voorbeelden/unified_voorbeelden.py
  src/voorbeelden/voorbeelden.py
  tests/unit/test_ai_service_v2_routing.py
  tests/unit/test_config_system.py
  tests/unit/test_model_router.py
  tests/unit/test_voorbeelden_context_expansion.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-314): review fixes — task_type routing, dead code cleanup, fallback defaults
  config/config.yaml
  src/config/config_manager.py
  src/monitoring/api_monitor.py
  src/services/definition_generator_config.py
  src/utils/integrated_resilience.py
  src/voorbeelden/__init__.py
  src/voorbeelden/async_voorbeelden.py
  src/voorbeelden/cached_voorbeelden.py
  src/voorbeelden/unified_voorbeelden.py
  src/voorbeelden/voorbeelden.py
  tests/unit/test_unified_voorbeelden_routing.py
  tests/unit/test_voorbeelden_context_expansion.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-314): ai_service als property — fix Anthropic provider-switch crash
  src/ui/components/ai_provider_sidebar.py
  src/voorbeelden/__init__.py
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_unified_voorbeelden_routing.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-314): 7 bugs uit finale review — config restore, provider sync, cache keys
  config/config.yaml
  src/services/ai/model_router.py
  src/services/ai_service_v2.py
  src/utils/integrated_resilience.py
  src/voorbeelden/unified_voorbeelden.py
  tests/unit/test_model_router.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-314): ModelRouter — model-agnostische routing layer (#135)
  config/config.yaml
  src/config/config_manager.py
  src/monitoring/api_monitor.py
  src/services/ai/model_router.py
  src/services/ai_service_v2.py
  src/services/container.py
  src/services/definition_generator_config.py
  src/services/service_factory.py
  src/services/synonym_orchestrator.py
  src/ui/components/ai_provider_sidebar.py
  src/ui/components/prompt_debug_section.py
  src/utils/async_api.py
  src/utils/integrated_resilience.py
  src/voorbeelden/__init__.py
  src/voorbeelden/async_voorbeelden.py
  src/voorbeelden/cached_voorbeelden.py
  src/voorbeelden/unified_voorbeelden.py
  src/voorbeelden/voorbeelden.py
  tests/unit/test_ai_service_v2_routing.py
  tests/unit/test_config_system.py
  tests/unit/test_model_router.py
  tests/unit/test_unified_voorbeelden_routing.py
  tests/unit/test_voorbeelden_context_expansion.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-314): fix 45 pre-existing test failures across 4 categories
  config/config.yaml
  src/services/ai/model_router.py
  tests/conftest.py
  tests/unit/test_config_system.py
  tests/unit/test_container_cache_singleton.py
  tests/unit/test_refactored_imports.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix(DEF-314): fix 45 pre-existing test failures across 4 categories (#136)
  config/config.yaml
  src/services/ai/model_router.py
  tests/conftest.py
  tests/unit/test_config_system.py
  tests/unit/test_container_cache_singleton.py
  tests/unit/test_refactored_imports.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-316): RAG token budget + web budget verhogen + ARAI-01 regex fix
  config/web_lookup_defaults.yaml
  src/services/prompts/prompt_service_v2.py
  src/toetsregels/regels/ARAI-01.json
  tests/unit/prompt/test_rag_token_budget.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

feat(DEF-316): RAG token budget + web budget verhogen + ARAI-01 regex fix (#137)
  config/web_lookup_defaults.yaml
  src/services/prompts/prompt_service_v2.py
  src/toetsregels/regels/ARAI-01.json
  tests/unit/prompt/test_rag_token_budget.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check

fix: resolve PyYAML missing in validate-juridische-synoniemen hook
  .pre-commit-config.yaml
Due: none

fix: resolve PyYAML missing in validate-juridische-synoniemen hook (#138)
  .pre-commit-config.yaml
Due: none

chore: stop tracking CLAUDE.md and .claude/ directory
  .gitignore
  CLAUDE.md
Due: none

feat(DEF-271): integreer RAG retrieval in orchestrator (Phase 2.6) + document ingest flow
  src/services/container.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/renderers/document_upload_renderer.py
  tests/integration/test_rag_pipeline_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

chore: stop tracking hookify local bestanden
  .claude/hookify.prompt-first-workflow.local.md
  .claude/hookify.silent-exception.local.md
Due: none

feat(DEF-271): integreer RAG retrieval in orchestrator (Phase 2.6) (#139)
  .claude/hookify.prompt-first-workflow.local.md
  .claude/hookify.silent-exception.local.md
  src/services/container.py
  src/services/interfaces.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/renderers/document_upload_renderer.py
  tests/integration/test_rag_pipeline_integration.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

feat(DEF-356): fix chunking architectuur voor PDF-extractie — volledige overhaul
  src/database/migrations/v5_migration.py
  src/services/rag/chunking_strategies.py
  src/services/rag/chunking_utils.py
  src/services/rag/embedding_service.py
  src/services/rag/legal_structure_recognizer.py
  src/services/rag/models.py
  src/services/rag/rag_service.py
  src/ui/renderers/document_upload_renderer.py
  tests/integration/test_rag_pipeline_integration.py
  tests/unit/services/rag/conftest.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_embedding_store.py
  tests/unit/services/rag/test_legal_structure_recognizer.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-358): los alle review-bevindingen DEF-356 chunking overhaul op
  src/database/migrations/v5_migration.py
  src/services/rag/chunking_strategies.py
  src/services/rag/chunking_utils.py
  src/services/rag/embedding_service.py
  src/services/rag/models.py
  src/ui/renderers/document_upload_renderer.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, streamlit-anti-patterns, file-size-check

fix(DEF-357): resterende review-bevindingen DEF-356 chunking
  src/services/rag/chunking_strategies.py
  src/services/rag/rag_service.py
  tests/unit/services/rag/test_chunking_strategies.py
  tests/unit/services/rag/test_rag_service.py
Due: no-todo-markers, pytest-smoke, forbidden-patterns, file-size-check
