Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test: add prompt modules unit tests (DefinitionTask, StructureRules, OutputSpecification, SemanticCategorisation)
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/services/prompts/test_modules_basic.py
Due: no-todo-markers

Portal: regenerate rendered pages after web lookup docs update (US-220, README, config)
  README.md
  docs/backlog/EPIC-003/US-220/US-220.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/US-220/US-220.html
  docs/portal/rendered/technisch/web_lookup_config.html
  docs/technisch/web_lookup_config.md
  tests/services/prompts/test_prompt_orchestrator.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(portal): regenerate portal artifacts (sync)
  docs/backlog/EPIC-020-PHOENIX/US-201/CFR-BUG-024/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-020-PHOENIX/US-201/CFR-BUG-024/README.html
  tests/services/prompts/test_context_awareness_module.py
  tests/services/validation/test_mappers_contract.py
  tests/unit/web_lookup/test_modern_service.py
Due: no-todo-markers, generate-portal-on-docs-change

test: add ContextAwarenessModule + mappers tests; include web_lookup unit test; update portal artifacts
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

test: add unit tests for ExpertiseModule and GrammarModule (word type detection, shared state, strict mode)
  docs/portal/index.html
  docs/portal/portal-index.json
  tests/services/prompts/test_grammar_and_expertise_modules.py
Due: no-todo-markers

Portal: regenerate after SRU/web lookup docs references updated by hooks
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-010/US-171/CFR-BUG-019/README.html
  src/services/modern_web_lookup_service.py
  src/services/web_lookup/sru_service.py
Due: no-todo-markers

docs(portal): regenerate after CFR-BUG-019 resolution
  docs/backlog/EPIC-010/US-171/CFR-BUG-019/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/testing/TESTING_GUIDE.md
  scripts/run_tests.sh
  tests/conftest.py
Due: no-todo-markers, generate-portal-on-docs-change

Docs/Tests: update testing guide + backlog note; add scripts/run_tests.sh; tweak tests/conftest.py\n\nExclude WIP validation service files from this commit.
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

Portal: regenerate after default web lookup timeout changed to 6.0s
  README.md
  docs/backlog/EPIC-003/US-220/US-220.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/US-220/US-220.html
  docs/portal/rendered/technisch/web_lookup_config.html
  docs/technisch/web_lookup_config.md
  scripts/test_web_lookup.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers, generate-portal-on-docs-change

Portal: regenerate after adding SRU/WL debug capability
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/testing/README.html
  docs/testing/README.md
  docs/testing/TEST_SUITE_IMPROVEMENT_PLAN.md
  src/services/modern_web_lookup_service.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/service_factory.py
  src/ui/components/definition_generator_tab.py
  src/utils/cache.py
  tests/conftest.py
  tests/mocks/streamlit_mock.py
Due: no-todo-markers, generate-portal-on-docs-change

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
