Repository Chris-Lehnen-ICT-CONSULTING/Definitie-app-zakelijk: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-markers, generate-portal-on-docs-change

no-todo-markers:
  name: Block TODO/FIXME markers in code
  entry: bash scripts/ci/check_no_todo_markers.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

generate-portal-on-docs-change:
  name: Generate portal (docs â†’ portal)
  entry: bash scripts/docs/run_portal_generator.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(test): expand plan with preflight/approval gates, strict-mode, naming/import canon, canonical locations, legacy test scope, degraded modes
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/testing/TEST_SUITE_IMPROVEMENT_PLAN.md
Due: generate-portal-on-docs-change

Portal: regenerate for default 10s web lookup timeout
  README.md
  docs/backlog/EPIC-003/US-220/US-220.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/US-220/US-220.html
  docs/portal/rendered/technisch/web_lookup_config.html
  docs/technisch/web_lookup_config.md
  scripts/test_web_lookup.py
  src/integration/definitie_checker.py
  src/orchestration/definitie_agent.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/toetsregels/rule_cache.py
  src/ui/components/definition_generator_tab.py
  src/utils/caching.py
  src/utils/container_manager.py
  src/utils/error_helpers.py
Due: no-todo-markers, generate-portal-on-docs-change

chore(CFR-BUG-023): update docstrings after removing Streamlit dependencies
  docs/portal/index.html
  docs/portal/portal-index.json
  src/toetsregels/rule_cache.py
  src/utils/container_manager.py
Due: no-todo-markers

docs(US-192): voortgang geüpdatet; CFR-BUG-023 opgelost\ndocs(CFR-BUG-023): markeer RESOLVED en voeg verificatiebewijzen toe\ndocs(portal): regeneratie index + rendered pagina’s
  docs/backlog/EPIC-002/US-192/US-192.md
  docs/backlog/EPIC-010/US-172/CFR-BUG-023/README.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-002/US-192/US-192.html
  docs/portal/rendered/backlog/EPIC-010/US-172/CFR-BUG-023/README.html
Due: generate-portal-on-docs-change

feat(validation): voeg verbeter-suggesties toe per toetsregel (V2)
  docs/portal/index.html
  docs/portal/portal-index.json
  src/services/validation/modular_validation_service.py
  src/ui/components/definition_generator_tab.py
Due: no-todo-markers

feat(migration): complete V1→V2 architecture migration and fix warnings
  .github/workflows/test.yml
  ACTUAL_SOLUTION_PLAN.md
  CRITICAL_ANALYSIS_RESULT.md
  REVISED_SOLUTION_PLAN.md
  data/definities.db
  docs/backlog/EPIC-003/Web_Lookup_Contextverrijking_Review.md
  docs/planning/COMPLETE_V2_MIGRATION_ACTION_PLAN.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/backlog/EPIC-003/Web_Lookup_Contextverrijking_Review.html
  docs/portal/rendered/planning/COMPLETE_V2_MIGRATION_ACTION_PLAN.html
  scripts/remove_legacy_methods.py
  scripts/run_tests.sh
  src/database/definitie_repository.py
  src/services/orchestrators/definition_orchestrator_v2.py
  src/services/validation/mappers.py
  src/services/validation/modular_validation_service.py
  src/ui/components/context_selector.py
  tests/contracts/test_validation_result_schema.py
  tests/golden/__init__.py
  tests/golden/test_data.py
  tests/golden/test_toetsregels_golden.py
  tests/services/orchestrators/test_definition_orchestrator_v2_happy.py
Due: no-todo-markers, generate-portal-on-docs-change

feat(toetsregels): legacy additional_patterns in V2 + goldens; update portal
  .github/workflows/test.yml
  docs/planning/COMPLETE_V2_MIGRATION_ACTION_PLAN.md
  docs/portal/index.html
  docs/portal/portal-index.json
  docs/portal/rendered/refactor-log.html
  docs/refactor-log.md
  docs/testing/V2_MIGRATION_COMPLETE_SUMMARY.md
  docs/testing/V2_MIGRATION_TEST_VERIFICATION_PLAN.md
  scripts/run_tests.sh
  src/services/validation/modular_validation_service.py
  tests/services/orchestrators/test_definition_orchestrator_v2_failure.py
  tests/validation/test_v2_golden_additional_patterns.py
Due: no-todo-markers, generate-portal-on-docs-change

docs(readme): update status to V2 complete; quality gates and structure notes
  README.md
  docs/portal/index.html
  docs/portal/portal-index.json
Due: none

test(orchestrator): add happy/failure/feedback integration flows; fix debug_info init; schema enum align; ui defensives; ci: raise services coverage advisory to 80%
  docs/portal/index.html
  docs/portal/portal-index.json
  scripts/run_tests.sh
  tests/services/orchestrators/test_definition_orchestrator_v2_feedback.py
Due: no-todo-markers

Path conditions:
  no-todo-markers: any of: \.py$
  generate-portal-on-docs-change: any of: ^docs/(?!portal/).+\.md$
